<?php

/**
 * Code generated by Speakeasy (https://speakeasyapi.dev). DO NOT EDIT.
 */

declare(strict_types=1);

namespace OpenAPI\OpenAPI;

class RegionOperations 
{

	// SDK private variables namespaced with _ to avoid conflicts with API models
	private \GuzzleHttp\ClientInterface $_defaultClient;
	private \GuzzleHttp\ClientInterface $_securityClient;
	private string $_serverUrl;
	private string $_language;
	private string $_sdkVersion;
	private string $_genVersion;	

	/**
	 * @param \GuzzleHttp\ClientInterface $defaultClient
	 * @param \GuzzleHttp\ClientInterface $securityClient
	 * @param string $serverUrl
	 * @param string $language
	 * @param string $sdkVersion
	 * @param string $genVersion
	 */
	public function __construct(\GuzzleHttp\ClientInterface $defaultClient, \GuzzleHttp\ClientInterface $securityClient, string $serverUrl, string $language, string $sdkVersion, string $genVersion)
	{
		$this->_defaultClient = $defaultClient;
		$this->_securityClient = $securityClient;
		$this->_serverUrl = $serverUrl;
		$this->_language = $language;
		$this->_sdkVersion = $sdkVersion;
		$this->_genVersion = $genVersion;
	}
	
    /**
     * Deletes the specified region-specific Operations resource.
     * 
     * @param \OpenAPI\OpenAPI\Models\Operations\ComputeRegionOperationsDeleteRequest $request
     * @param \OpenAPI\OpenAPI\Models\Operations\ComputeRegionOperationsDeleteSecurity $security
     * @return \OpenAPI\OpenAPI\Models\Operations\ComputeRegionOperationsDeleteResponse
     */
	public function computeRegionOperationsDelete(
        \OpenAPI\OpenAPI\Models\Operations\ComputeRegionOperationsDeleteRequest $request,
        \OpenAPI\OpenAPI\Models\Operations\ComputeRegionOperationsDeleteSecurity $security,
    ): \OpenAPI\OpenAPI\Models\Operations\ComputeRegionOperationsDeleteResponse
    {
        $baseUrl = $this->_serverUrl;
        $url = Utils\Utils::generateUrl($baseUrl, '/projects/{project}/regions/{region}/operations/{operation}', \OpenAPI\OpenAPI\Models\Operations\ComputeRegionOperationsDeleteRequest::class, $request);
        
        $options = ['http_errors' => false];
        $options = array_merge_recursive($options, Utils\Utils::getQueryParams(\OpenAPI\OpenAPI\Models\Operations\ComputeRegionOperationsDeleteRequest::class, $request, null));
        
        $client = Utils\Utils::configureSecurityClient($this->_defaultClient, $security);
        $httpResponse = $client->request('DELETE', $url, $options);
        
        $contentType = $httpResponse->getHeader('Content-Type')[0] ?? '';

        $response = new \OpenAPI\OpenAPI\Models\Operations\ComputeRegionOperationsDeleteResponse();
        $response->statusCode = $httpResponse->getStatusCode();
        $response->contentType = $contentType;
        $response->rawResponse = $httpResponse;
        
        if ($httpResponse->getStatusCode() === 200) {
        }

        return $response;
    }
	
    /**
     * Retrieves the specified region-specific Operations resource.
     * 
     * @param \OpenAPI\OpenAPI\Models\Operations\ComputeRegionOperationsGetRequest $request
     * @param \OpenAPI\OpenAPI\Models\Operations\ComputeRegionOperationsGetSecurity $security
     * @return \OpenAPI\OpenAPI\Models\Operations\ComputeRegionOperationsGetResponse
     */
	public function computeRegionOperationsGet(
        \OpenAPI\OpenAPI\Models\Operations\ComputeRegionOperationsGetRequest $request,
        \OpenAPI\OpenAPI\Models\Operations\ComputeRegionOperationsGetSecurity $security,
    ): \OpenAPI\OpenAPI\Models\Operations\ComputeRegionOperationsGetResponse
    {
        $baseUrl = $this->_serverUrl;
        $url = Utils\Utils::generateUrl($baseUrl, '/projects/{project}/regions/{region}/operations/{operation}', \OpenAPI\OpenAPI\Models\Operations\ComputeRegionOperationsGetRequest::class, $request);
        
        $options = ['http_errors' => false];
        $options = array_merge_recursive($options, Utils\Utils::getQueryParams(\OpenAPI\OpenAPI\Models\Operations\ComputeRegionOperationsGetRequest::class, $request, null));
        
        $client = Utils\Utils::configureSecurityClient($this->_defaultClient, $security);
        $httpResponse = $client->request('GET', $url, $options);
        
        $contentType = $httpResponse->getHeader('Content-Type')[0] ?? '';

        $response = new \OpenAPI\OpenAPI\Models\Operations\ComputeRegionOperationsGetResponse();
        $response->statusCode = $httpResponse->getStatusCode();
        $response->contentType = $contentType;
        $response->rawResponse = $httpResponse;
        
        if ($httpResponse->getStatusCode() === 200) {
            if (Utils\Utils::matchContentType($contentType, 'application/json')) {
                $serializer = Utils\JSON::createSerializer();
                $response->operation = $serializer->deserialize((string)$httpResponse->getBody(), 'OpenAPI\OpenAPI\Models\Shared\Operation', 'json');
            }
        }

        return $response;
    }
	
    /**
     * Retrieves a list of Operation resources contained within the specified region.
     * 
     * @param \OpenAPI\OpenAPI\Models\Operations\ComputeRegionOperationsListRequest $request
     * @param \OpenAPI\OpenAPI\Models\Operations\ComputeRegionOperationsListSecurity $security
     * @return \OpenAPI\OpenAPI\Models\Operations\ComputeRegionOperationsListResponse
     */
	public function computeRegionOperationsList(
        \OpenAPI\OpenAPI\Models\Operations\ComputeRegionOperationsListRequest $request,
        \OpenAPI\OpenAPI\Models\Operations\ComputeRegionOperationsListSecurity $security,
    ): \OpenAPI\OpenAPI\Models\Operations\ComputeRegionOperationsListResponse
    {
        $baseUrl = $this->_serverUrl;
        $url = Utils\Utils::generateUrl($baseUrl, '/projects/{project}/regions/{region}/operations', \OpenAPI\OpenAPI\Models\Operations\ComputeRegionOperationsListRequest::class, $request);
        
        $options = ['http_errors' => false];
        $options = array_merge_recursive($options, Utils\Utils::getQueryParams(\OpenAPI\OpenAPI\Models\Operations\ComputeRegionOperationsListRequest::class, $request, null));
        
        $client = Utils\Utils::configureSecurityClient($this->_defaultClient, $security);
        $httpResponse = $client->request('GET', $url, $options);
        
        $contentType = $httpResponse->getHeader('Content-Type')[0] ?? '';

        $response = new \OpenAPI\OpenAPI\Models\Operations\ComputeRegionOperationsListResponse();
        $response->statusCode = $httpResponse->getStatusCode();
        $response->contentType = $contentType;
        $response->rawResponse = $httpResponse;
        
        if ($httpResponse->getStatusCode() === 200) {
            if (Utils\Utils::matchContentType($contentType, 'application/json')) {
                $serializer = Utils\JSON::createSerializer();
                $response->operationList = $serializer->deserialize((string)$httpResponse->getBody(), 'OpenAPI\OpenAPI\Models\Shared\OperationList', 'json');
            }
        }

        return $response;
    }
	
    /**
     * Waits for the specified Operation resource to return as `DONE` or for the request to approach the 2 minute deadline, and retrieves the specified Operation resource. This method differs from the `GET` method in that it waits for no more than the default deadline (2 minutes) and then returns the current state of the operation, which might be `DONE` or still in progress. This method is called on a best-effort basis. Specifically: - In uncommon cases, when the server is overloaded, the request might return before the default deadline is reached, or might return after zero seconds. - If the default deadline is reached, there is no guarantee that the operation is actually done when the method returns. Be prepared to retry if the operation is not `DONE`. 
     * 
     * @param \OpenAPI\OpenAPI\Models\Operations\ComputeRegionOperationsWaitRequest $request
     * @param \OpenAPI\OpenAPI\Models\Operations\ComputeRegionOperationsWaitSecurity $security
     * @return \OpenAPI\OpenAPI\Models\Operations\ComputeRegionOperationsWaitResponse
     */
	public function computeRegionOperationsWait(
        \OpenAPI\OpenAPI\Models\Operations\ComputeRegionOperationsWaitRequest $request,
        \OpenAPI\OpenAPI\Models\Operations\ComputeRegionOperationsWaitSecurity $security,
    ): \OpenAPI\OpenAPI\Models\Operations\ComputeRegionOperationsWaitResponse
    {
        $baseUrl = $this->_serverUrl;
        $url = Utils\Utils::generateUrl($baseUrl, '/projects/{project}/regions/{region}/operations/{operation}/wait', \OpenAPI\OpenAPI\Models\Operations\ComputeRegionOperationsWaitRequest::class, $request);
        
        $options = ['http_errors' => false];
        $options = array_merge_recursive($options, Utils\Utils::getQueryParams(\OpenAPI\OpenAPI\Models\Operations\ComputeRegionOperationsWaitRequest::class, $request, null));
        
        $client = Utils\Utils::configureSecurityClient($this->_defaultClient, $security);
        $httpResponse = $client->request('POST', $url, $options);
        
        $contentType = $httpResponse->getHeader('Content-Type')[0] ?? '';

        $response = new \OpenAPI\OpenAPI\Models\Operations\ComputeRegionOperationsWaitResponse();
        $response->statusCode = $httpResponse->getStatusCode();
        $response->contentType = $contentType;
        $response->rawResponse = $httpResponse;
        
        if ($httpResponse->getStatusCode() === 200) {
            if (Utils\Utils::matchContentType($contentType, 'application/json')) {
                $serializer = Utils\JSON::createSerializer();
                $response->operation = $serializer->deserialize((string)$httpResponse->getBody(), 'OpenAPI\OpenAPI\Models\Shared\Operation', 'json');
            }
        }

        return $response;
    }
}