<?php

/**
 * Code generated by Speakeasy (https://speakeasyapi.dev). DO NOT EDIT.
 */

declare(strict_types=1);

namespace OpenAPI\OpenAPI;

class ClientScopes 
{

	// SDK private variables namespaced with _ to avoid conflicts with API models
	private \GuzzleHttp\ClientInterface $_defaultClient;
	private \GuzzleHttp\ClientInterface $_securityClient;
	private string $_serverUrl;
	private string $_language;
	private string $_sdkVersion;
	private string $_genVersion;	

	/**
	 * @param \GuzzleHttp\ClientInterface $defaultClient
	 * @param \GuzzleHttp\ClientInterface $securityClient
	 * @param string $serverUrl
	 * @param string $language
	 * @param string $sdkVersion
	 * @param string $genVersion
	 */
	public function __construct(\GuzzleHttp\ClientInterface $defaultClient, \GuzzleHttp\ClientInterface $securityClient, string $serverUrl, string $language, string $sdkVersion, string $genVersion)
	{
		$this->_defaultClient = $defaultClient;
		$this->_securityClient = $securityClient;
		$this->_serverUrl = $serverUrl;
		$this->_language = $language;
		$this->_sdkVersion = $sdkVersion;
		$this->_genVersion = $genVersion;
	}
	
    /**
     * Delete the client scope
     * 
     * @param \OpenAPI\OpenAPI\Models\Operations\DeleteRealmClientScopesIdRequest $request
     * @return \OpenAPI\OpenAPI\Models\Operations\DeleteRealmClientScopesIdResponse
     */
	public function deleteRealmClientScopesId(
        \OpenAPI\OpenAPI\Models\Operations\DeleteRealmClientScopesIdRequest $request,
    ): \OpenAPI\OpenAPI\Models\Operations\DeleteRealmClientScopesIdResponse
    {
        $baseUrl = $this->_serverUrl;
        $url = Utils\Utils::generateUrl($baseUrl, '/{realm}/client-scopes/{id}', \OpenAPI\OpenAPI\Models\Operations\DeleteRealmClientScopesIdRequest::class, $request);
        
        $options = ['http_errors' => false];
        
        $httpResponse = $this->_securityClient->request('DELETE', $url, $options);
        
        $contentType = $httpResponse->getHeader('Content-Type')[0] ?? '';

        $response = new \OpenAPI\OpenAPI\Models\Operations\DeleteRealmClientScopesIdResponse();
        $response->statusCode = $httpResponse->getStatusCode();
        $response->contentType = $contentType;
        $response->rawResponse = $httpResponse;
        
        if (($httpResponse->getStatusCode() >= 200 && $httpResponse->getStatusCode() < 300)) {
        }

        return $response;
    }
	
    /**
     * Get client scopes belonging to the realm   Returns a list of client scopes belonging to the realm
     * 
     * @param \OpenAPI\OpenAPI\Models\Operations\GetRealmClientScopesRequest $request
     * @return \OpenAPI\OpenAPI\Models\Operations\GetRealmClientScopesResponse
     */
	public function getRealmClientScopes(
        \OpenAPI\OpenAPI\Models\Operations\GetRealmClientScopesRequest $request,
    ): \OpenAPI\OpenAPI\Models\Operations\GetRealmClientScopesResponse
    {
        $baseUrl = $this->_serverUrl;
        $url = Utils\Utils::generateUrl($baseUrl, '/{realm}/client-scopes', \OpenAPI\OpenAPI\Models\Operations\GetRealmClientScopesRequest::class, $request);
        
        $options = ['http_errors' => false];
        
        $httpResponse = $this->_securityClient->request('GET', $url, $options);
        
        $contentType = $httpResponse->getHeader('Content-Type')[0] ?? '';

        $response = new \OpenAPI\OpenAPI\Models\Operations\GetRealmClientScopesResponse();
        $response->statusCode = $httpResponse->getStatusCode();
        $response->contentType = $contentType;
        $response->rawResponse = $httpResponse;
        
        if (($httpResponse->getStatusCode() >= 200 && $httpResponse->getStatusCode() < 300)) {
            if (Utils\Utils::matchContentType($contentType, 'application/json')) {
                $serializer = Utils\JSON::createSerializer();
                $response->clientScopeRepresentations = $serializer->deserialize((string)$httpResponse->getBody(), 'array<OpenAPI\OpenAPI\Models\Shared\ClientScopeRepresentation>', 'json');
            }
        }

        return $response;
    }
	
    /**
     * Get representation of the client scope
     * 
     * @param \OpenAPI\OpenAPI\Models\Operations\GetRealmClientScopesIdRequest $request
     * @return \OpenAPI\OpenAPI\Models\Operations\GetRealmClientScopesIdResponse
     */
	public function getRealmClientScopesId(
        \OpenAPI\OpenAPI\Models\Operations\GetRealmClientScopesIdRequest $request,
    ): \OpenAPI\OpenAPI\Models\Operations\GetRealmClientScopesIdResponse
    {
        $baseUrl = $this->_serverUrl;
        $url = Utils\Utils::generateUrl($baseUrl, '/{realm}/client-scopes/{id}', \OpenAPI\OpenAPI\Models\Operations\GetRealmClientScopesIdRequest::class, $request);
        
        $options = ['http_errors' => false];
        
        $httpResponse = $this->_securityClient->request('GET', $url, $options);
        
        $contentType = $httpResponse->getHeader('Content-Type')[0] ?? '';

        $response = new \OpenAPI\OpenAPI\Models\Operations\GetRealmClientScopesIdResponse();
        $response->statusCode = $httpResponse->getStatusCode();
        $response->contentType = $contentType;
        $response->rawResponse = $httpResponse;
        
        if (($httpResponse->getStatusCode() >= 200 && $httpResponse->getStatusCode() < 300)) {
            if (Utils\Utils::matchContentType($contentType, 'application/json')) {
                $serializer = Utils\JSON::createSerializer();
                $response->clientScopeRepresentation = $serializer->deserialize((string)$httpResponse->getBody(), 'OpenAPI\OpenAPI\Models\Shared\ClientScopeRepresentation', 'json');
            }
        }

        return $response;
    }
	
    /**
     * Create a new client scope   Client Scope’s name must be unique!
     * 
     * @param \OpenAPI\OpenAPI\Models\Operations\PostRealmClientScopesRequest $request
     * @return \OpenAPI\OpenAPI\Models\Operations\PostRealmClientScopesResponse
     */
	public function postRealmClientScopes(
        \OpenAPI\OpenAPI\Models\Operations\PostRealmClientScopesRequest $request,
    ): \OpenAPI\OpenAPI\Models\Operations\PostRealmClientScopesResponse
    {
        $baseUrl = $this->_serverUrl;
        $url = Utils\Utils::generateUrl($baseUrl, '/{realm}/client-scopes', \OpenAPI\OpenAPI\Models\Operations\PostRealmClientScopesRequest::class, $request);
        
        $options = ['http_errors' => false];
        $body = Utils\Utils::serializeRequestBody($request, "clientScopeRepresentation", "json");
        if ($body === null) {
            throw new \Exception('Request body is required');
        }
        $options = array_merge_recursive($options, $body);
        
        $httpResponse = $this->_securityClient->request('POST', $url, $options);
        
        $contentType = $httpResponse->getHeader('Content-Type')[0] ?? '';

        $response = new \OpenAPI\OpenAPI\Models\Operations\PostRealmClientScopesResponse();
        $response->statusCode = $httpResponse->getStatusCode();
        $response->contentType = $contentType;
        $response->rawResponse = $httpResponse;
        
        if (($httpResponse->getStatusCode() >= 200 && $httpResponse->getStatusCode() < 300)) {
        }

        return $response;
    }
	
    /**
     * Update the client scope
     * 
     * @param \OpenAPI\OpenAPI\Models\Operations\PutRealmClientScopesIdRequest $request
     * @return \OpenAPI\OpenAPI\Models\Operations\PutRealmClientScopesIdResponse
     */
	public function putRealmClientScopesId(
        \OpenAPI\OpenAPI\Models\Operations\PutRealmClientScopesIdRequest $request,
    ): \OpenAPI\OpenAPI\Models\Operations\PutRealmClientScopesIdResponse
    {
        $baseUrl = $this->_serverUrl;
        $url = Utils\Utils::generateUrl($baseUrl, '/{realm}/client-scopes/{id}', \OpenAPI\OpenAPI\Models\Operations\PutRealmClientScopesIdRequest::class, $request);
        
        $options = ['http_errors' => false];
        $body = Utils\Utils::serializeRequestBody($request, "clientScopeRepresentation", "json");
        if ($body === null) {
            throw new \Exception('Request body is required');
        }
        $options = array_merge_recursive($options, $body);
        
        $httpResponse = $this->_securityClient->request('PUT', $url, $options);
        
        $contentType = $httpResponse->getHeader('Content-Type')[0] ?? '';

        $response = new \OpenAPI\OpenAPI\Models\Operations\PutRealmClientScopesIdResponse();
        $response->statusCode = $httpResponse->getStatusCode();
        $response->contentType = $contentType;
        $response->rawResponse = $httpResponse;
        
        if (($httpResponse->getStatusCode() >= 200 && $httpResponse->getStatusCode() < 300)) {
        }

        return $response;
    }
}