<?php

/**
 * Code generated by Speakeasy (https://speakeasyapi.dev). DO NOT EDIT.
 */

declare(strict_types=1);

namespace OpenAPI\OpenAPI;

class ClientInitialAccess 
{

	// SDK private variables namespaced with _ to avoid conflicts with API models
	private \GuzzleHttp\ClientInterface $_defaultClient;
	private \GuzzleHttp\ClientInterface $_securityClient;
	private string $_serverUrl;
	private string $_language;
	private string $_sdkVersion;
	private string $_genVersion;	

	/**
	 * @param \GuzzleHttp\ClientInterface $defaultClient
	 * @param \GuzzleHttp\ClientInterface $securityClient
	 * @param string $serverUrl
	 * @param string $language
	 * @param string $sdkVersion
	 * @param string $genVersion
	 */
	public function __construct(\GuzzleHttp\ClientInterface $defaultClient, \GuzzleHttp\ClientInterface $securityClient, string $serverUrl, string $language, string $sdkVersion, string $genVersion)
	{
		$this->_defaultClient = $defaultClient;
		$this->_securityClient = $securityClient;
		$this->_serverUrl = $serverUrl;
		$this->_language = $language;
		$this->_sdkVersion = $sdkVersion;
		$this->_genVersion = $genVersion;
	}
	
    /**
     * deleteRealmClientsInitialAccessId
     * 
     * @param \OpenAPI\OpenAPI\Models\Operations\DeleteRealmClientsInitialAccessIdRequest $request
     * @return \OpenAPI\OpenAPI\Models\Operations\DeleteRealmClientsInitialAccessIdResponse
     */
	public function deleteRealmClientsInitialAccessId(
        \OpenAPI\OpenAPI\Models\Operations\DeleteRealmClientsInitialAccessIdRequest $request,
    ): \OpenAPI\OpenAPI\Models\Operations\DeleteRealmClientsInitialAccessIdResponse
    {
        $baseUrl = $this->_serverUrl;
        $url = Utils\Utils::generateUrl($baseUrl, '/{realm}/clients-initial-access/{id}', \OpenAPI\OpenAPI\Models\Operations\DeleteRealmClientsInitialAccessIdRequest::class, $request);
        
        $options = ['http_errors' => false];
        
        $httpResponse = $this->_securityClient->request('DELETE', $url, $options);
        
        $contentType = $httpResponse->getHeader('Content-Type')[0] ?? '';

        $response = new \OpenAPI\OpenAPI\Models\Operations\DeleteRealmClientsInitialAccessIdResponse();
        $response->statusCode = $httpResponse->getStatusCode();
        $response->contentType = $contentType;
        $response->rawResponse = $httpResponse;
        
        if (($httpResponse->getStatusCode() >= 200 && $httpResponse->getStatusCode() < 300)) {
        }

        return $response;
    }
	
    /**
     * getRealmClientsInitialAccess
     * 
     * @param \OpenAPI\OpenAPI\Models\Operations\GetRealmClientsInitialAccessRequest $request
     * @return \OpenAPI\OpenAPI\Models\Operations\GetRealmClientsInitialAccessResponse
     */
	public function getRealmClientsInitialAccess(
        \OpenAPI\OpenAPI\Models\Operations\GetRealmClientsInitialAccessRequest $request,
    ): \OpenAPI\OpenAPI\Models\Operations\GetRealmClientsInitialAccessResponse
    {
        $baseUrl = $this->_serverUrl;
        $url = Utils\Utils::generateUrl($baseUrl, '/{realm}/clients-initial-access', \OpenAPI\OpenAPI\Models\Operations\GetRealmClientsInitialAccessRequest::class, $request);
        
        $options = ['http_errors' => false];
        
        $httpResponse = $this->_securityClient->request('GET', $url, $options);
        
        $contentType = $httpResponse->getHeader('Content-Type')[0] ?? '';

        $response = new \OpenAPI\OpenAPI\Models\Operations\GetRealmClientsInitialAccessResponse();
        $response->statusCode = $httpResponse->getStatusCode();
        $response->contentType = $contentType;
        $response->rawResponse = $httpResponse;
        
        if (($httpResponse->getStatusCode() >= 200 && $httpResponse->getStatusCode() < 300)) {
            if (Utils\Utils::matchContentType($contentType, 'application/json')) {
                $serializer = Utils\JSON::createSerializer();
                $response->clientInitialAccessPresentations = $serializer->deserialize((string)$httpResponse->getBody(), 'array<OpenAPI\OpenAPI\Models\Shared\ClientInitialAccessPresentation>', 'json');
            }
        }

        return $response;
    }
	
    /**
     * Create a new initial access token.
     * 
     * @param \OpenAPI\OpenAPI\Models\Operations\PostRealmClientsInitialAccessRequest $request
     * @return \OpenAPI\OpenAPI\Models\Operations\PostRealmClientsInitialAccessResponse
     */
	public function postRealmClientsInitialAccess(
        \OpenAPI\OpenAPI\Models\Operations\PostRealmClientsInitialAccessRequest $request,
    ): \OpenAPI\OpenAPI\Models\Operations\PostRealmClientsInitialAccessResponse
    {
        $baseUrl = $this->_serverUrl;
        $url = Utils\Utils::generateUrl($baseUrl, '/{realm}/clients-initial-access', \OpenAPI\OpenAPI\Models\Operations\PostRealmClientsInitialAccessRequest::class, $request);
        
        $options = ['http_errors' => false];
        $body = Utils\Utils::serializeRequestBody($request, "clientInitialAccessCreatePresentation", "json");
        if ($body === null) {
            throw new \Exception('Request body is required');
        }
        $options = array_merge_recursive($options, $body);
        
        $httpResponse = $this->_securityClient->request('POST', $url, $options);
        
        $contentType = $httpResponse->getHeader('Content-Type')[0] ?? '';

        $response = new \OpenAPI\OpenAPI\Models\Operations\PostRealmClientsInitialAccessResponse();
        $response->statusCode = $httpResponse->getStatusCode();
        $response->contentType = $contentType;
        $response->rawResponse = $httpResponse;
        
        if (($httpResponse->getStatusCode() >= 200 && $httpResponse->getStatusCode() < 300)) {
            if (Utils\Utils::matchContentType($contentType, 'application/json')) {
                $serializer = Utils\JSON::createSerializer();
                $response->clientInitialAccessPresentation = $serializer->deserialize((string)$httpResponse->getBody(), 'OpenAPI\OpenAPI\Models\Shared\ClientInitialAccessPresentation', 'json');
            }
        }

        return $response;
    }
}