// Code generated by Speakeasy (https://speakeasyapi.dev). DO NOT EDIT.

package sdk

import (
	"context"
	"fmt"
	"net/http"
	"openapi/pkg/models/operations"
	"openapi/pkg/utils"
)

type timelineWeatherAPI15DayForecastRequest struct {
	defaultClient  HTTPClient
	securityClient HTTPClient
	serverURL      string
	language       string
	sdkVersion     string
	genVersion     string
}

func newTimelineWeatherAPI15DayForecastRequest(defaultClient, securityClient HTTPClient, serverURL, language, sdkVersion, genVersion string) *timelineWeatherAPI15DayForecastRequest {
	return &timelineWeatherAPI15DayForecastRequest{
		defaultClient:  defaultClient,
		securityClient: securityClient,
		serverURL:      serverURL,
		language:       language,
		sdkVersion:     sdkVersion,
		genVersion:     genVersion,
	}
}

// GetVisualCrossingWebServicesRestServicesTimelineLocation - Historical and Forecast Weather API
// Seamless access to daily and hourly historical and forecast weather data plus weather alerts, events and current conditions.
func (s *timelineWeatherAPI15DayForecastRequest) GetVisualCrossingWebServicesRestServicesTimelineLocation(ctx context.Context, request operations.GetVisualCrossingWebServicesRestServicesTimelineLocationRequest, opts ...operations.Option) (*operations.GetVisualCrossingWebServicesRestServicesTimelineLocationResponse, error) {
	o := operations.Options{}
	supportedOptions := []string{
		operations.SupportedOptionServerURL,
	}

	for _, opt := range opts {
		if err := opt(&o, supportedOptions...); err != nil {
			return nil, fmt.Errorf("error applying option: %w", err)
		}
	}
	baseURL := operations.GetVisualCrossingWebServicesRestServicesTimelineLocationServerList[0]
	if o.ServerURL != nil {
		baseURL = *o.ServerURL
	}

	url := utils.GenerateURL(ctx, baseURL, "/VisualCrossingWebServices/rest/services/timeline/{location}", request, nil)

	req, err := http.NewRequestWithContext(ctx, "GET", url, nil)
	if err != nil {
		return nil, fmt.Errorf("error creating request: %w", err)
	}

	if err := utils.PopulateQueryParams(ctx, req, request, nil); err != nil {
		return nil, fmt.Errorf("error populating query params: %w", err)
	}

	client := s.defaultClient

	httpRes, err := client.Do(req)
	if err != nil {
		return nil, fmt.Errorf("error sending request: %w", err)
	}
	if httpRes == nil {
		return nil, fmt.Errorf("error sending request: no response")
	}
	defer httpRes.Body.Close()

	contentType := httpRes.Header.Get("Content-Type")

	res := &operations.GetVisualCrossingWebServicesRestServicesTimelineLocationResponse{
		StatusCode:  httpRes.StatusCode,
		ContentType: contentType,
		RawResponse: httpRes,
	}
	switch {
	case httpRes.StatusCode == 200:
	}

	return res, nil
}
