// Code generated by Speakeasy (https://speakeasyapi.dev). DO NOT EDIT.

package sdk

import (
	"context"
	"fmt"
	"net/http"
	"openapi/pkg/models/operations"
	"openapi/pkg/utils"
)

type timelineWeatherAPISingleDateRequest struct {
	defaultClient  HTTPClient
	securityClient HTTPClient
	serverURL      string
	language       string
	sdkVersion     string
	genVersion     string
}

func newTimelineWeatherAPISingleDateRequest(defaultClient, securityClient HTTPClient, serverURL, language, sdkVersion, genVersion string) *timelineWeatherAPISingleDateRequest {
	return &timelineWeatherAPISingleDateRequest{
		defaultClient:  defaultClient,
		securityClient: securityClient,
		serverURL:      serverURL,
		language:       language,
		sdkVersion:     sdkVersion,
		genVersion:     genVersion,
	}
}

// GetVisualCrossingWebServicesRestServicesTimelineLocationStartdate - Historical and Forecast Weather API
// Seamless access to daily and hourly historical and forecast weather data plus weather alerts, events and current conditions.
func (s *timelineWeatherAPISingleDateRequest) GetVisualCrossingWebServicesRestServicesTimelineLocationStartdate(ctx context.Context, request operations.GetVisualCrossingWebServicesRestServicesTimelineLocationStartdateRequest) (*operations.GetVisualCrossingWebServicesRestServicesTimelineLocationStartdateResponse, error) {
	baseURL := operations.GetVisualCrossingWebServicesRestServicesTimelineLocationStartdateServerList[0]
	if request.ServerURL != nil {
		baseURL = *request.ServerURL
	}

	url := utils.GenerateURL(ctx, baseURL, "/VisualCrossingWebServices/rest/services/timeline/{location}/{startdate}", request.PathParams, nil)

	req, err := http.NewRequestWithContext(ctx, "GET", url, nil)
	if err != nil {
		return nil, fmt.Errorf("error creating request: %w", err)
	}

	if err := utils.PopulateQueryParams(ctx, req, request.QueryParams, nil); err != nil {
		return nil, fmt.Errorf("error populating query params: %w", err)
	}

	client := s.defaultClient

	httpRes, err := client.Do(req)
	if err != nil {
		return nil, fmt.Errorf("error sending request: %w", err)
	}
	if httpRes == nil {
		return nil, fmt.Errorf("error sending request: no response")
	}
	defer httpRes.Body.Close()

	contentType := httpRes.Header.Get("Content-Type")

	res := &operations.GetVisualCrossingWebServicesRestServicesTimelineLocationStartdateResponse{
		StatusCode:  httpRes.StatusCode,
		ContentType: contentType,
		RawResponse: httpRes,
	}
	switch {
	case httpRes.StatusCode == 200:
	}

	return res, nil
}
