"""Code generated by Speakeasy (https://speakeasyapi.dev). DO NOT EDIT."""

import requests as requests_http
from . import utils
from sdk.models import operations
from typing import Optional

class TimelineWeatherAPI15DayForecastRequest:
    _client: requests_http.Session
    _security_client: requests_http.Session
    _server_url: str
    _language: str
    _sdk_version: str
    _gen_version: str

    def __init__(self, client: requests_http.Session, security_client: requests_http.Session, server_url: str, language: str, sdk_version: str, gen_version: str) -> None:
        self._client = client
        self._security_client = security_client
        self._server_url = server_url
        self._language = language
        self._sdk_version = sdk_version
        self._gen_version = gen_version
        
    def get_visual_crossing_web_services_rest_services_timeline_location_(self, request: operations.GetVisualCrossingWebServicesRestServicesTimelineLocationRequest, server_url: Optional[str] = None) -> operations.GetVisualCrossingWebServicesRestServicesTimelineLocationResponse:
        r"""Historical and Forecast Weather API
        Seamless access to daily and hourly historical and forecast weather data plus weather alerts, events and current conditions.
        """
        base_url = operations.GET_VISUAL_CROSSING_WEB_SERVICES_REST_SERVICES_TIMELINE_LOCATION_SERVERS[0]
        if server_url is not None:
            base_url = server_url
        
        url = utils.generate_url(operations.GetVisualCrossingWebServicesRestServicesTimelineLocationRequest, base_url, '/VisualCrossingWebServices/rest/services/timeline/{location}', request)
        
        query_params = utils.get_query_params(operations.GetVisualCrossingWebServicesRestServicesTimelineLocationRequest, request)
        
        client = self._client
        
        http_res = client.request('GET', url, params=query_params)
        content_type = http_res.headers.get('Content-Type')

        res = operations.GetVisualCrossingWebServicesRestServicesTimelineLocationResponse(status_code=http_res.status_code, content_type=content_type, raw_response=http_res)
        

        return res

    