<?php

/**
 * Code generated by Speakeasy (https://speakeasyapi.dev). DO NOT EDIT.
 */

declare(strict_types=1);

namespace OpenAPI\OpenAPI;

class Operations 
{

	// SDK private variables namespaced with _ to avoid conflicts with API models
	private \GuzzleHttp\ClientInterface $_defaultClient;
	private \GuzzleHttp\ClientInterface $_securityClient;
	private string $_serverUrl;
	private string $_language;
	private string $_sdkVersion;
	private string $_genVersion;	

	/**
	 * @param \GuzzleHttp\ClientInterface $defaultClient
	 * @param \GuzzleHttp\ClientInterface $securityClient
	 * @param string $serverUrl
	 * @param string $language
	 * @param string $sdkVersion
	 * @param string $genVersion
	 */
	public function __construct(\GuzzleHttp\ClientInterface $defaultClient, \GuzzleHttp\ClientInterface $securityClient, string $serverUrl, string $language, string $sdkVersion, string $genVersion)
	{
		$this->_defaultClient = $defaultClient;
		$this->_securityClient = $securityClient;
		$this->_serverUrl = $serverUrl;
		$this->_language = $language;
		$this->_sdkVersion = $sdkVersion;
		$this->_genVersion = $genVersion;
	}
	
    /**
     * Gets information about a specific operation.
     * 
     * @param \OpenAPI\OpenAPI\Models\Operations\DeploymentmanagerOperationsGetRequest $request
     * @param \OpenAPI\OpenAPI\Models\Operations\DeploymentmanagerOperationsGetSecurity $security
     * @return \OpenAPI\OpenAPI\Models\Operations\DeploymentmanagerOperationsGetResponse
     */
	public function deploymentmanagerOperationsGet(
        \OpenAPI\OpenAPI\Models\Operations\DeploymentmanagerOperationsGetRequest $request,
        \OpenAPI\OpenAPI\Models\Operations\DeploymentmanagerOperationsGetSecurity $security,
    ): \OpenAPI\OpenAPI\Models\Operations\DeploymentmanagerOperationsGetResponse
    {
        $baseUrl = $this->_serverUrl;
        $url = Utils\Utils::generateUrl($baseUrl, '/deploymentmanager/v2beta/projects/{project}/global/operations/{operation}', \OpenAPI\OpenAPI\Models\Operations\DeploymentmanagerOperationsGetRequest::class, $request);
        
        $options = ['http_errors' => false];
        $options = array_merge_recursive($options, Utils\Utils::getQueryParams(\OpenAPI\OpenAPI\Models\Operations\DeploymentmanagerOperationsGetRequest::class, $request, null));
        
        $client = Utils\Utils::configureSecurityClient($this->_defaultClient, $security);
        $httpResponse = $client->request('GET', $url, $options);
        
        $contentType = $httpResponse->getHeader('Content-Type')[0] ?? '';

        $response = new \OpenAPI\OpenAPI\Models\Operations\DeploymentmanagerOperationsGetResponse();
        $response->statusCode = $httpResponse->getStatusCode();
        $response->contentType = $contentType;
        $response->rawResponse = $httpResponse;
        
        if ($httpResponse->getStatusCode() === 200) {
            if (Utils\Utils::matchContentType($contentType, 'application/json')) {
                $serializer = Utils\JSON::createSerializer();
                $response->operation = $serializer->deserialize((string)$httpResponse->getBody(), 'OpenAPI\OpenAPI\Models\Shared\Operation', 'json');
            }
        }

        return $response;
    }
	
    /**
     * Lists all operations for a project.
     * 
     * @param \OpenAPI\OpenAPI\Models\Operations\DeploymentmanagerOperationsListRequest $request
     * @param \OpenAPI\OpenAPI\Models\Operations\DeploymentmanagerOperationsListSecurity $security
     * @return \OpenAPI\OpenAPI\Models\Operations\DeploymentmanagerOperationsListResponse
     */
	public function deploymentmanagerOperationsList(
        \OpenAPI\OpenAPI\Models\Operations\DeploymentmanagerOperationsListRequest $request,
        \OpenAPI\OpenAPI\Models\Operations\DeploymentmanagerOperationsListSecurity $security,
    ): \OpenAPI\OpenAPI\Models\Operations\DeploymentmanagerOperationsListResponse
    {
        $baseUrl = $this->_serverUrl;
        $url = Utils\Utils::generateUrl($baseUrl, '/deploymentmanager/v2beta/projects/{project}/global/operations', \OpenAPI\OpenAPI\Models\Operations\DeploymentmanagerOperationsListRequest::class, $request);
        
        $options = ['http_errors' => false];
        $options = array_merge_recursive($options, Utils\Utils::getQueryParams(\OpenAPI\OpenAPI\Models\Operations\DeploymentmanagerOperationsListRequest::class, $request, null));
        
        $client = Utils\Utils::configureSecurityClient($this->_defaultClient, $security);
        $httpResponse = $client->request('GET', $url, $options);
        
        $contentType = $httpResponse->getHeader('Content-Type')[0] ?? '';

        $response = new \OpenAPI\OpenAPI\Models\Operations\DeploymentmanagerOperationsListResponse();
        $response->statusCode = $httpResponse->getStatusCode();
        $response->contentType = $contentType;
        $response->rawResponse = $httpResponse;
        
        if ($httpResponse->getStatusCode() === 200) {
            if (Utils\Utils::matchContentType($contentType, 'application/json')) {
                $serializer = Utils\JSON::createSerializer();
                $response->operationsListResponse = $serializer->deserialize((string)$httpResponse->getBody(), 'OpenAPI\OpenAPI\Models\Shared\OperationsListResponse', 'json');
            }
        }

        return $response;
    }
}