"""Code generated by Speakeasy (https://speakeasyapi.dev). DO NOT EDIT."""

import requests as requests_http
from . import utils
from sdk.models import operations, shared
from typing import Optional

class APIInfo:
    _client: requests_http.Session
    _security_client: requests_http.Session
    _server_url: str
    _language: str
    _sdk_version: str
    _gen_version: str

    def __init__(self, client: requests_http.Session, security_client: requests_http.Session, server_url: str, language: str, sdk_version: str, gen_version: str) -> None:
        self._client = client
        self._security_client = security_client
        self._server_url = server_url
        self._language = language
        self._sdk_version = sdk_version
        self._gen_version = gen_version
        
    def get_containers_messages(self, request: operations.GetContainersMessagesRequest) -> operations.GetContainersMessagesResponse:
        r"""List messages for the user
        This endpoint retrieves all IBM Containers system messages for the user.
        """
        base_url = self._server_url
        
        url = base_url.removesuffix('/') + '/containers/messages'
        
        headers = utils.get_headers(request)
        
        client = self._client
        
        http_res = client.request('GET', url, headers=headers)
        content_type = http_res.headers.get('Content-Type')

        res = operations.GetContainersMessagesResponse(status_code=http_res.status_code, content_type=content_type, raw_response=http_res)
        
        if http_res.status_code == 200:
            if utils.match_content_type(content_type, 'application/json'):
                out = utils.unmarshal_json(http_res.text, Optional[operations.GetContainersMessages200ApplicationJSON])
                res.get_containers_messages_200_application_json_object = out
        elif http_res.status_code == 500:
            pass

        return res

    def get_containers_version(self) -> operations.GetContainersVersionResponse:
        r"""List latest API version
        This endpoint retrieves a list of all microservices that are used in the IBM Containers service with their current build version. This method does not require authentication.
        """
        base_url = self._server_url
        
        url = base_url.removesuffix('/') + '/containers/version'
        
        
        client = self._client
        
        http_res = client.request('GET', url)
        content_type = http_res.headers.get('Content-Type')

        res = operations.GetContainersVersionResponse(status_code=http_res.status_code, content_type=content_type, raw_response=http_res)
        
        if http_res.status_code == 200:
            if utils.match_content_type(content_type, 'application/json'):
                out = utils.unmarshal_json(http_res.text, Optional[shared.ContainersVersionGetInfo])
                res.containers_version_get_info = out
        elif http_res.status_code == 500:
            pass

        return res

    