<?php

/**
 * Code generated by Speakeasy (https://speakeasyapi.dev). DO NOT EDIT.
 */

declare(strict_types=1);

namespace OpenAPI\OpenAPI;

class Adclients 
{

	// SDK private variables namespaced with _ to avoid conflicts with API models
	private \GuzzleHttp\ClientInterface $_defaultClient;
	private \GuzzleHttp\ClientInterface $_securityClient;
	private string $_serverUrl;
	private string $_language;
	private string $_sdkVersion;
	private string $_genVersion;	

	/**
	 * @param \GuzzleHttp\ClientInterface $defaultClient
	 * @param \GuzzleHttp\ClientInterface $securityClient
	 * @param string $serverUrl
	 * @param string $language
	 * @param string $sdkVersion
	 * @param string $genVersion
	 */
	public function __construct(\GuzzleHttp\ClientInterface $defaultClient, \GuzzleHttp\ClientInterface $securityClient, string $serverUrl, string $language, string $sdkVersion, string $genVersion)
	{
		$this->_defaultClient = $defaultClient;
		$this->_securityClient = $securityClient;
		$this->_serverUrl = $serverUrl;
		$this->_language = $language;
		$this->_sdkVersion = $sdkVersion;
		$this->_genVersion = $genVersion;
	}
	
    /**
     * Get information about one of the ad clients in the Host AdSense account.
     * 
     * @param \OpenAPI\OpenAPI\Models\Operations\AdsensehostAdclientsGetRequest $request
     * @param \OpenAPI\OpenAPI\Models\Operations\AdsensehostAdclientsGetSecurity $security
     * @return \OpenAPI\OpenAPI\Models\Operations\AdsensehostAdclientsGetResponse
     */
	public function adsensehostAdclientsGet(
        \OpenAPI\OpenAPI\Models\Operations\AdsensehostAdclientsGetRequest $request,
        \OpenAPI\OpenAPI\Models\Operations\AdsensehostAdclientsGetSecurity $security,
    ): \OpenAPI\OpenAPI\Models\Operations\AdsensehostAdclientsGetResponse
    {
        $baseUrl = $this->_serverUrl;
        $url = Utils\Utils::generateUrl($baseUrl, '/adclients/{adClientId}', \OpenAPI\OpenAPI\Models\Operations\AdsensehostAdclientsGetRequest::class, $request);
        
        $options = ['http_errors' => false];
        $options = array_merge_recursive($options, Utils\Utils::getQueryParams(\OpenAPI\OpenAPI\Models\Operations\AdsensehostAdclientsGetRequest::class, $request, null));
        
        $client = Utils\Utils::configureSecurityClient($this->_defaultClient, $security);
        $httpResponse = $client->request('GET', $url, $options);
        
        $contentType = $httpResponse->getHeader('Content-Type')[0] ?? '';

        $response = new \OpenAPI\OpenAPI\Models\Operations\AdsensehostAdclientsGetResponse();
        $response->statusCode = $httpResponse->getStatusCode();
        $response->contentType = $contentType;
        $response->rawResponse = $httpResponse;
        
        if ($httpResponse->getStatusCode() === 200) {
            if (Utils\Utils::matchContentType($contentType, 'application/json')) {
                $serializer = Utils\JSON::createSerializer();
                $response->adClient = $serializer->deserialize((string)$httpResponse->getBody(), 'OpenAPI\OpenAPI\Models\Shared\AdClient', 'json');
            }
        }

        return $response;
    }
	
    /**
     * List all host ad clients in this AdSense account.
     * 
     * @param \OpenAPI\OpenAPI\Models\Operations\AdsensehostAdclientsListRequest $request
     * @param \OpenAPI\OpenAPI\Models\Operations\AdsensehostAdclientsListSecurity $security
     * @return \OpenAPI\OpenAPI\Models\Operations\AdsensehostAdclientsListResponse
     */
	public function adsensehostAdclientsList(
        \OpenAPI\OpenAPI\Models\Operations\AdsensehostAdclientsListRequest $request,
        \OpenAPI\OpenAPI\Models\Operations\AdsensehostAdclientsListSecurity $security,
    ): \OpenAPI\OpenAPI\Models\Operations\AdsensehostAdclientsListResponse
    {
        $baseUrl = $this->_serverUrl;
        $url = Utils\Utils::generateUrl($baseUrl, '/adclients');
        
        $options = ['http_errors' => false];
        $options = array_merge_recursive($options, Utils\Utils::getQueryParams(\OpenAPI\OpenAPI\Models\Operations\AdsensehostAdclientsListRequest::class, $request, null));
        
        $client = Utils\Utils::configureSecurityClient($this->_defaultClient, $security);
        $httpResponse = $client->request('GET', $url, $options);
        
        $contentType = $httpResponse->getHeader('Content-Type')[0] ?? '';

        $response = new \OpenAPI\OpenAPI\Models\Operations\AdsensehostAdclientsListResponse();
        $response->statusCode = $httpResponse->getStatusCode();
        $response->contentType = $contentType;
        $response->rawResponse = $httpResponse;
        
        if ($httpResponse->getStatusCode() === 200) {
            if (Utils\Utils::matchContentType($contentType, 'application/json')) {
                $serializer = Utils\JSON::createSerializer();
                $response->adClients = $serializer->deserialize((string)$httpResponse->getBody(), 'OpenAPI\OpenAPI\Models\Shared\AdClients', 'json');
            }
        }

        return $response;
    }
}