<?php

/**
 * Code generated by Speakeasy (https://speakeasyapi.dev). DO NOT EDIT.
 */

declare(strict_types=1);

namespace OpenAPI\OpenAPI;

class APIs 
{

	// SDK private variables namespaced with _ to avoid conflicts with API models
	private \GuzzleHttp\ClientInterface $_defaultClient;
	private \GuzzleHttp\ClientInterface $_securityClient;
	private string $_serverUrl;
	private string $_language;
	private string $_sdkVersion;
	private string $_genVersion;	

	/**
	 * @param \GuzzleHttp\ClientInterface $defaultClient
	 * @param \GuzzleHttp\ClientInterface $securityClient
	 * @param string $serverUrl
	 * @param string $language
	 * @param string $sdkVersion
	 * @param string $genVersion
	 */
	public function __construct(\GuzzleHttp\ClientInterface $defaultClient, \GuzzleHttp\ClientInterface $securityClient, string $serverUrl, string $language, string $sdkVersion, string $genVersion)
	{
		$this->_defaultClient = $defaultClient;
		$this->_securityClient = $securityClient;
		$this->_serverUrl = $serverUrl;
		$this->_language = $language;
		$this->_sdkVersion = $sdkVersion;
		$this->_genVersion = $genVersion;
	}
	
    /**
     * Retrieve one version of a particular API
     * 
     * Returns the API entry for one specific version of an API where there is no serviceName.
     * 
     * @param \OpenAPI\OpenAPI\Models\Operations\GetAPIRequest $request
     * @return \OpenAPI\OpenAPI\Models\Operations\GetAPIResponse
     */
	public function getAPI(
        \OpenAPI\OpenAPI\Models\Operations\GetAPIRequest $request,
    ): \OpenAPI\OpenAPI\Models\Operations\GetAPIResponse
    {
        $baseUrl = $this->_serverUrl;
        $url = Utils\Utils::generateUrl($baseUrl, '/specs/{provider}/{api}.json', \OpenAPI\OpenAPI\Models\Operations\GetAPIRequest::class, $request);
        
        $options = ['http_errors' => false];
        
        $httpResponse = $this->_defaultClient->request('GET', $url, $options);
        
        $contentType = $httpResponse->getHeader('Content-Type')[0] ?? '';

        $response = new \OpenAPI\OpenAPI\Models\Operations\GetAPIResponse();
        $response->statusCode = $httpResponse->getStatusCode();
        $response->contentType = $contentType;
        $response->rawResponse = $httpResponse;
        
        if ($httpResponse->getStatusCode() === 200) {
            if (Utils\Utils::matchContentType($contentType, 'application/json')) {
                $serializer = Utils\JSON::createSerializer();
                $response->api = $serializer->deserialize((string)$httpResponse->getBody(), 'OpenAPI\OpenAPI\Models\Shared\Api', 'json');
            }
        }

        return $response;
    }
	
    /**
     * Get basic metrics
     * 
     * Some basic metrics for the entire directory.
     * Just stunning numbers to put on a front page and are intended purely for WoW effect :)
     * 
     * 
     * @return \OpenAPI\OpenAPI\Models\Operations\GetMetricsResponse
     */
	public function getMetrics(
    ): \OpenAPI\OpenAPI\Models\Operations\GetMetricsResponse
    {
        $baseUrl = $this->_serverUrl;
        $url = Utils\Utils::generateUrl($baseUrl, '/metrics.json');
        
        $options = ['http_errors' => false];
        
        $httpResponse = $this->_defaultClient->request('GET', $url, $options);
        
        $contentType = $httpResponse->getHeader('Content-Type')[0] ?? '';

        $response = new \OpenAPI\OpenAPI\Models\Operations\GetMetricsResponse();
        $response->statusCode = $httpResponse->getStatusCode();
        $response->contentType = $contentType;
        $response->rawResponse = $httpResponse;
        
        if ($httpResponse->getStatusCode() === 200) {
            if (Utils\Utils::matchContentType($contentType, 'application/json')) {
                $serializer = Utils\JSON::createSerializer();
                $response->metrics = $serializer->deserialize((string)$httpResponse->getBody(), 'OpenAPI\OpenAPI\Models\Shared\Metrics', 'json');
            }
        }

        return $response;
    }
	
    /**
     * List all APIs for a particular provider
     * 
     * List all APIs in the directory for a particular providerName
     * Returns links to the individual API entry for each API.
     * 
     * 
     * @param \OpenAPI\OpenAPI\Models\Operations\GetProviderRequest $request
     * @return \OpenAPI\OpenAPI\Models\Operations\GetProviderResponse
     */
	public function getProvider(
        \OpenAPI\OpenAPI\Models\Operations\GetProviderRequest $request,
    ): \OpenAPI\OpenAPI\Models\Operations\GetProviderResponse
    {
        $baseUrl = $this->_serverUrl;
        $url = Utils\Utils::generateUrl($baseUrl, '/{provider}.json', \OpenAPI\OpenAPI\Models\Operations\GetProviderRequest::class, $request);
        
        $options = ['http_errors' => false];
        
        $httpResponse = $this->_defaultClient->request('GET', $url, $options);
        
        $contentType = $httpResponse->getHeader('Content-Type')[0] ?? '';

        $response = new \OpenAPI\OpenAPI\Models\Operations\GetProviderResponse();
        $response->statusCode = $httpResponse->getStatusCode();
        $response->contentType = $contentType;
        $response->rawResponse = $httpResponse;
        
        if ($httpResponse->getStatusCode() === 200) {
            if (Utils\Utils::matchContentType($contentType, 'application/json')) {
                $serializer = Utils\JSON::createSerializer();
                $response->apIs = $serializer->deserialize((string)$httpResponse->getBody(), 'array<string, OpenAPI\OpenAPI\Models\Shared\Api>', 'json');
            }
        }

        return $response;
    }
	
    /**
     * List all providers
     * 
     * List all the providers in the directory
     * 
     * 
     * @return \OpenAPI\OpenAPI\Models\Operations\GetProvidersResponse
     */
	public function getProviders(
    ): \OpenAPI\OpenAPI\Models\Operations\GetProvidersResponse
    {
        $baseUrl = $this->_serverUrl;
        $url = Utils\Utils::generateUrl($baseUrl, '/providers.json');
        
        $options = ['http_errors' => false];
        
        $httpResponse = $this->_defaultClient->request('GET', $url, $options);
        
        $contentType = $httpResponse->getHeader('Content-Type')[0] ?? '';

        $response = new \OpenAPI\OpenAPI\Models\Operations\GetProvidersResponse();
        $response->statusCode = $httpResponse->getStatusCode();
        $response->contentType = $contentType;
        $response->rawResponse = $httpResponse;
        
        if ($httpResponse->getStatusCode() === 200) {
            if (Utils\Utils::matchContentType($contentType, 'application/json')) {
                $serializer = Utils\JSON::createSerializer();
                $response->getProviders200ApplicationJSONObject = $serializer->deserialize((string)$httpResponse->getBody(), 'OpenAPI\OpenAPI\Models\Operations\GetProviders200ApplicationJSON', 'json');
            }
        }

        return $response;
    }
	
    /**
     * Retrieve one version of a particular API with a serviceName.
     * 
     * Returns the API entry for one specific version of an API where there is a serviceName.
     * 
     * @param \OpenAPI\OpenAPI\Models\Operations\GetServiceAPIRequest $request
     * @return \OpenAPI\OpenAPI\Models\Operations\GetServiceAPIResponse
     */
	public function getServiceAPI(
        \OpenAPI\OpenAPI\Models\Operations\GetServiceAPIRequest $request,
    ): \OpenAPI\OpenAPI\Models\Operations\GetServiceAPIResponse
    {
        $baseUrl = $this->_serverUrl;
        $url = Utils\Utils::generateUrl($baseUrl, '/specs/{provider}/{service}/{api}.json', \OpenAPI\OpenAPI\Models\Operations\GetServiceAPIRequest::class, $request);
        
        $options = ['http_errors' => false];
        
        $httpResponse = $this->_defaultClient->request('GET', $url, $options);
        
        $contentType = $httpResponse->getHeader('Content-Type')[0] ?? '';

        $response = new \OpenAPI\OpenAPI\Models\Operations\GetServiceAPIResponse();
        $response->statusCode = $httpResponse->getStatusCode();
        $response->contentType = $contentType;
        $response->rawResponse = $httpResponse;
        
        if ($httpResponse->getStatusCode() === 200) {
            if (Utils\Utils::matchContentType($contentType, 'application/json')) {
                $serializer = Utils\JSON::createSerializer();
                $response->api = $serializer->deserialize((string)$httpResponse->getBody(), 'OpenAPI\OpenAPI\Models\Shared\Api', 'json');
            }
        }

        return $response;
    }
	
    /**
     * List all serviceNames for a particular provider
     * 
     * List all serviceNames in the directory for a particular providerName
     * 
     * 
     * @param \OpenAPI\OpenAPI\Models\Operations\GetServicesRequest $request
     * @return \OpenAPI\OpenAPI\Models\Operations\GetServicesResponse
     */
	public function getServices(
        \OpenAPI\OpenAPI\Models\Operations\GetServicesRequest $request,
    ): \OpenAPI\OpenAPI\Models\Operations\GetServicesResponse
    {
        $baseUrl = $this->_serverUrl;
        $url = Utils\Utils::generateUrl($baseUrl, '/{provider}/services.json', \OpenAPI\OpenAPI\Models\Operations\GetServicesRequest::class, $request);
        
        $options = ['http_errors' => false];
        
        $httpResponse = $this->_defaultClient->request('GET', $url, $options);
        
        $contentType = $httpResponse->getHeader('Content-Type')[0] ?? '';

        $response = new \OpenAPI\OpenAPI\Models\Operations\GetServicesResponse();
        $response->statusCode = $httpResponse->getStatusCode();
        $response->contentType = $contentType;
        $response->rawResponse = $httpResponse;
        
        if ($httpResponse->getStatusCode() === 200) {
            if (Utils\Utils::matchContentType($contentType, 'application/json')) {
                $serializer = Utils\JSON::createSerializer();
                $response->getServices200ApplicationJSONObject = $serializer->deserialize((string)$httpResponse->getBody(), 'OpenAPI\OpenAPI\Models\Operations\GetServices200ApplicationJSON', 'json');
            }
        }

        return $response;
    }
	
    /**
     * List all APIs
     * 
     * List all APIs in the directory.
     * Returns links to the OpenAPI definitions for each API in the directory.
     * If API exist in multiple versions `preferred` one is explicitly marked.
     * Some basic info from the OpenAPI definition is cached inside each object.
     * This allows you to generate some simple views without needing to fetch the OpenAPI definition for each API.
     * 
     * 
     * @return \OpenAPI\OpenAPI\Models\Operations\ListAPIsResponse
     */
	public function listAPIs(
    ): \OpenAPI\OpenAPI\Models\Operations\ListAPIsResponse
    {
        $baseUrl = $this->_serverUrl;
        $url = Utils\Utils::generateUrl($baseUrl, '/list.json');
        
        $options = ['http_errors' => false];
        
        $httpResponse = $this->_defaultClient->request('GET', $url, $options);
        
        $contentType = $httpResponse->getHeader('Content-Type')[0] ?? '';

        $response = new \OpenAPI\OpenAPI\Models\Operations\ListAPIsResponse();
        $response->statusCode = $httpResponse->getStatusCode();
        $response->contentType = $contentType;
        $response->rawResponse = $httpResponse;
        
        if ($httpResponse->getStatusCode() === 200) {
            if (Utils\Utils::matchContentType($contentType, 'application/json')) {
                $serializer = Utils\JSON::createSerializer();
                $response->apIs = $serializer->deserialize((string)$httpResponse->getBody(), 'array<string, OpenAPI\OpenAPI\Models\Shared\Api>', 'json');
            }
        }

        return $response;
    }
}