"""Code generated by Speakeasy (https://speakeasyapi.dev). DO NOT EDIT."""

import requests as requests_http
from . import utils
from sdk.models import operations, shared
from typing import Optional

class ConfigAPI:
    _client: requests_http.Session
    _security_client: requests_http.Session
    _server_url: str
    _language: str
    _sdk_version: str
    _gen_version: str

    def __init__(self, client: requests_http.Session, security_client: requests_http.Session, server_url: str, language: str, sdk_version: str, gen_version: str) -> None:
        self._client = client
        self._security_client = security_client
        self._server_url = server_url
        self._language = language
        self._sdk_version = sdk_version
        self._gen_version = gen_version
        
    def get_config(self, request: operations.GetConfigRequest) -> operations.GetConfigResponse:
        r"""Get configurations
        This API endpoint responds with active configuration (result response)
        
        ---
        **Note**
        The `credentials` field in the `services` configuration and
        
        The `private_key` and `key` fields in the `keys` configuration will be omitted from the API response
        
        ---
        """
        base_url = self._server_url
        
        url = base_url.removesuffix('/') + '/v1/config'
        
        query_params = utils.get_query_params(operations.GetConfigRequest, request)
        
        client = self._client
        
        http_res = client.request('GET', url, params=query_params)
        content_type = http_res.headers.get('Content-Type')

        res = operations.GetConfigResponse(status_code=http_res.status_code, content_type=content_type, raw_response=http_res)
        
        if http_res.status_code == 200:
            if utils.match_content_type(content_type, 'application/json'):
                out = utils.unmarshal_json(http_res.text, Optional[shared.TwoHundredSingleResult])
                res.two_hundred_single_result = out
        elif http_res.status_code == 500:
            if utils.match_content_type(content_type, 'application/json'):
                out = utils.unmarshal_json(http_res.text, Optional[shared.FourHundred])
                res.four_hundred = out

        return res

    