<?php

/**
 * Code generated by Speakeasy (https://speakeasyapi.dev). DO NOT EDIT.
 */

declare(strict_types=1);

namespace OpenAPI\OpenAPI;

class ManagedZoneOperations 
{

	// SDK private variables namespaced with _ to avoid conflicts with API models
	private \GuzzleHttp\ClientInterface $_defaultClient;
	private \GuzzleHttp\ClientInterface $_securityClient;
	private string $_serverUrl;
	private string $_language;
	private string $_sdkVersion;
	private string $_genVersion;	

	/**
	 * @param \GuzzleHttp\ClientInterface $defaultClient
	 * @param \GuzzleHttp\ClientInterface $securityClient
	 * @param string $serverUrl
	 * @param string $language
	 * @param string $sdkVersion
	 * @param string $genVersion
	 */
	public function __construct(\GuzzleHttp\ClientInterface $defaultClient, \GuzzleHttp\ClientInterface $securityClient, string $serverUrl, string $language, string $sdkVersion, string $genVersion)
	{
		$this->_defaultClient = $defaultClient;
		$this->_securityClient = $securityClient;
		$this->_serverUrl = $serverUrl;
		$this->_language = $language;
		$this->_sdkVersion = $sdkVersion;
		$this->_genVersion = $genVersion;
	}
	
    /**
     * Fetches the representation of an existing Operation.
     * 
     * @param \OpenAPI\OpenAPI\Models\Operations\DnsManagedZoneOperationsGetRequest $request
     * @param \OpenAPI\OpenAPI\Models\Operations\DnsManagedZoneOperationsGetSecurity $security
     * @return \OpenAPI\OpenAPI\Models\Operations\DnsManagedZoneOperationsGetResponse
     */
	public function dnsManagedZoneOperationsGet(
        \OpenAPI\OpenAPI\Models\Operations\DnsManagedZoneOperationsGetRequest $request,
        \OpenAPI\OpenAPI\Models\Operations\DnsManagedZoneOperationsGetSecurity $security,
    ): \OpenAPI\OpenAPI\Models\Operations\DnsManagedZoneOperationsGetResponse
    {
        $baseUrl = $this->_serverUrl;
        $url = Utils\Utils::generateUrl($baseUrl, '/dns/v1/projects/{project}/managedZones/{managedZone}/operations/{operation}', \OpenAPI\OpenAPI\Models\Operations\DnsManagedZoneOperationsGetRequest::class, $request);
        
        $options = ['http_errors' => false];
        $options = array_merge_recursive($options, Utils\Utils::getQueryParams(\OpenAPI\OpenAPI\Models\Operations\DnsManagedZoneOperationsGetRequest::class, $request, null));
        
        $client = Utils\Utils::configureSecurityClient($this->_defaultClient, $security);
        $httpResponse = $client->request('GET', $url, $options);
        
        $contentType = $httpResponse->getHeader('Content-Type')[0] ?? '';

        $response = new \OpenAPI\OpenAPI\Models\Operations\DnsManagedZoneOperationsGetResponse();
        $response->statusCode = $httpResponse->getStatusCode();
        $response->contentType = $contentType;
        $response->rawResponse = $httpResponse;
        
        if ($httpResponse->getStatusCode() === 200) {
            if (Utils\Utils::matchContentType($contentType, 'application/json')) {
                $serializer = Utils\JSON::createSerializer();
                $response->operation = $serializer->deserialize((string)$httpResponse->getBody(), 'OpenAPI\OpenAPI\Models\Shared\Operation', 'json');
            }
        }

        return $response;
    }
	
    /**
     * Enumerates Operations for the given ManagedZone.
     * 
     * @param \OpenAPI\OpenAPI\Models\Operations\DnsManagedZoneOperationsListRequest $request
     * @param \OpenAPI\OpenAPI\Models\Operations\DnsManagedZoneOperationsListSecurity $security
     * @return \OpenAPI\OpenAPI\Models\Operations\DnsManagedZoneOperationsListResponse
     */
	public function dnsManagedZoneOperationsList(
        \OpenAPI\OpenAPI\Models\Operations\DnsManagedZoneOperationsListRequest $request,
        \OpenAPI\OpenAPI\Models\Operations\DnsManagedZoneOperationsListSecurity $security,
    ): \OpenAPI\OpenAPI\Models\Operations\DnsManagedZoneOperationsListResponse
    {
        $baseUrl = $this->_serverUrl;
        $url = Utils\Utils::generateUrl($baseUrl, '/dns/v1/projects/{project}/managedZones/{managedZone}/operations', \OpenAPI\OpenAPI\Models\Operations\DnsManagedZoneOperationsListRequest::class, $request);
        
        $options = ['http_errors' => false];
        $options = array_merge_recursive($options, Utils\Utils::getQueryParams(\OpenAPI\OpenAPI\Models\Operations\DnsManagedZoneOperationsListRequest::class, $request, null));
        
        $client = Utils\Utils::configureSecurityClient($this->_defaultClient, $security);
        $httpResponse = $client->request('GET', $url, $options);
        
        $contentType = $httpResponse->getHeader('Content-Type')[0] ?? '';

        $response = new \OpenAPI\OpenAPI\Models\Operations\DnsManagedZoneOperationsListResponse();
        $response->statusCode = $httpResponse->getStatusCode();
        $response->contentType = $contentType;
        $response->rawResponse = $httpResponse;
        
        if ($httpResponse->getStatusCode() === 200) {
            if (Utils\Utils::matchContentType($contentType, 'application/json')) {
                $serializer = Utils\JSON::createSerializer();
                $response->managedZoneOperationsListResponse = $serializer->deserialize((string)$httpResponse->getBody(), 'OpenAPI\OpenAPI\Models\Shared\ManagedZoneOperationsListResponse', 'json');
            }
        }

        return $response;
    }
}