<?php

/**
 * Code generated by Speakeasy (https://speakeasyapi.dev). DO NOT EDIT.
 */

declare(strict_types=1);

namespace OpenAPI\OpenAPI;

class KeysApi 
{

	// SDK private variables namespaced with _ to avoid conflicts with API models
	private \GuzzleHttp\ClientInterface $_defaultClient;
	private \GuzzleHttp\ClientInterface $_securityClient;
	private string $_serverUrl;
	private string $_language;
	private string $_sdkVersion;
	private string $_genVersion;	

	/**
	 * @param \GuzzleHttp\ClientInterface $defaultClient
	 * @param \GuzzleHttp\ClientInterface $securityClient
	 * @param string $serverUrl
	 * @param string $language
	 * @param string $sdkVersion
	 * @param string $genVersion
	 */
	public function __construct(\GuzzleHttp\ClientInterface $defaultClient, \GuzzleHttp\ClientInterface $securityClient, string $serverUrl, string $language, string $sdkVersion, string $genVersion)
	{
		$this->_defaultClient = $defaultClient;
		$this->_securityClient = $securityClient;
		$this->_serverUrl = $serverUrl;
		$this->_language = $language;
		$this->_sdkVersion = $sdkVersion;
		$this->_genVersion = $genVersion;
	}
	
    /**
     * keysApiCurrent
     * 
     * @param \OpenAPI\OpenAPI\Models\Operations\KeysApiCurrentRequest $request
     * @return \OpenAPI\OpenAPI\Models\Operations\KeysApiCurrentResponse
     */
	public function keysApiCurrent(
        \OpenAPI\OpenAPI\Models\Operations\KeysApiCurrentRequest $request,
    ): \OpenAPI\OpenAPI\Models\Operations\KeysApiCurrentResponse
    {
        $baseUrl = $this->_serverUrl;
        $url = Utils\Utils::generateUrl($baseUrl, '/v1/KeysApi/Current/{serial}', \OpenAPI\OpenAPI\Models\Operations\KeysApiCurrentRequest::class, $request);
        
        $options = ['http_errors' => false];
        
        $httpResponse = $this->_defaultClient->request('GET', $url, $options);
        
        $contentType = $httpResponse->getHeader('Content-Type')[0] ?? '';

        $response = new \OpenAPI\OpenAPI\Models\Operations\KeysApiCurrentResponse();
        $response->statusCode = $httpResponse->getStatusCode();
        $response->contentType = $contentType;
        $response->rawResponse = $httpResponse;
        
        if ($httpResponse->getStatusCode() === 200) {
            if (Utils\Utils::matchContentType($contentType, 'application/json')) {
                $serializer = Utils\JSON::createSerializer();
                $response->keysApiCurrent200ApplicationJSONOneOf = $serializer->deserialize((string)$httpResponse->getBody(), 'mixed', 'json');
            }
        }

        return $response;
    }
	
    /**
     * keysApiCustom
     * 
     * @param \OpenAPI\OpenAPI\Models\Operations\KeysApiCustomRequest $request
     * @return \OpenAPI\OpenAPI\Models\Operations\KeysApiCustomResponse
     */
	public function keysApiCustom(
        \OpenAPI\OpenAPI\Models\Operations\KeysApiCustomRequest $request,
    ): \OpenAPI\OpenAPI\Models\Operations\KeysApiCustomResponse
    {
        $baseUrl = $this->_serverUrl;
        $url = Utils\Utils::generateUrl($baseUrl, '/v1/KeysApi/Custom/{serial}', \OpenAPI\OpenAPI\Models\Operations\KeysApiCustomRequest::class, $request);
        
        $options = ['http_errors' => false];
        
        $httpResponse = $this->_defaultClient->request('GET', $url, $options);
        
        $contentType = $httpResponse->getHeader('Content-Type')[0] ?? '';

        $response = new \OpenAPI\OpenAPI\Models\Operations\KeysApiCustomResponse();
        $response->statusCode = $httpResponse->getStatusCode();
        $response->contentType = $contentType;
        $response->rawResponse = $httpResponse;
        
        if ($httpResponse->getStatusCode() === 200) {
            if (Utils\Utils::matchContentType($contentType, 'application/octet-stream')) {
                $response->keysApiCustom200ApplicationOctetStreamBinaryString = $httpResponse->getBody()->getContents();
            }
        }

        return $response;
    }
	
    /**
     * keysApiExpiry
     * 
     * @param \OpenAPI\OpenAPI\Models\Operations\KeysApiExpiryRequest $request
     * @return \OpenAPI\OpenAPI\Models\Operations\KeysApiExpiryResponse
     */
	public function keysApiExpiry(
        \OpenAPI\OpenAPI\Models\Operations\KeysApiExpiryRequest $request,
    ): \OpenAPI\OpenAPI\Models\Operations\KeysApiExpiryResponse
    {
        $baseUrl = $this->_serverUrl;
        $url = Utils\Utils::generateUrl($baseUrl, '/v1/KeysApi/Expiry/{serial}', \OpenAPI\OpenAPI\Models\Operations\KeysApiExpiryRequest::class, $request);
        
        $options = ['http_errors' => false];
        
        $httpResponse = $this->_defaultClient->request('GET', $url, $options);
        
        $contentType = $httpResponse->getHeader('Content-Type')[0] ?? '';

        $response = new \OpenAPI\OpenAPI\Models\Operations\KeysApiExpiryResponse();
        $response->statusCode = $httpResponse->getStatusCode();
        $response->contentType = $contentType;
        $response->rawResponse = $httpResponse;
        
        if ($httpResponse->getStatusCode() === 200) {
            if (Utils\Utils::matchContentType($contentType, 'application/json')) {
                $serializer = Utils\JSON::createSerializer();
                $response->keysApiExpiry200ApplicationJSONOneOf = $serializer->deserialize((string)$httpResponse->getBody(), 'mixed', 'json');
            }
        }

        return $response;
    }
	
    /**
     * keysApiFind
     * 
     * @param \OpenAPI\OpenAPI\Models\Operations\KeysApiFindRequest $request
     * @return \OpenAPI\OpenAPI\Models\Operations\KeysApiFindResponse
     */
	public function keysApiFind(
        \OpenAPI\OpenAPI\Models\Operations\KeysApiFindRequest $request,
    ): \OpenAPI\OpenAPI\Models\Operations\KeysApiFindResponse
    {
        $baseUrl = $this->_serverUrl;
        $url = Utils\Utils::generateUrl($baseUrl, '/v1/KeysApi/Find/{serial}', \OpenAPI\OpenAPI\Models\Operations\KeysApiFindRequest::class, $request);
        
        $options = ['http_errors' => false];
        
        $httpResponse = $this->_defaultClient->request('GET', $url, $options);
        
        $contentType = $httpResponse->getHeader('Content-Type')[0] ?? '';

        $response = new \OpenAPI\OpenAPI\Models\Operations\KeysApiFindResponse();
        $response->statusCode = $httpResponse->getStatusCode();
        $response->contentType = $contentType;
        $response->rawResponse = $httpResponse;
        
        if ($httpResponse->getStatusCode() === 200) {
            if (Utils\Utils::matchContentType($contentType, 'application/json')) {
                $serializer = Utils\JSON::createSerializer();
                $response->keysApiFind200ApplicationJSONOneOf = $serializer->deserialize((string)$httpResponse->getBody(), 'mixed', 'json');
            }
        }

        return $response;
    }
}