"""Code generated by Speakeasy (https://speakeasyapi.dev). DO NOT EDIT."""

import requests as requests_http
from . import utils
from sdk.models import operations, shared
from typing import Optional

class CarsHistoryAPI:
    _client: requests_http.Session
    _security_client: requests_http.Session
    _server_url: str
    _language: str
    _sdk_version: str
    _gen_version: str

    def __init__(self, client: requests_http.Session, security_client: requests_http.Session, server_url: str, language: str, sdk_version: str, gen_version: str) -> None:
        self._client = client
        self._security_client = security_client
        self._server_url = server_url
        self._language = language
        self._sdk_version = sdk_version
        self._gen_version = gen_version
        
    def get_car_history(self, request: operations.GetCarHistoryRequest) -> operations.GetCarHistoryResponse:
        r"""Get a cars online listing history
        The history API returns online listing history for a car identified by its VIN. History listings are sorted in the descending order of the listing date / last seen date
        """
        base_url = self._server_url
        
        url = utils.generate_url(operations.GetCarHistoryRequest, base_url, '/history/car/{vin}', request)
        
        query_params = utils.get_query_params(operations.GetCarHistoryRequest, request)
        
        client = self._security_client
        
        http_res = client.request('GET', url, params=query_params)
        content_type = http_res.headers.get('Content-Type')

        res = operations.GetCarHistoryResponse(status_code=http_res.status_code, content_type=content_type, raw_response=http_res)
        
        if http_res.status_code == 200:
            if utils.match_content_type(content_type, 'application/json'):
                out = utils.unmarshal_json(http_res.text, Optional[list[shared.HistoricalListing]])
                res.historical_listings = out
        else:
            if utils.match_content_type(content_type, 'application/json'):
                out = utils.unmarshal_json(http_res.text, Optional[shared.Error])
                res.error = out

        return res

    def get_history_car_uk_vrm_(self, request: operations.GetHistoryCarUkVrmRequest) -> operations.GetHistoryCarUkVrmResponse:
        r"""Get a cars online listing history
        The history API returns online listing history for a car identified by its VRM. History listings are sorted in the descending order of the listing date / last seen date
        """
        base_url = self._server_url
        
        url = utils.generate_url(operations.GetHistoryCarUkVrmRequest, base_url, '/history/car/uk/{vrm}', request)
        
        query_params = utils.get_query_params(operations.GetHistoryCarUkVrmRequest, request)
        
        client = self._security_client
        
        http_res = client.request('GET', url, params=query_params)
        content_type = http_res.headers.get('Content-Type')

        res = operations.GetHistoryCarUkVrmResponse(status_code=http_res.status_code, content_type=content_type, raw_response=http_res)
        
        if http_res.status_code == 200:
            if utils.match_content_type(content_type, 'application/json'):
                out = utils.unmarshal_json(http_res.text, Optional[list[shared.HistoricalListing]])
                res.historical_listings = out
        else:
            if utils.match_content_type(content_type, 'application/json'):
                out = utils.unmarshal_json(http_res.text, Optional[shared.Error])
                res.error = out

        return res

    