"""Code generated by Speakeasy (https://speakeasyapi.dev). DO NOT EDIT."""

import requests as requests_http
from . import utils
from sdk.models import operations, shared
from typing import Optional

class VINDecoderAPI:
    _client: requests_http.Session
    _security_client: requests_http.Session
    _server_url: str
    _language: str
    _sdk_version: str
    _gen_version: str

    def __init__(self, client: requests_http.Session, security_client: requests_http.Session, server_url: str, language: str, sdk_version: str, gen_version: str) -> None:
        self._client = client
        self._security_client = security_client
        self._server_url = server_url
        self._language = language
        self._sdk_version = sdk_version
        self._gen_version = gen_version
        
    def decode(self, request: operations.DecodeRequest) -> operations.DecodeResponse:
        r"""VIN Decoder
        Get the basic information on specifications for a car identified by a valid VIN
        """
        base_url = self._server_url
        
        url = utils.generate_url(operations.DecodeRequest, base_url, '/decode/car/{vin}/specs', request)
        
        query_params = utils.get_query_params(operations.DecodeRequest, request)
        
        client = self._security_client
        
        http_res = client.request('GET', url, params=query_params)
        content_type = http_res.headers.get('Content-Type')

        res = operations.DecodeResponse(status_code=http_res.status_code, content_type=content_type, raw_response=http_res)
        
        if http_res.status_code == 200:
            if utils.match_content_type(content_type, 'application/json'):
                out = utils.unmarshal_json(http_res.text, Optional[shared.Build])
                res.build = out
        else:
            if utils.match_content_type(content_type, 'application/json'):
                out = utils.unmarshal_json(http_res.text, Optional[shared.Error])
                res.error = out

        return res

    def decode_via_epi(self, request: operations.DecodeViaEPIRequest) -> operations.DecodeViaEPIResponse:
        r"""EPI VIN Decoder
        Get the basic information on specifications for a car identified by a valid VIN from EPI's decoder
        """
        base_url = self._server_url
        
        url = utils.generate_url(operations.DecodeViaEPIRequest, base_url, '/decode/car/epi/{vin}/specs', request)
        
        query_params = utils.get_query_params(operations.DecodeViaEPIRequest, request)
        
        client = self._security_client
        
        http_res = client.request('GET', url, params=query_params)
        content_type = http_res.headers.get('Content-Type')

        res = operations.DecodeViaEPIResponse(status_code=http_res.status_code, content_type=content_type, raw_response=http_res)
        
        if http_res.status_code == 200:
            if utils.match_content_type(content_type, 'application/json'):
                out = utils.unmarshal_json(http_res.text, Optional[shared.Build])
                res.build = out
        else:
            if utils.match_content_type(content_type, 'application/json'):
                out = utils.unmarshal_json(http_res.text, Optional[shared.Error])
                res.error = out

        return res

    def decode_via_neo_vin(self, request: operations.DecodeViaNeoVINRequest) -> operations.DecodeViaNeoVINResponse:
        r"""NeoVIN Decoder
        Get the basic information on specifications for a car identified by a valid VIN from NeoVIN decoder
        """
        base_url = self._server_url
        
        url = utils.generate_url(operations.DecodeViaNeoVINRequest, base_url, '/decode/car/neovin/{vin}/specs', request)
        
        query_params = utils.get_query_params(operations.DecodeViaNeoVINRequest, request)
        
        client = self._security_client
        
        http_res = client.request('GET', url, params=query_params)
        content_type = http_res.headers.get('Content-Type')

        res = operations.DecodeViaNeoVINResponse(status_code=http_res.status_code, content_type=content_type, raw_response=http_res)
        
        if http_res.status_code == 200:
            if utils.match_content_type(content_type, 'application/json'):
                out = utils.unmarshal_json(http_res.text, Optional[shared.NeoVIN])
                res.neo_vin = out
        else:
            if utils.match_content_type(content_type, 'application/json'):
                out = utils.unmarshal_json(http_res.text, Optional[shared.Error])
                res.error = out

        return res

    def get_taxonomy_terms(self, request: operations.GetTaxonomyTermsRequest) -> operations.GetTaxonomyTermsResponse:
        r"""API for getting terms from taxonomy
        Facets on taxonomy
        """
        base_url = self._server_url
        
        url = base_url.removesuffix('/') + '/specs/car/terms'
        
        query_params = utils.get_query_params(operations.GetTaxonomyTermsRequest, request)
        
        client = self._security_client
        
        http_res = client.request('GET', url, params=query_params)
        content_type = http_res.headers.get('Content-Type')

        res = operations.GetTaxonomyTermsResponse(status_code=http_res.status_code, content_type=content_type, raw_response=http_res)
        
        if http_res.status_code == 200:
            if utils.match_content_type(content_type, 'application/json'):
                out = utils.unmarshal_json(http_res.text, Optional[shared.SpecsAutoCompleteResponse])
                res.specs_auto_complete_response = out
        else:
            if utils.match_content_type(content_type, 'application/json'):
                out = utils.unmarshal_json(http_res.text, Optional[shared.Error])
                res.error = out

        return res

    def get_specs_car_auto_complete(self, request: operations.GetSpecsCarAutoCompleteRequest) -> operations.GetSpecsCarAutoCompleteResponse:
        r"""API for auto-completion of inputs based on taxonomy
        Auto-complete the inputs of your end users, not from active set but from taxonomy (decoder database)
        """
        base_url = self._server_url
        
        url = base_url.removesuffix('/') + '/specs/car/auto-complete'
        
        query_params = utils.get_query_params(operations.GetSpecsCarAutoCompleteRequest, request)
        
        client = self._security_client
        
        http_res = client.request('GET', url, params=query_params)
        content_type = http_res.headers.get('Content-Type')

        res = operations.GetSpecsCarAutoCompleteResponse(status_code=http_res.status_code, content_type=content_type, raw_response=http_res)
        
        if http_res.status_code == 200:
            if utils.match_content_type(content_type, 'application/json'):
                out = utils.unmarshal_json(http_res.text, Optional[shared.SpecsAutoCompleteResponse])
                res.specs_auto_complete_response = out
        else:
            if utils.match_content_type(content_type, 'application/json'):
                out = utils.unmarshal_json(http_res.text, Optional[shared.Error])
                res.error = out

        return res

    