<?php

/**
 * Code generated by Speakeasy (https://speakeasyapi.dev). DO NOT EDIT.
 */

declare(strict_types=1);

namespace OpenAPI\OpenAPI;

class Api 
{

	// SDK private variables namespaced with _ to avoid conflicts with API models
	private \GuzzleHttp\ClientInterface $_defaultClient;
	private \GuzzleHttp\ClientInterface $_securityClient;
	private string $_serverUrl;
	private string $_language;
	private string $_sdkVersion;
	private string $_genVersion;	

	/**
	 * @param \GuzzleHttp\ClientInterface $defaultClient
	 * @param \GuzzleHttp\ClientInterface $securityClient
	 * @param string $serverUrl
	 * @param string $language
	 * @param string $sdkVersion
	 * @param string $genVersion
	 */
	public function __construct(\GuzzleHttp\ClientInterface $defaultClient, \GuzzleHttp\ClientInterface $securityClient, string $serverUrl, string $language, string $sdkVersion, string $genVersion)
	{
		$this->_defaultClient = $defaultClient;
		$this->_securityClient = $securityClient;
		$this->_serverUrl = $serverUrl;
		$this->_language = $language;
		$this->_sdkVersion = $sdkVersion;
		$this->_genVersion = $genVersion;
	}
	
    /**
     * Create API
     * 
     * This call creates a new API with a default API Version.  
     * 
     * Request body should contain an `api` object which should atleast have a property `name`.
     * 
     * Response contains an `api` object with all the details related to the created API, namely, `id`, `name`, `summary`, `description`, etc. 
     * 
     * > Requires <a href="#authentication">API Key</a> as `X-Api-Key` request header or `apikey` URL query parameter.
     * 
     * @param \OpenAPI\OpenAPI\Models\Operations\CreateApiRequest $request
     * @return \OpenAPI\OpenAPI\Models\Operations\CreateApiResponse
     */
	public function createApi(
        \OpenAPI\OpenAPI\Models\Operations\CreateApiRequest $request,
    ): \OpenAPI\OpenAPI\Models\Operations\CreateApiResponse
    {
        $baseUrl = $this->_serverUrl;
        $url = Utils\Utils::generateUrl($baseUrl, '/apis');
        
        $options = ['http_errors' => false];
        $body = Utils\Utils::serializeRequestBody($request, "requestBody", "json");
        $options = array_merge_recursive($options, $body);
        $options = array_merge_recursive($options, Utils\Utils::getQueryParams(\OpenAPI\OpenAPI\Models\Operations\CreateApiRequest::class, $request, null));
        
        $httpResponse = $this->_defaultClient->request('POST', $url, $options);
        
        $contentType = $httpResponse->getHeader('Content-Type')[0] ?? '';

        $response = new \OpenAPI\OpenAPI\Models\Operations\CreateApiResponse();
        $response->statusCode = $httpResponse->getStatusCode();
        $response->contentType = $contentType;
        $response->rawResponse = $httpResponse;
        
        if ($httpResponse->getStatusCode() === 200) {
            if (Utils\Utils::matchContentType($contentType, 'application/json')) {
                $serializer = Utils\JSON::createSerializer();
                $response->createApi200ApplicationJSONObject = $serializer->deserialize((string)$httpResponse->getBody(), 'OpenAPI\OpenAPI\Models\Operations\CreateApi200ApplicationJSON', 'json');
            }
        }

        return $response;
    }
	
    /**
     * Create API Version
     * 
     * This call creates a new API version in the specified API.  
     * 
     * Request body should contain a `version` object which should have fields:
     * 
     * <table>
     * <tr>
     * 	<td>name</td>
     * 	<td>Required. Name of the API Version</td>
     * </tr>
     * <tr>
     * 	<td>source</td>
     * 	<td>
     * 		If specified, it will copy the contents of the specified api version to create a new api verison.
     * 		<table>
     * 			<tr>
     * 				<td>id</td>
     * 				<td>Required. Id of the apiversion from where the details are to be copied</td>
     * 			</tr>
     * 			<tr>
     * 				<td>schema</td>
     * 				<td>Boolean. If true then copies the schema from the specified api version</td>
     * 			</tr>
     * 			<tr>
     * 				<td>relations</td>
     * 				<td>Object. {"&lt;relationType&gt;": true/false}.  
     * 					Allowed relation types are `mock`, `monitor`, `documentation`, `contracttest`, `integrationtest`, `testsuite`, `environment`
     * 				Relation types which should be copied over to the new api verison</td>
     * 			</tr>
     * 		</table>
     * 	</td>
     * </tr>
     * </table>
     * 
     * Response contains a `version` object with all the details related to the created API Version, namely, `id`, `name`, `api`.
     * 
     * > Requires <a href="#authentication">API Key</a> as `X-Api-Key` request header or `apikey` URL query parameter.
     * 
     * @param \OpenAPI\OpenAPI\Models\Operations\CreateApiVersionRequest $request
     * @return \OpenAPI\OpenAPI\Models\Operations\CreateApiVersionResponse
     */
	public function createApiVersion(
        \OpenAPI\OpenAPI\Models\Operations\CreateApiVersionRequest $request,
    ): \OpenAPI\OpenAPI\Models\Operations\CreateApiVersionResponse
    {
        $baseUrl = $this->_serverUrl;
        $url = Utils\Utils::generateUrl($baseUrl, '/apis/{apiId}/versions', \OpenAPI\OpenAPI\Models\Operations\CreateApiVersionRequest::class, $request);
        
        $options = ['http_errors' => false];
        $body = Utils\Utils::serializeRequestBody($request, "requestBody", "json");
        $options = array_merge_recursive($options, $body);
        
        $httpResponse = $this->_defaultClient->request('POST', $url, $options);
        
        $contentType = $httpResponse->getHeader('Content-Type')[0] ?? '';

        $response = new \OpenAPI\OpenAPI\Models\Operations\CreateApiVersionResponse();
        $response->statusCode = $httpResponse->getStatusCode();
        $response->contentType = $contentType;
        $response->rawResponse = $httpResponse;
        
        if ($httpResponse->getStatusCode() === 200) {
            if (Utils\Utils::matchContentType($contentType, 'application/json')) {
                $serializer = Utils\JSON::createSerializer();
                $response->createApiVersion200ApplicationJSONObject = $serializer->deserialize((string)$httpResponse->getBody(), 'OpenAPI\OpenAPI\Models\Operations\CreateApiVersion200ApplicationJSON', 'json');
            }
        }

        return $response;
    }
	
    /**
     * Create collection from schema
     * 
     * This call creates a collection and links it to an API as one or multiple relations. 
     * 
     * Request body requires two keys:
     * - `name` - Name of the collection to be created.
     * - `relations` - A list of relation(s) to be created.
     * 
     * The allowed relation types are `contracttest`, `integrationtest`, `testsuite`, and `documentation`.
     * 
     * > Requires <a href="#authentication">API Key</a> as `X-Api-Key` request header or `apikey` URL query parameter.
     * 
     * @param \OpenAPI\OpenAPI\Models\Operations\CreateCollectionFromSchemaRequest $request
     * @return \OpenAPI\OpenAPI\Models\Operations\CreateCollectionFromSchemaResponse
     */
	public function createCollectionFromSchema(
        \OpenAPI\OpenAPI\Models\Operations\CreateCollectionFromSchemaRequest $request,
    ): \OpenAPI\OpenAPI\Models\Operations\CreateCollectionFromSchemaResponse
    {
        $baseUrl = $this->_serverUrl;
        $url = Utils\Utils::generateUrl($baseUrl, '/apis/{apiId}/versions/{apiVersionId}/schemas/{schemaId}/collections', \OpenAPI\OpenAPI\Models\Operations\CreateCollectionFromSchemaRequest::class, $request);
        
        $options = ['http_errors' => false];
        $body = Utils\Utils::serializeRequestBody($request, "requestBody", "json");
        $options = array_merge_recursive($options, $body);
        $options = array_merge_recursive($options, Utils\Utils::getQueryParams(\OpenAPI\OpenAPI\Models\Operations\CreateCollectionFromSchemaRequest::class, $request, null));
        
        $httpResponse = $this->_defaultClient->request('POST', $url, $options);
        
        $contentType = $httpResponse->getHeader('Content-Type')[0] ?? '';

        $response = new \OpenAPI\OpenAPI\Models\Operations\CreateCollectionFromSchemaResponse();
        $response->statusCode = $httpResponse->getStatusCode();
        $response->contentType = $contentType;
        $response->rawResponse = $httpResponse;
        
        if ($httpResponse->getStatusCode() === 200) {
            if (Utils\Utils::matchContentType($contentType, 'application/json')) {
                $serializer = Utils\JSON::createSerializer();
                $response->createCollectionFromSchema200ApplicationJSONObject = $serializer->deserialize((string)$httpResponse->getBody(), 'OpenAPI\OpenAPI\Models\Operations\CreateCollectionFromSchema200ApplicationJSON', 'json');
            }
        }

        return $response;
    }
	
    /**
     * Create relations
     * 
     * This call allows you to add existing Postman entities as new relations to an API. The request body should contain the relations to be created along with an array of entity IDs. 
     * 
     * <table>
     *   <tr>
     *     <th>Relation</th>
     *     <th>Entity ID type</th>
     *   <tr>
     *   <tr>
     *     <td>contracttest</td>
     *     <td>Collection UIDs</td>
     *   </tr>
     *   <tr>
     *     <td>integrationtest</td>
     *     <td>Collection UIDs</td>
     *   </tr>
     *   <tr>
     *     <td>documentation</td>
     *     <td>Collection UIDs</td>
     *   </tr>
     *   <tr>
     *     <td>testsuite</td>
     *     <td>Collection UIDs</td>
     *   </tr>
     *   <tr>
     *     <td>environment</td>
     *     <td>Environment UIDs</td>
     *   </tr>
     *   <tr>
     *     <td>mock</td>
     *     <td>Mock IDs</td>
     *   </tr>
     *   <tr>
     *     <td>monitor</td>
     *     <td>Monitor IDs</td>
     *   </tr>
     * </table>
     * 
     * > Requires <a href="#authentication">API Key</a> as `X-Api-Key` request header or `apikey` URL query parameter.
     * 
     * @param \OpenAPI\OpenAPI\Models\Operations\CreateRelationsRequest $request
     * @return \OpenAPI\OpenAPI\Models\Operations\CreateRelationsResponse
     */
	public function createRelations(
        \OpenAPI\OpenAPI\Models\Operations\CreateRelationsRequest $request,
    ): \OpenAPI\OpenAPI\Models\Operations\CreateRelationsResponse
    {
        $baseUrl = $this->_serverUrl;
        $url = Utils\Utils::generateUrl($baseUrl, '/apis/{apiId}/versions/{apiVersionId}/relations', \OpenAPI\OpenAPI\Models\Operations\CreateRelationsRequest::class, $request);
        
        $options = ['http_errors' => false];
        $body = Utils\Utils::serializeRequestBody($request, "requestBody", "json");
        $options = array_merge_recursive($options, $body);
        
        $httpResponse = $this->_defaultClient->request('POST', $url, $options);
        
        $contentType = $httpResponse->getHeader('Content-Type')[0] ?? '';

        $response = new \OpenAPI\OpenAPI\Models\Operations\CreateRelationsResponse();
        $response->statusCode = $httpResponse->getStatusCode();
        $response->contentType = $contentType;
        $response->rawResponse = $httpResponse;
        
        if ($httpResponse->getStatusCode() === 200) {
            if (Utils\Utils::matchContentType($contentType, 'application/json')) {
                $serializer = Utils\JSON::createSerializer();
                $response->createRelations200ApplicationJSONObject = $serializer->deserialize((string)$httpResponse->getBody(), 'OpenAPI\OpenAPI\Models\Operations\CreateRelations200ApplicationJSON', 'json');
            }
        }

        return $response;
    }
	
    /**
     * Create Schema
     * 
     * This call creates a new schema.
     * 
     * Request body should contain a `schema` object which should atleast have these properties with `string` values:
     * 
     * - **`type`**: Allowed types are `openapi3`, `openapi2`, `openapi1`, `raml` and `graphql`.
     * - **`language`** : Allowed languages are `json` and `yaml` for OpenAPI and RAML schema types. GraphQL schema type accepts only `graphql` language.
     * - **`schema`**: Optional. If passed, must be the content of the schema as a `string`.
     * 
     * Response contains a `schema` object with all the details related to the created schema, namely, `id`, `language`, `type` etc. 
     * 
     * > Requires <a href="#authentication">API Key</a> as `X-Api-Key` request header or `apikey` URL query parameter.
     * 
     * @param \OpenAPI\OpenAPI\Models\Operations\CreateSchemaRequest $request
     * @return \OpenAPI\OpenAPI\Models\Operations\CreateSchemaResponse
     */
	public function createSchema(
        \OpenAPI\OpenAPI\Models\Operations\CreateSchemaRequest $request,
    ): \OpenAPI\OpenAPI\Models\Operations\CreateSchemaResponse
    {
        $baseUrl = $this->_serverUrl;
        $url = Utils\Utils::generateUrl($baseUrl, '/apis/{apiId}/versions/{apiVersionId}/schemas', \OpenAPI\OpenAPI\Models\Operations\CreateSchemaRequest::class, $request);
        
        $options = ['http_errors' => false];
        $body = Utils\Utils::serializeRequestBody($request, "requestBody", "json");
        $options = array_merge_recursive($options, $body);
        
        $httpResponse = $this->_defaultClient->request('POST', $url, $options);
        
        $contentType = $httpResponse->getHeader('Content-Type')[0] ?? '';

        $response = new \OpenAPI\OpenAPI\Models\Operations\CreateSchemaResponse();
        $response->statusCode = $httpResponse->getStatusCode();
        $response->contentType = $contentType;
        $response->rawResponse = $httpResponse;
        
        if ($httpResponse->getStatusCode() === 200) {
            if (Utils\Utils::matchContentType($contentType, 'application/json')) {
                $serializer = Utils\JSON::createSerializer();
                $response->createSchema200ApplicationJSONObject = $serializer->deserialize((string)$httpResponse->getBody(), 'OpenAPI\OpenAPI\Models\Operations\CreateSchema200ApplicationJSON', 'json');
            }
        }

        return $response;
    }
	
    /**
     * Delete an API
     * 
     * This call deletes an existing API having the specified id.  
     * 
     * Response contains an `api` object with `id` of the API which was deleted.
     * 
     * > Requires <a href="#authentication">API Key</a> as `X-Api-Key` request header or `apikey` URL query parameter.
     * 
     * @param \OpenAPI\OpenAPI\Models\Operations\DeleteAnApiRequest $request
     * @return \OpenAPI\OpenAPI\Models\Operations\DeleteAnApiResponse
     */
	public function deleteAnApi(
        \OpenAPI\OpenAPI\Models\Operations\DeleteAnApiRequest $request,
    ): \OpenAPI\OpenAPI\Models\Operations\DeleteAnApiResponse
    {
        $baseUrl = $this->_serverUrl;
        $url = Utils\Utils::generateUrl($baseUrl, '/apis/{apiId}', \OpenAPI\OpenAPI\Models\Operations\DeleteAnApiRequest::class, $request);
        
        $options = ['http_errors' => false];
        
        $httpResponse = $this->_defaultClient->request('DELETE', $url, $options);
        
        $contentType = $httpResponse->getHeader('Content-Type')[0] ?? '';

        $response = new \OpenAPI\OpenAPI\Models\Operations\DeleteAnApiResponse();
        $response->statusCode = $httpResponse->getStatusCode();
        $response->contentType = $contentType;
        $response->rawResponse = $httpResponse;
        
        if ($httpResponse->getStatusCode() === 200) {
            if (Utils\Utils::matchContentType($contentType, 'application/json')) {
                $serializer = Utils\JSON::createSerializer();
                $response->deleteAnApi200ApplicationJSONObject = $serializer->deserialize((string)$httpResponse->getBody(), 'OpenAPI\OpenAPI\Models\Operations\DeleteAnApi200ApplicationJSON', 'json');
            }
        }

        return $response;
    }
	
    /**
     * Delete an API Version
     * 
     * This call deletes an existing API Version having the specified id.  
     * 
     * Response contains an `version` object with `id` of the API Version which was deleted.
     * 
     * > Requires <a href="#authentication">API Key</a> as `X-Api-Key` request header or `apikey` URL query parameter.
     * 
     * @param \OpenAPI\OpenAPI\Models\Operations\DeleteAnApiVersionRequest $request
     * @return \OpenAPI\OpenAPI\Models\Operations\DeleteAnApiVersionResponse
     */
	public function deleteAnApiVersion(
        \OpenAPI\OpenAPI\Models\Operations\DeleteAnApiVersionRequest $request,
    ): \OpenAPI\OpenAPI\Models\Operations\DeleteAnApiVersionResponse
    {
        $baseUrl = $this->_serverUrl;
        $url = Utils\Utils::generateUrl($baseUrl, '/apis/{apiId}/versions/{apiVersionId}', \OpenAPI\OpenAPI\Models\Operations\DeleteAnApiVersionRequest::class, $request);
        
        $options = ['http_errors' => false];
        
        $httpResponse = $this->_defaultClient->request('DELETE', $url, $options);
        
        $contentType = $httpResponse->getHeader('Content-Type')[0] ?? '';

        $response = new \OpenAPI\OpenAPI\Models\Operations\DeleteAnApiVersionResponse();
        $response->statusCode = $httpResponse->getStatusCode();
        $response->contentType = $contentType;
        $response->rawResponse = $httpResponse;
        
        if ($httpResponse->getStatusCode() === 200) {
            if (Utils\Utils::matchContentType($contentType, 'application/json')) {
                $serializer = Utils\JSON::createSerializer();
                $response->deleteAnApiVersion200ApplicationJSONObject = $serializer->deserialize((string)$httpResponse->getBody(), 'OpenAPI\OpenAPI\Models\Operations\DeleteAnApiVersion200ApplicationJSON', 'json');
            }
        }

        return $response;
    }
	
    /**
     * Get all APIs
     * 
     * This call fetches all the APIs present in the specified workspace
     * 
     * Response contains an array named `apis` which would contain all the details of APIs present in the workspace.
     * 
     * > Requires <a href="#authentication">API Key</a> as `X-Api-Key` request header or `apikey` URL query parameter.
     * 
     * @param \OpenAPI\OpenAPI\Models\Operations\GetAllApIsRequest $request
     * @return \OpenAPI\OpenAPI\Models\Operations\GetAllApIsResponse
     */
	public function getAllApIs(
        \OpenAPI\OpenAPI\Models\Operations\GetAllApIsRequest $request,
    ): \OpenAPI\OpenAPI\Models\Operations\GetAllApIsResponse
    {
        $baseUrl = $this->_serverUrl;
        $url = Utils\Utils::generateUrl($baseUrl, '/apis');
        
        $options = ['http_errors' => false];
        $options = array_merge_recursive($options, Utils\Utils::getQueryParams(\OpenAPI\OpenAPI\Models\Operations\GetAllApIsRequest::class, $request, null));
        
        $httpResponse = $this->_defaultClient->request('GET', $url, $options);
        
        $contentType = $httpResponse->getHeader('Content-Type')[0] ?? '';

        $response = new \OpenAPI\OpenAPI\Models\Operations\GetAllApIsResponse();
        $response->statusCode = $httpResponse->getStatusCode();
        $response->contentType = $contentType;
        $response->rawResponse = $httpResponse;
        
        if ($httpResponse->getStatusCode() === 200) {
        }

        return $response;
    }
	
    /**
     * Get All API Versions
     * 
     * This call fetches details about the all the API Versions in the specified API.
     * 
     * The response will contain an array `versions` object which would be a list of all the API Version along with their details.
     * 
     * > Requires <a href="#authentication">API Key</a> as `X-Api-Key` request header or `apikey` URL query parameter.
     * 
     * @param \OpenAPI\OpenAPI\Models\Operations\GetAllApiVersionsRequest $request
     * @return \OpenAPI\OpenAPI\Models\Operations\GetAllApiVersionsResponse
     */
	public function getAllApiVersions(
        \OpenAPI\OpenAPI\Models\Operations\GetAllApiVersionsRequest $request,
    ): \OpenAPI\OpenAPI\Models\Operations\GetAllApiVersionsResponse
    {
        $baseUrl = $this->_serverUrl;
        $url = Utils\Utils::generateUrl($baseUrl, '/apis/{apiId}/versions', \OpenAPI\OpenAPI\Models\Operations\GetAllApiVersionsRequest::class, $request);
        
        $options = ['http_errors' => false];
        
        $httpResponse = $this->_defaultClient->request('GET', $url, $options);
        
        $contentType = $httpResponse->getHeader('Content-Type')[0] ?? '';

        $response = new \OpenAPI\OpenAPI\Models\Operations\GetAllApiVersionsResponse();
        $response->statusCode = $httpResponse->getStatusCode();
        $response->contentType = $contentType;
        $response->rawResponse = $httpResponse;
        
        if ($httpResponse->getStatusCode() === 200) {
            if (Utils\Utils::matchContentType($contentType, 'application/json')) {
                $serializer = Utils\JSON::createSerializer();
                $response->getAllApiVersions200ApplicationJSONObject = $serializer->deserialize((string)$httpResponse->getBody(), 'OpenAPI\OpenAPI\Models\Operations\GetAllApiVersions200ApplicationJSON', 'json');
            }
        }

        return $response;
    }
	
    /**
     * Get an API Version
     * 
     * This call fetches details about the specified API Version.
     * 
     * The response will contain a `version` object which would contain all the details of the API Version.
     * 
     * > Requires <a href="#authentication">API Key</a> as `X-Api-Key` request header or `apikey` URL query parameter.
     * 
     * @param \OpenAPI\OpenAPI\Models\Operations\GetAnApiVersionRequest $request
     * @return \OpenAPI\OpenAPI\Models\Operations\GetAnApiVersionResponse
     */
	public function getAnApiVersion(
        \OpenAPI\OpenAPI\Models\Operations\GetAnApiVersionRequest $request,
    ): \OpenAPI\OpenAPI\Models\Operations\GetAnApiVersionResponse
    {
        $baseUrl = $this->_serverUrl;
        $url = Utils\Utils::generateUrl($baseUrl, '/apis/{apiId}/versions/{apiVersionId}', \OpenAPI\OpenAPI\Models\Operations\GetAnApiVersionRequest::class, $request);
        
        $options = ['http_errors' => false];
        
        $httpResponse = $this->_defaultClient->request('GET', $url, $options);
        
        $contentType = $httpResponse->getHeader('Content-Type')[0] ?? '';

        $response = new \OpenAPI\OpenAPI\Models\Operations\GetAnApiVersionResponse();
        $response->statusCode = $httpResponse->getStatusCode();
        $response->contentType = $contentType;
        $response->rawResponse = $httpResponse;
        
        if ($httpResponse->getStatusCode() === 200) {
            if (Utils\Utils::matchContentType($contentType, 'application/json')) {
                $serializer = Utils\JSON::createSerializer();
                $response->getAnApiVersion200ApplicationJSONObject = $serializer->deserialize((string)$httpResponse->getBody(), 'OpenAPI\OpenAPI\Models\Operations\GetAnApiVersion200ApplicationJSON', 'json');
            }
        }

        return $response;
    }
	
    /**
     * Get contract test relations
     * 
     * This call fetches all the relations by type which are linked to the specified API version along with their details.
     * 
     * The response will contain an array with key `{{relationType}}`. Each of the item will consist of all the details related each of the relation.
     * 
     * > Requires <a href="#authentication">API Key</a> as `X-Api-Key` request header or `apikey` URL query parameter.
     * 
     * @param \OpenAPI\OpenAPI\Models\Operations\GetContractTestRelationsRequest $request
     * @return \OpenAPI\OpenAPI\Models\Operations\GetContractTestRelationsResponse
     */
	public function getContractTestRelations(
        \OpenAPI\OpenAPI\Models\Operations\GetContractTestRelationsRequest $request,
    ): \OpenAPI\OpenAPI\Models\Operations\GetContractTestRelationsResponse
    {
        $baseUrl = $this->_serverUrl;
        $url = Utils\Utils::generateUrl($baseUrl, '/apis/{apiId}/versions/{apiVersionId}/contracttest', \OpenAPI\OpenAPI\Models\Operations\GetContractTestRelationsRequest::class, $request);
        
        $options = ['http_errors' => false];
        
        $httpResponse = $this->_defaultClient->request('GET', $url, $options);
        
        $contentType = $httpResponse->getHeader('Content-Type')[0] ?? '';

        $response = new \OpenAPI\OpenAPI\Models\Operations\GetContractTestRelationsResponse();
        $response->statusCode = $httpResponse->getStatusCode();
        $response->contentType = $contentType;
        $response->rawResponse = $httpResponse;
        
        if ($httpResponse->getStatusCode() === 200) {
            if (Utils\Utils::matchContentType($contentType, 'application/json')) {
                $serializer = Utils\JSON::createSerializer();
                $response->getContractTestRelations200ApplicationJSONObject = $serializer->deserialize((string)$httpResponse->getBody(), 'OpenAPI\OpenAPI\Models\Operations\GetContractTestRelations200ApplicationJSON', 'json');
            }
        }

        return $response;
    }
	
    /**
     * Get  documentation relations
     * 
     * This call fetches all the relations by type which are linked to the specified API version along with their details.
     * 
     * The response will contain an array with key `{{relationType}}`. Each of the item will consist of all the details related each of the relation.
     * 
     * > Requires <a href="#authentication">API Key</a> as `X-Api-Key` request header or `apikey` URL query parameter.
     * 
     * @param \OpenAPI\OpenAPI\Models\Operations\GetDocumentationRelationsRequest $request
     * @return \OpenAPI\OpenAPI\Models\Operations\GetDocumentationRelationsResponse
     */
	public function getDocumentationRelations(
        \OpenAPI\OpenAPI\Models\Operations\GetDocumentationRelationsRequest $request,
    ): \OpenAPI\OpenAPI\Models\Operations\GetDocumentationRelationsResponse
    {
        $baseUrl = $this->_serverUrl;
        $url = Utils\Utils::generateUrl($baseUrl, '/apis/{apiId}/versions/{apiVersionId}/documentation', \OpenAPI\OpenAPI\Models\Operations\GetDocumentationRelationsRequest::class, $request);
        
        $options = ['http_errors' => false];
        
        $httpResponse = $this->_defaultClient->request('GET', $url, $options);
        
        $contentType = $httpResponse->getHeader('Content-Type')[0] ?? '';

        $response = new \OpenAPI\OpenAPI\Models\Operations\GetDocumentationRelationsResponse();
        $response->statusCode = $httpResponse->getStatusCode();
        $response->contentType = $contentType;
        $response->rawResponse = $httpResponse;
        
        if ($httpResponse->getStatusCode() === 200) {
            if (Utils\Utils::matchContentType($contentType, 'application/json')) {
                $serializer = Utils\JSON::createSerializer();
                $response->getDocumentationRelations200ApplicationJSONObject = $serializer->deserialize((string)$httpResponse->getBody(), 'OpenAPI\OpenAPI\Models\Operations\GetDocumentationRelations200ApplicationJSON', 'json');
            }
        }

        return $response;
    }
	
    /**
     * Get environment relations
     * 
     * This call fetches all the relations by type which are linked to the specified API version along with their details.
     * 
     * The response will contain an array with key `{{relationType}}`. Each of the item will consist of all the details related each of the relation.
     * 
     * > Requires <a href="#authentication">API Key</a> as `X-Api-Key` request header or `apikey` URL query parameter.
     * 
     * @param \OpenAPI\OpenAPI\Models\Operations\GetEnvironmentRelationsRequest $request
     * @return \OpenAPI\OpenAPI\Models\Operations\GetEnvironmentRelationsResponse
     */
	public function getEnvironmentRelations(
        \OpenAPI\OpenAPI\Models\Operations\GetEnvironmentRelationsRequest $request,
    ): \OpenAPI\OpenAPI\Models\Operations\GetEnvironmentRelationsResponse
    {
        $baseUrl = $this->_serverUrl;
        $url = Utils\Utils::generateUrl($baseUrl, '/apis/{apiId}/versions/{apiVersionId}/environment', \OpenAPI\OpenAPI\Models\Operations\GetEnvironmentRelationsRequest::class, $request);
        
        $options = ['http_errors' => false];
        
        $httpResponse = $this->_defaultClient->request('GET', $url, $options);
        
        $contentType = $httpResponse->getHeader('Content-Type')[0] ?? '';

        $response = new \OpenAPI\OpenAPI\Models\Operations\GetEnvironmentRelationsResponse();
        $response->statusCode = $httpResponse->getStatusCode();
        $response->contentType = $contentType;
        $response->rawResponse = $httpResponse;
        
        if ($httpResponse->getStatusCode() === 200) {
            if (Utils\Utils::matchContentType($contentType, 'application/json')) {
                $serializer = Utils\JSON::createSerializer();
                $response->getEnvironmentRelations200ApplicationJSONObject = $serializer->deserialize((string)$httpResponse->getBody(), 'OpenAPI\OpenAPI\Models\Operations\GetEnvironmentRelations200ApplicationJSON', 'json');
            }
        }

        return $response;
    }
	
    /**
     * Get integration test relations
     * 
     * This call fetches all the relations by type which are linked to the specified API version along with their details.
     * 
     * The response will contain an array with key `{{relationType}}`. Each of the item will consist of all the details related each of the relation.
     * 
     * > Requires <a href="#authentication">API Key</a> as `X-Api-Key` request header or `apikey` URL query parameter.
     * 
     * @param \OpenAPI\OpenAPI\Models\Operations\GetIntegrationTestRelationsRequest $request
     * @return \OpenAPI\OpenAPI\Models\Operations\GetIntegrationTestRelationsResponse
     */
	public function getIntegrationTestRelations(
        \OpenAPI\OpenAPI\Models\Operations\GetIntegrationTestRelationsRequest $request,
    ): \OpenAPI\OpenAPI\Models\Operations\GetIntegrationTestRelationsResponse
    {
        $baseUrl = $this->_serverUrl;
        $url = Utils\Utils::generateUrl($baseUrl, '/apis/{apiId}/versions/{apiVersionId}/integrationtest', \OpenAPI\OpenAPI\Models\Operations\GetIntegrationTestRelationsRequest::class, $request);
        
        $options = ['http_errors' => false];
        
        $httpResponse = $this->_defaultClient->request('GET', $url, $options);
        
        $contentType = $httpResponse->getHeader('Content-Type')[0] ?? '';

        $response = new \OpenAPI\OpenAPI\Models\Operations\GetIntegrationTestRelationsResponse();
        $response->statusCode = $httpResponse->getStatusCode();
        $response->contentType = $contentType;
        $response->rawResponse = $httpResponse;
        
        if ($httpResponse->getStatusCode() === 200) {
            if (Utils\Utils::matchContentType($contentType, 'application/json')) {
                $serializer = Utils\JSON::createSerializer();
                $response->getIntegrationTestRelations200ApplicationJSONObject = $serializer->deserialize((string)$httpResponse->getBody(), 'OpenAPI\OpenAPI\Models\Operations\GetIntegrationTestRelations200ApplicationJSON', 'json');
            }
        }

        return $response;
    }
	
    /**
     * Get linked relations
     * 
     * This call fetches all the relations which are linked to the specified API version along with their details.
     * 
     * The response will contain a `relations` object which lists all the relation types which are linked to the API version. Each of the relation type will be an object which details the relations of this type. 
     * 
     * > Requires <a href="#authentication">API Key</a> as `X-Api-Key` request header or `apikey` URL query parameter.
     * 
     * @param \OpenAPI\OpenAPI\Models\Operations\GetLinkedRelationsRequest $request
     * @return \OpenAPI\OpenAPI\Models\Operations\GetLinkedRelationsResponse
     */
	public function getLinkedRelations(
        \OpenAPI\OpenAPI\Models\Operations\GetLinkedRelationsRequest $request,
    ): \OpenAPI\OpenAPI\Models\Operations\GetLinkedRelationsResponse
    {
        $baseUrl = $this->_serverUrl;
        $url = Utils\Utils::generateUrl($baseUrl, '/apis/{apiId}/versions/{apiVersionId}/relations', \OpenAPI\OpenAPI\Models\Operations\GetLinkedRelationsRequest::class, $request);
        
        $options = ['http_errors' => false];
        
        $httpResponse = $this->_defaultClient->request('GET', $url, $options);
        
        $contentType = $httpResponse->getHeader('Content-Type')[0] ?? '';

        $response = new \OpenAPI\OpenAPI\Models\Operations\GetLinkedRelationsResponse();
        $response->statusCode = $httpResponse->getStatusCode();
        $response->contentType = $contentType;
        $response->rawResponse = $httpResponse;
        
        if ($httpResponse->getStatusCode() === 200) {
            if (Utils\Utils::matchContentType($contentType, 'application/json')) {
                $serializer = Utils\JSON::createSerializer();
                $response->getLinkedRelations200ApplicationJSONObject = $serializer->deserialize((string)$httpResponse->getBody(), 'OpenAPI\OpenAPI\Models\Operations\GetLinkedRelations200ApplicationJSON', 'json');
            }
        }

        return $response;
    }
	
    /**
     * Get monitor relations
     * 
     * This call fetches all the relations by type which are linked to the specified API version along with their details.
     * 
     * The response will contain an array with key `{{relationType}}`. Each of the item will consist of all the details related each of the relation.
     * 
     * > Requires <a href="#authentication">API Key</a> as `X-Api-Key` request header or `apikey` URL query parameter.
     * 
     * @param \OpenAPI\OpenAPI\Models\Operations\GetMonitorRelationsRequest $request
     * @return \OpenAPI\OpenAPI\Models\Operations\GetMonitorRelationsResponse
     */
	public function getMonitorRelations(
        \OpenAPI\OpenAPI\Models\Operations\GetMonitorRelationsRequest $request,
    ): \OpenAPI\OpenAPI\Models\Operations\GetMonitorRelationsResponse
    {
        $baseUrl = $this->_serverUrl;
        $url = Utils\Utils::generateUrl($baseUrl, '/apis/{apiId}/versions/{apiVersionId}/monitor', \OpenAPI\OpenAPI\Models\Operations\GetMonitorRelationsRequest::class, $request);
        
        $options = ['http_errors' => false];
        
        $httpResponse = $this->_defaultClient->request('GET', $url, $options);
        
        $contentType = $httpResponse->getHeader('Content-Type')[0] ?? '';

        $response = new \OpenAPI\OpenAPI\Models\Operations\GetMonitorRelationsResponse();
        $response->statusCode = $httpResponse->getStatusCode();
        $response->contentType = $contentType;
        $response->rawResponse = $httpResponse;
        
        if ($httpResponse->getStatusCode() === 200) {
            if (Utils\Utils::matchContentType($contentType, 'application/json')) {
                $serializer = Utils\JSON::createSerializer();
                $response->getMonitorRelations200ApplicationJSONObject = $serializer->deserialize((string)$httpResponse->getBody(), 'OpenAPI\OpenAPI\Models\Operations\GetMonitorRelations200ApplicationJSON', 'json');
            }
        }

        return $response;
    }
	
    /**
     * Get Schema
     * 
     * This call fetches a single schema having the specified id.
     * 
     * Response contains a `schema` object with all the details related to the schema, namely, `id`, `language`, `type`, `schema` etc. 
     * 
     * > Requires <a href="#authentication">API Key</a> as `X-Api-Key` request header or `apikey` URL query parameter.
     * 
     * @param \OpenAPI\OpenAPI\Models\Operations\GetSchemaRequest $request
     * @return \OpenAPI\OpenAPI\Models\Operations\GetSchemaResponse
     */
	public function getSchema(
        \OpenAPI\OpenAPI\Models\Operations\GetSchemaRequest $request,
    ): \OpenAPI\OpenAPI\Models\Operations\GetSchemaResponse
    {
        $baseUrl = $this->_serverUrl;
        $url = Utils\Utils::generateUrl($baseUrl, '/apis/{apiId}/versions/{apiVersionId}/schemas/{schemaId}', \OpenAPI\OpenAPI\Models\Operations\GetSchemaRequest::class, $request);
        
        $options = ['http_errors' => false];
        
        $httpResponse = $this->_defaultClient->request('GET', $url, $options);
        
        $contentType = $httpResponse->getHeader('Content-Type')[0] ?? '';

        $response = new \OpenAPI\OpenAPI\Models\Operations\GetSchemaResponse();
        $response->statusCode = $httpResponse->getStatusCode();
        $response->contentType = $contentType;
        $response->rawResponse = $httpResponse;
        
        if ($httpResponse->getStatusCode() === 200) {
            if (Utils\Utils::matchContentType($contentType, 'application/json')) {
                $serializer = Utils\JSON::createSerializer();
                $response->getSchema200ApplicationJSONObject = $serializer->deserialize((string)$httpResponse->getBody(), 'OpenAPI\OpenAPI\Models\Operations\GetSchema200ApplicationJSON', 'json');
            }
        }

        return $response;
    }
	
    /**
     * Get test suite relations
     * 
     * This call fetches all the relations by type which are linked to the specified API version along with their details.
     * 
     * The response will contain an array with key `{{relationType}}`. Each of the item will consist of all the details related each of the relation.
     * 
     * > Requires <a href="#authentication">API Key</a> as `X-Api-Key` request header or `apikey` URL query parameter.
     * 
     * @param \OpenAPI\OpenAPI\Models\Operations\GetTestSuiteRelationsRequest $request
     * @return \OpenAPI\OpenAPI\Models\Operations\GetTestSuiteRelationsResponse
     */
	public function getTestSuiteRelations(
        \OpenAPI\OpenAPI\Models\Operations\GetTestSuiteRelationsRequest $request,
    ): \OpenAPI\OpenAPI\Models\Operations\GetTestSuiteRelationsResponse
    {
        $baseUrl = $this->_serverUrl;
        $url = Utils\Utils::generateUrl($baseUrl, '/apis/{apiId}/versions/{apiVersionId}/testsuite', \OpenAPI\OpenAPI\Models\Operations\GetTestSuiteRelationsRequest::class, $request);
        
        $options = ['http_errors' => false];
        
        $httpResponse = $this->_defaultClient->request('GET', $url, $options);
        
        $contentType = $httpResponse->getHeader('Content-Type')[0] ?? '';

        $response = new \OpenAPI\OpenAPI\Models\Operations\GetTestSuiteRelationsResponse();
        $response->statusCode = $httpResponse->getStatusCode();
        $response->contentType = $contentType;
        $response->rawResponse = $httpResponse;
        
        if ($httpResponse->getStatusCode() === 200) {
            if (Utils\Utils::matchContentType($contentType, 'application/json')) {
                $serializer = Utils\JSON::createSerializer();
                $response->getTestSuiteRelations200ApplicationJSONObject = $serializer->deserialize((string)$httpResponse->getBody(), 'OpenAPI\OpenAPI\Models\Operations\GetTestSuiteRelations200ApplicationJSON', 'json');
            }
        }

        return $response;
    }
	
    /**
     * Single API
     * 
     * This call fetches a single API having the specified id.
     * 
     * Response contains an `api` object with all the details related to the queried API, namely, `id`, `name`, `summary`, `description` etc. 
     * 
     * > Requires <a href="#authentication">API Key</a> as `X-Api-Key` request header or `apikey` URL query parameter.
     * 
     * @param \OpenAPI\OpenAPI\Models\Operations\SingleApiRequest $request
     * @return \OpenAPI\OpenAPI\Models\Operations\SingleApiResponse
     */
	public function singleApi(
        \OpenAPI\OpenAPI\Models\Operations\SingleApiRequest $request,
    ): \OpenAPI\OpenAPI\Models\Operations\SingleApiResponse
    {
        $baseUrl = $this->_serverUrl;
        $url = Utils\Utils::generateUrl($baseUrl, '/apis/{apiId}', \OpenAPI\OpenAPI\Models\Operations\SingleApiRequest::class, $request);
        
        $options = ['http_errors' => false];
        
        $httpResponse = $this->_defaultClient->request('GET', $url, $options);
        
        $contentType = $httpResponse->getHeader('Content-Type')[0] ?? '';

        $response = new \OpenAPI\OpenAPI\Models\Operations\SingleApiResponse();
        $response->statusCode = $httpResponse->getStatusCode();
        $response->contentType = $contentType;
        $response->rawResponse = $httpResponse;
        
        if ($httpResponse->getStatusCode() === 200) {
            if (Utils\Utils::matchContentType($contentType, 'application/json')) {
                $serializer = Utils\JSON::createSerializer();
                $response->singleApi200ApplicationJSONObject = $serializer->deserialize((string)$httpResponse->getBody(), 'OpenAPI\OpenAPI\Models\Operations\SingleApi200ApplicationJSON', 'json');
            }
        }

        return $response;
    }
	
    /**
     * Sync relations with schema
     * 
     * This call allows you to keep the relation in sync with the API schema.
     * 
     * 
     * > Requires <a href="#authentication">API Key</a> as `X-Api-Key` request header or `apikey` URL query parameter.
     * 
     * @param \OpenAPI\OpenAPI\Models\Operations\SyncRelationsWithSchemaRequest $request
     * @return \OpenAPI\OpenAPI\Models\Operations\SyncRelationsWithSchemaResponse
     */
	public function syncRelationsWithSchema(
        \OpenAPI\OpenAPI\Models\Operations\SyncRelationsWithSchemaRequest $request,
    ): \OpenAPI\OpenAPI\Models\Operations\SyncRelationsWithSchemaResponse
    {
        $baseUrl = $this->_serverUrl;
        $url = Utils\Utils::generateUrl($baseUrl, '/apis/{apiId}/versions/{apiVersionId}/{entityType}/{entityId}/syncWithSchema', \OpenAPI\OpenAPI\Models\Operations\SyncRelationsWithSchemaRequest::class, $request);
        
        $options = ['http_errors' => false];
        
        $httpResponse = $this->_defaultClient->request('PUT', $url, $options);
        
        $contentType = $httpResponse->getHeader('Content-Type')[0] ?? '';

        $response = new \OpenAPI\OpenAPI\Models\Operations\SyncRelationsWithSchemaResponse();
        $response->statusCode = $httpResponse->getStatusCode();
        $response->contentType = $contentType;
        $response->rawResponse = $httpResponse;
        
        if ($httpResponse->getStatusCode() === 200) {
            if (Utils\Utils::matchContentType($contentType, 'application/json')) {
                $serializer = Utils\JSON::createSerializer();
                $response->syncRelationsWithSchema200ApplicationJSONObject = $serializer->deserialize((string)$httpResponse->getBody(), 'OpenAPI\OpenAPI\Models\Operations\SyncRelationsWithSchema200ApplicationJSON', 'json');
            }
        }
        else if ($httpResponse->getStatusCode() === 400) {
            if (Utils\Utils::matchContentType($contentType, 'application/json')) {
                $serializer = Utils\JSON::createSerializer();
                $response->syncRelationsWithSchema400ApplicationJSONObject = $serializer->deserialize((string)$httpResponse->getBody(), 'OpenAPI\OpenAPI\Models\Operations\SyncRelationsWithSchema400ApplicationJSON', 'json');
            }
        }

        return $response;
    }
	
    /**
     * Update an API
     * 
     * This call updates an existing API .  
     * 
     * Request body should contain an `api` object which should have the fields to be updated. Only `name`, `summary` and `description` fields can be edited for an API.
     * 
     * Response contains an `api` object with all the details related to the created API, namely, `id`, `name`, `summary`, `description` etc. 
     * 
     * > Requires <a href="#authentication">API Key</a> as `X-Api-Key` request header or `apikey` URL query parameter.
     * 
     * @param \OpenAPI\OpenAPI\Models\Operations\UpdateAnApiRequest $request
     * @return \OpenAPI\OpenAPI\Models\Operations\UpdateAnApiResponse
     */
	public function updateAnApi(
        \OpenAPI\OpenAPI\Models\Operations\UpdateAnApiRequest $request,
    ): \OpenAPI\OpenAPI\Models\Operations\UpdateAnApiResponse
    {
        $baseUrl = $this->_serverUrl;
        $url = Utils\Utils::generateUrl($baseUrl, '/apis/{apiId}', \OpenAPI\OpenAPI\Models\Operations\UpdateAnApiRequest::class, $request);
        
        $options = ['http_errors' => false];
        $body = Utils\Utils::serializeRequestBody($request, "requestBody", "json");
        $options = array_merge_recursive($options, $body);
        
        $httpResponse = $this->_defaultClient->request('PUT', $url, $options);
        
        $contentType = $httpResponse->getHeader('Content-Type')[0] ?? '';

        $response = new \OpenAPI\OpenAPI\Models\Operations\UpdateAnApiResponse();
        $response->statusCode = $httpResponse->getStatusCode();
        $response->contentType = $contentType;
        $response->rawResponse = $httpResponse;
        
        if ($httpResponse->getStatusCode() === 200) {
            if (Utils\Utils::matchContentType($contentType, 'application/json')) {
                $serializer = Utils\JSON::createSerializer();
                $response->updateAnApi200ApplicationJSONObject = $serializer->deserialize((string)$httpResponse->getBody(), 'OpenAPI\OpenAPI\Models\Operations\UpdateAnApi200ApplicationJSON', 'json');
            }
        }

        return $response;
    }
	
    /**
     * Update an API Version
     * 
     * This call updates an existing API Version.  
     * 
     * Request body should contain a `version` object with the fields which need to be updated. Only field which can be updated is `name`.
     * 
     * Response contains a `version` object with all the details related to the created API Version, namely, `id`, `name`, `api` etc.
     * 
     * > Requires <a href="#authentication">API Key</a> as `X-Api-Key` request header or `apikey` URL query parameter.
     * 
     * @param \OpenAPI\OpenAPI\Models\Operations\UpdateAnApiVersionRequest $request
     * @return \OpenAPI\OpenAPI\Models\Operations\UpdateAnApiVersionResponse
     */
	public function updateAnApiVersion(
        \OpenAPI\OpenAPI\Models\Operations\UpdateAnApiVersionRequest $request,
    ): \OpenAPI\OpenAPI\Models\Operations\UpdateAnApiVersionResponse
    {
        $baseUrl = $this->_serverUrl;
        $url = Utils\Utils::generateUrl($baseUrl, '/apis/{apiId}/versions/{apiVersionId}', \OpenAPI\OpenAPI\Models\Operations\UpdateAnApiVersionRequest::class, $request);
        
        $options = ['http_errors' => false];
        $body = Utils\Utils::serializeRequestBody($request, "requestBody", "json");
        $options = array_merge_recursive($options, $body);
        
        $httpResponse = $this->_defaultClient->request('PUT', $url, $options);
        
        $contentType = $httpResponse->getHeader('Content-Type')[0] ?? '';

        $response = new \OpenAPI\OpenAPI\Models\Operations\UpdateAnApiVersionResponse();
        $response->statusCode = $httpResponse->getStatusCode();
        $response->contentType = $contentType;
        $response->rawResponse = $httpResponse;
        
        if ($httpResponse->getStatusCode() === 200) {
            if (Utils\Utils::matchContentType($contentType, 'application/json')) {
                $serializer = Utils\JSON::createSerializer();
                $response->updateAnApiVersion200ApplicationJSONObject = $serializer->deserialize((string)$httpResponse->getBody(), 'OpenAPI\OpenAPI\Models\Operations\UpdateAnApiVersion200ApplicationJSON', 'json');
            }
        }

        return $response;
    }
	
    /**
     * Update Schema
     * 
     * This call updates an existing schema.
     * 
     * Request body should contain a `schema` object which should atleast have these properties with `string` values:
     * 
     * - **`type`**: Allowed types are `openapi3`, `openapi2`, `openapi1`, `raml` and `graphql`.
     * - **`language`** : Allowed languages are `json` and `yaml` for OpenAPI and RAML schema types. GraphQL schema type accepts only `graphql` language.
     * - **`schema`**: Optional. If passed, must be the content of the schema as a `string`.
     * 
     * Response contains a `schema` object with all the details related to the created schema, namely, `id`, `language`, `type` etc. 
     * 
     * > Requires <a href="#authentication">API Key</a> as `X-Api-Key` request header or `apikey` URL query parameter.
     * 
     * @param \OpenAPI\OpenAPI\Models\Operations\UpdateSchemaRequest $request
     * @return \OpenAPI\OpenAPI\Models\Operations\UpdateSchemaResponse
     */
	public function updateSchema(
        \OpenAPI\OpenAPI\Models\Operations\UpdateSchemaRequest $request,
    ): \OpenAPI\OpenAPI\Models\Operations\UpdateSchemaResponse
    {
        $baseUrl = $this->_serverUrl;
        $url = Utils\Utils::generateUrl($baseUrl, '/apis/{apiId}/versions/{apiVersionId}/schemas/{schemaId}', \OpenAPI\OpenAPI\Models\Operations\UpdateSchemaRequest::class, $request);
        
        $options = ['http_errors' => false];
        $body = Utils\Utils::serializeRequestBody($request, "requestBody", "json");
        $options = array_merge_recursive($options, $body);
        
        $httpResponse = $this->_defaultClient->request('PUT', $url, $options);
        
        $contentType = $httpResponse->getHeader('Content-Type')[0] ?? '';

        $response = new \OpenAPI\OpenAPI\Models\Operations\UpdateSchemaResponse();
        $response->statusCode = $httpResponse->getStatusCode();
        $response->contentType = $contentType;
        $response->rawResponse = $httpResponse;
        
        if ($httpResponse->getStatusCode() === 200) {
            if (Utils\Utils::matchContentType($contentType, 'application/json')) {
                $serializer = Utils\JSON::createSerializer();
                $response->updateSchema200ApplicationJSONObject = $serializer->deserialize((string)$httpResponse->getBody(), 'OpenAPI\OpenAPI\Models\Operations\UpdateSchema200ApplicationJSON', 'json');
            }
        }

        return $response;
    }
}