<?php

/**
 * Code generated by Speakeasy (https://speakeasyapi.dev). DO NOT EDIT.
 */

declare(strict_types=1);

namespace OpenAPI\OpenAPI;

class Operations 
{

	// SDK private variables namespaced with _ to avoid conflicts with API models
	private \GuzzleHttp\ClientInterface $_defaultClient;
	private \GuzzleHttp\ClientInterface $_securityClient;
	private string $_serverUrl;
	private string $_language;
	private string $_sdkVersion;
	private string $_genVersion;	

	/**
	 * @param \GuzzleHttp\ClientInterface $defaultClient
	 * @param \GuzzleHttp\ClientInterface $securityClient
	 * @param string $serverUrl
	 * @param string $language
	 * @param string $sdkVersion
	 * @param string $genVersion
	 */
	public function __construct(\GuzzleHttp\ClientInterface $defaultClient, \GuzzleHttp\ClientInterface $securityClient, string $serverUrl, string $language, string $sdkVersion, string $genVersion)
	{
		$this->_defaultClient = $defaultClient;
		$this->_securityClient = $securityClient;
		$this->_serverUrl = $serverUrl;
		$this->_language = $language;
		$this->_sdkVersion = $sdkVersion;
		$this->_genVersion = $genVersion;
	}
	
    /**
     * Generate a billing preview
     * 
     * **Note:** The Billing Preview feature is in **Limited Availability**. If you wish to have access to the feature, submit a request at [Zuora Global Support](http://support.zuora.com/). 
     * 
     * 
     * Generates a preview of future invoice items for one customer account. Use the BillingPreview call to calculate how much a single customer will be invoiced from the most recent invoice to a specific end of term date in the future.
     * 
     * Additionally, you can use the BillingPreview service to access real-time data on an individual customer's usage consumption. 
     * 
     * The BillingPreview call does not calculate taxes for charges in the subscription.
     * 
     * If you have the Invoice Settlement feature enabled, you can also generate a preview of future credit memo items for one customer account. The Invoice Settlement feature is generally available as of Zuora Billing Release 296 (March 2021). This feature includes Unapplied Payments, Credit and Debit Memo, and Invoice Item Settlement. If you want to enable Invoice Settlement, see [Invoice Settlement Enablement and Checklist Guide](https://knowledgecenter.zuora.com/Billing/Billing_and_Payments/Invoice_Settlement/Invoice_Settlement_Migration_Checklist_and_Guide) for more information. 
     * 
     * 
     * @param \OpenAPI\OpenAPI\Models\Operations\POSTBillingPreviewRequest $request
     * @return \OpenAPI\OpenAPI\Models\Operations\POSTBillingPreviewResponse
     */
	public function postBillingPreview(
        \OpenAPI\OpenAPI\Models\Operations\POSTBillingPreviewRequest $request,
    ): \OpenAPI\OpenAPI\Models\Operations\POSTBillingPreviewResponse
    {
        $baseUrl = $this->_serverUrl;
        $url = Utils\Utils::generateUrl($baseUrl, '/v1/operations/billing-preview');
        
        $options = ['http_errors' => false];
        $body = Utils\Utils::serializeRequestBody($request, "postBillingPreviewParam", "json");
        if ($body === null) {
            throw new \Exception('Request body is required');
        }
        $options = array_merge_recursive($options, $body);
        $options = array_merge_recursive($options, Utils\Utils::getHeaders($request));
        
        $httpResponse = $this->_defaultClient->request('POST', $url, $options);
        
        $contentType = $httpResponse->getHeader('Content-Type')[0] ?? '';

        $response = new \OpenAPI\OpenAPI\Models\Operations\POSTBillingPreviewResponse();
        $response->statusCode = $httpResponse->getStatusCode();
        $response->contentType = $contentType;
        $response->rawResponse = $httpResponse;
        
        if ($httpResponse->getStatusCode() === 200) {
            $response->headers = $httpResponse->getHeaders();
            
            if (Utils\Utils::matchContentType($contentType, 'application/json; charset=utf-8')) {
                $serializer = Utils\JSON::createSerializer();
                $response->billingPreviewResult = $serializer->deserialize((string)$httpResponse->getBody(), 'OpenAPI\OpenAPI\Models\Shared\BillingPreviewResult', 'json');
            }
        }

        return $response;
    }
	
    /**
     * Invoice and collect
     * 
     * Generates and posts invoices and credit memos and collects payments for posted invoices. Credit memos are only available if you have the Invoice Settlement feature enabled and negative charges exist. Credit memos will not be applied to invoices. If draft invoices and credit memos exist when you run this operation, this operation will post the invoices and credit memos. Note that draft credit memos created from an invoice or a product rate plan charge will not be posted.
     * 
     * You can use this operation to generate invoices and collect payments on the posted invoices,
     *  or else simply collect payment on a specified existing
     * invoice. The customer's default payment method is used, and the full
     * amount due is collected. The operation depends on the parameters you
     * specify.
     * 
     * - To generate one or more new invoices for that customer and collect
     * payment on the generated and other unpaid invoice(s), leave the **invoiceId** field empty. 
     * 
     * - To collect payment on an existing invoice, specify the invoice ID. 
     * 
     * 
     * The operation is atomic; if any part is unsuccessful, the entire
     * operation is rolled back.
     * 
     * When an error occurs, gateway reason codes and error messages are returned the error response of this operation. The following items are some gateway response code examples.
     * 
     * - Orbital: `05 Do Not Honor`; `14 Invalid Credit Card Number`
     * - Vantiv: `301 Invalid Account Number`; `304 Lost/Stolen Card`  
     * - CyberSource2: `202 Expired card`; `231 Invalid account number`
     * 
     * For more reason code information, see the corresponding payment gateway documentation. 
     * 
     * 
     * ## Notes
     * 
     * Timeouts may occur when using this method on an account that
     * has an extremely high number of subscriptions.
     * 
     * 
     * @param \OpenAPI\OpenAPI\Models\Operations\POSTTransactionInvoicePaymentRequest $request
     * @return \OpenAPI\OpenAPI\Models\Operations\POSTTransactionInvoicePaymentResponse
     */
	public function postTransactionInvoicePayment(
        \OpenAPI\OpenAPI\Models\Operations\POSTTransactionInvoicePaymentRequest $request,
    ): \OpenAPI\OpenAPI\Models\Operations\POSTTransactionInvoicePaymentResponse
    {
        $baseUrl = $this->_serverUrl;
        $url = Utils\Utils::generateUrl($baseUrl, '/v1/operations/invoice-collect');
        
        $options = ['http_errors' => false];
        $body = Utils\Utils::serializeRequestBody($request, "postInvoiceCollectType", "json");
        if ($body === null) {
            throw new \Exception('Request body is required');
        }
        $options = array_merge_recursive($options, $body);
        $options = array_merge_recursive($options, Utils\Utils::getHeaders($request));
        
        $httpResponse = $this->_defaultClient->request('POST', $url, $options);
        
        $contentType = $httpResponse->getHeader('Content-Type')[0] ?? '';

        $response = new \OpenAPI\OpenAPI\Models\Operations\POSTTransactionInvoicePaymentResponse();
        $response->statusCode = $httpResponse->getStatusCode();
        $response->contentType = $contentType;
        $response->rawResponse = $httpResponse;
        
        if ($httpResponse->getStatusCode() === 200) {
            $response->headers = $httpResponse->getHeaders();
            
            if (Utils\Utils::matchContentType($contentType, 'application/json; charset=utf-8')) {
                $serializer = Utils\JSON::createSerializer();
                $response->postInvoiceCollectResponseType = $serializer->deserialize((string)$httpResponse->getBody(), 'OpenAPI\OpenAPI\Models\Shared\POSTInvoiceCollectResponseType', 'json');
            }
        }

        return $response;
    }
}