<?php

/**
 * Code generated by Speakeasy (https://speakeasyapi.dev). DO NOT EDIT.
 */

declare(strict_types=1);

namespace OpenAPI\OpenAPI;

class GlobalOrganizationOperations 
{

	// SDK private variables namespaced with _ to avoid conflicts with API models
	private \GuzzleHttp\ClientInterface $_defaultClient;
	private \GuzzleHttp\ClientInterface $_securityClient;
	private string $_serverUrl;
	private string $_language;
	private string $_sdkVersion;
	private string $_genVersion;	

	/**
	 * @param \GuzzleHttp\ClientInterface $defaultClient
	 * @param \GuzzleHttp\ClientInterface $securityClient
	 * @param string $serverUrl
	 * @param string $language
	 * @param string $sdkVersion
	 * @param string $genVersion
	 */
	public function __construct(\GuzzleHttp\ClientInterface $defaultClient, \GuzzleHttp\ClientInterface $securityClient, string $serverUrl, string $language, string $sdkVersion, string $genVersion)
	{
		$this->_defaultClient = $defaultClient;
		$this->_securityClient = $securityClient;
		$this->_serverUrl = $serverUrl;
		$this->_language = $language;
		$this->_sdkVersion = $sdkVersion;
		$this->_genVersion = $genVersion;
	}
	
    /**
     * Deletes the specified Operations resource.
     * 
     * @param \OpenAPI\OpenAPI\Models\Operations\ComputeGlobalOrganizationOperationsDeleteRequest $request
     * @param \OpenAPI\OpenAPI\Models\Operations\ComputeGlobalOrganizationOperationsDeleteSecurity $security
     * @return \OpenAPI\OpenAPI\Models\Operations\ComputeGlobalOrganizationOperationsDeleteResponse
     */
	public function computeGlobalOrganizationOperationsDelete(
        \OpenAPI\OpenAPI\Models\Operations\ComputeGlobalOrganizationOperationsDeleteRequest $request,
        \OpenAPI\OpenAPI\Models\Operations\ComputeGlobalOrganizationOperationsDeleteSecurity $security,
    ): \OpenAPI\OpenAPI\Models\Operations\ComputeGlobalOrganizationOperationsDeleteResponse
    {
        $baseUrl = $this->_serverUrl;
        $url = Utils\Utils::generateUrl($baseUrl, '/locations/global/operations/{operation}', \OpenAPI\OpenAPI\Models\Operations\ComputeGlobalOrganizationOperationsDeleteRequest::class, $request);
        
        $options = ['http_errors' => false];
        $options = array_merge_recursive($options, Utils\Utils::getQueryParams(\OpenAPI\OpenAPI\Models\Operations\ComputeGlobalOrganizationOperationsDeleteRequest::class, $request, null));
        
        $client = Utils\Utils::configureSecurityClient($this->_defaultClient, $security);
        $httpResponse = $client->request('DELETE', $url, $options);
        
        $contentType = $httpResponse->getHeader('Content-Type')[0] ?? '';

        $response = new \OpenAPI\OpenAPI\Models\Operations\ComputeGlobalOrganizationOperationsDeleteResponse();
        $response->statusCode = $httpResponse->getStatusCode();
        $response->contentType = $contentType;
        $response->rawResponse = $httpResponse;
        
        if ($httpResponse->getStatusCode() === 200) {
        }

        return $response;
    }
	
    /**
     * Retrieves the specified Operations resource. Gets a list of operations by making a `list()` request.
     * 
     * @param \OpenAPI\OpenAPI\Models\Operations\ComputeGlobalOrganizationOperationsGetRequest $request
     * @param \OpenAPI\OpenAPI\Models\Operations\ComputeGlobalOrganizationOperationsGetSecurity $security
     * @return \OpenAPI\OpenAPI\Models\Operations\ComputeGlobalOrganizationOperationsGetResponse
     */
	public function computeGlobalOrganizationOperationsGet(
        \OpenAPI\OpenAPI\Models\Operations\ComputeGlobalOrganizationOperationsGetRequest $request,
        \OpenAPI\OpenAPI\Models\Operations\ComputeGlobalOrganizationOperationsGetSecurity $security,
    ): \OpenAPI\OpenAPI\Models\Operations\ComputeGlobalOrganizationOperationsGetResponse
    {
        $baseUrl = $this->_serverUrl;
        $url = Utils\Utils::generateUrl($baseUrl, '/locations/global/operations/{operation}', \OpenAPI\OpenAPI\Models\Operations\ComputeGlobalOrganizationOperationsGetRequest::class, $request);
        
        $options = ['http_errors' => false];
        $options = array_merge_recursive($options, Utils\Utils::getQueryParams(\OpenAPI\OpenAPI\Models\Operations\ComputeGlobalOrganizationOperationsGetRequest::class, $request, null));
        
        $client = Utils\Utils::configureSecurityClient($this->_defaultClient, $security);
        $httpResponse = $client->request('GET', $url, $options);
        
        $contentType = $httpResponse->getHeader('Content-Type')[0] ?? '';

        $response = new \OpenAPI\OpenAPI\Models\Operations\ComputeGlobalOrganizationOperationsGetResponse();
        $response->statusCode = $httpResponse->getStatusCode();
        $response->contentType = $contentType;
        $response->rawResponse = $httpResponse;
        
        if ($httpResponse->getStatusCode() === 200) {
            if (Utils\Utils::matchContentType($contentType, 'application/json')) {
                $serializer = Utils\JSON::createSerializer();
                $response->operation = $serializer->deserialize((string)$httpResponse->getBody(), 'OpenAPI\OpenAPI\Models\Shared\Operation', 'json');
            }
        }

        return $response;
    }
	
    /**
     * Retrieves a list of Operation resources contained within the specified organization.
     * 
     * @param \OpenAPI\OpenAPI\Models\Operations\ComputeGlobalOrganizationOperationsListRequest $request
     * @param \OpenAPI\OpenAPI\Models\Operations\ComputeGlobalOrganizationOperationsListSecurity $security
     * @return \OpenAPI\OpenAPI\Models\Operations\ComputeGlobalOrganizationOperationsListResponse
     */
	public function computeGlobalOrganizationOperationsList(
        \OpenAPI\OpenAPI\Models\Operations\ComputeGlobalOrganizationOperationsListRequest $request,
        \OpenAPI\OpenAPI\Models\Operations\ComputeGlobalOrganizationOperationsListSecurity $security,
    ): \OpenAPI\OpenAPI\Models\Operations\ComputeGlobalOrganizationOperationsListResponse
    {
        $baseUrl = $this->_serverUrl;
        $url = Utils\Utils::generateUrl($baseUrl, '/locations/global/operations');
        
        $options = ['http_errors' => false];
        $options = array_merge_recursive($options, Utils\Utils::getQueryParams(\OpenAPI\OpenAPI\Models\Operations\ComputeGlobalOrganizationOperationsListRequest::class, $request, null));
        
        $client = Utils\Utils::configureSecurityClient($this->_defaultClient, $security);
        $httpResponse = $client->request('GET', $url, $options);
        
        $contentType = $httpResponse->getHeader('Content-Type')[0] ?? '';

        $response = new \OpenAPI\OpenAPI\Models\Operations\ComputeGlobalOrganizationOperationsListResponse();
        $response->statusCode = $httpResponse->getStatusCode();
        $response->contentType = $contentType;
        $response->rawResponse = $httpResponse;
        
        if ($httpResponse->getStatusCode() === 200) {
            if (Utils\Utils::matchContentType($contentType, 'application/json')) {
                $serializer = Utils\JSON::createSerializer();
                $response->operationList = $serializer->deserialize((string)$httpResponse->getBody(), 'OpenAPI\OpenAPI\Models\Shared\OperationList', 'json');
            }
        }

        return $response;
    }
}