<?php

/**
 * Code generated by Speakeasy (https://speakeasyapi.dev). DO NOT EDIT.
 */

declare(strict_types=1);

namespace OpenAPI\OpenAPI;

class GlobalOperations 
{

	// SDK private variables namespaced with _ to avoid conflicts with API models
	private \GuzzleHttp\ClientInterface $_defaultClient;
	private \GuzzleHttp\ClientInterface $_securityClient;
	private string $_serverUrl;
	private string $_language;
	private string $_sdkVersion;
	private string $_genVersion;	

	/**
	 * @param \GuzzleHttp\ClientInterface $defaultClient
	 * @param \GuzzleHttp\ClientInterface $securityClient
	 * @param string $serverUrl
	 * @param string $language
	 * @param string $sdkVersion
	 * @param string $genVersion
	 */
	public function __construct(\GuzzleHttp\ClientInterface $defaultClient, \GuzzleHttp\ClientInterface $securityClient, string $serverUrl, string $language, string $sdkVersion, string $genVersion)
	{
		$this->_defaultClient = $defaultClient;
		$this->_securityClient = $securityClient;
		$this->_serverUrl = $serverUrl;
		$this->_language = $language;
		$this->_sdkVersion = $sdkVersion;
		$this->_genVersion = $genVersion;
	}
	
    /**
     * Retrieves an aggregated list of all operations.
     * 
     * @param \OpenAPI\OpenAPI\Models\Operations\ComputeGlobalOperationsAggregatedListRequest $request
     * @param \OpenAPI\OpenAPI\Models\Operations\ComputeGlobalOperationsAggregatedListSecurity $security
     * @return \OpenAPI\OpenAPI\Models\Operations\ComputeGlobalOperationsAggregatedListResponse
     */
	public function computeGlobalOperationsAggregatedList(
        \OpenAPI\OpenAPI\Models\Operations\ComputeGlobalOperationsAggregatedListRequest $request,
        \OpenAPI\OpenAPI\Models\Operations\ComputeGlobalOperationsAggregatedListSecurity $security,
    ): \OpenAPI\OpenAPI\Models\Operations\ComputeGlobalOperationsAggregatedListResponse
    {
        $baseUrl = $this->_serverUrl;
        $url = Utils\Utils::generateUrl($baseUrl, '/projects/{project}/aggregated/operations', \OpenAPI\OpenAPI\Models\Operations\ComputeGlobalOperationsAggregatedListRequest::class, $request);
        
        $options = ['http_errors' => false];
        $options = array_merge_recursive($options, Utils\Utils::getQueryParams(\OpenAPI\OpenAPI\Models\Operations\ComputeGlobalOperationsAggregatedListRequest::class, $request, null));
        
        $client = Utils\Utils::configureSecurityClient($this->_defaultClient, $security);
        $httpResponse = $client->request('GET', $url, $options);
        
        $contentType = $httpResponse->getHeader('Content-Type')[0] ?? '';

        $response = new \OpenAPI\OpenAPI\Models\Operations\ComputeGlobalOperationsAggregatedListResponse();
        $response->statusCode = $httpResponse->getStatusCode();
        $response->contentType = $contentType;
        $response->rawResponse = $httpResponse;
        
        if ($httpResponse->getStatusCode() === 200) {
            if (Utils\Utils::matchContentType($contentType, 'application/json')) {
                $serializer = Utils\JSON::createSerializer();
                $response->operationAggregatedList = $serializer->deserialize((string)$httpResponse->getBody(), 'OpenAPI\OpenAPI\Models\Shared\OperationAggregatedList', 'json');
            }
        }

        return $response;
    }
	
    /**
     * Deletes the specified Operations resource.
     * 
     * @param \OpenAPI\OpenAPI\Models\Operations\ComputeGlobalOperationsDeleteRequest $request
     * @param \OpenAPI\OpenAPI\Models\Operations\ComputeGlobalOperationsDeleteSecurity $security
     * @return \OpenAPI\OpenAPI\Models\Operations\ComputeGlobalOperationsDeleteResponse
     */
	public function computeGlobalOperationsDelete(
        \OpenAPI\OpenAPI\Models\Operations\ComputeGlobalOperationsDeleteRequest $request,
        \OpenAPI\OpenAPI\Models\Operations\ComputeGlobalOperationsDeleteSecurity $security,
    ): \OpenAPI\OpenAPI\Models\Operations\ComputeGlobalOperationsDeleteResponse
    {
        $baseUrl = $this->_serverUrl;
        $url = Utils\Utils::generateUrl($baseUrl, '/projects/{project}/global/operations/{operation}', \OpenAPI\OpenAPI\Models\Operations\ComputeGlobalOperationsDeleteRequest::class, $request);
        
        $options = ['http_errors' => false];
        $options = array_merge_recursive($options, Utils\Utils::getQueryParams(\OpenAPI\OpenAPI\Models\Operations\ComputeGlobalOperationsDeleteRequest::class, $request, null));
        
        $client = Utils\Utils::configureSecurityClient($this->_defaultClient, $security);
        $httpResponse = $client->request('DELETE', $url, $options);
        
        $contentType = $httpResponse->getHeader('Content-Type')[0] ?? '';

        $response = new \OpenAPI\OpenAPI\Models\Operations\ComputeGlobalOperationsDeleteResponse();
        $response->statusCode = $httpResponse->getStatusCode();
        $response->contentType = $contentType;
        $response->rawResponse = $httpResponse;
        
        if ($httpResponse->getStatusCode() === 200) {
        }

        return $response;
    }
	
    /**
     * Retrieves the specified Operations resource.
     * 
     * @param \OpenAPI\OpenAPI\Models\Operations\ComputeGlobalOperationsGetRequest $request
     * @param \OpenAPI\OpenAPI\Models\Operations\ComputeGlobalOperationsGetSecurity $security
     * @return \OpenAPI\OpenAPI\Models\Operations\ComputeGlobalOperationsGetResponse
     */
	public function computeGlobalOperationsGet(
        \OpenAPI\OpenAPI\Models\Operations\ComputeGlobalOperationsGetRequest $request,
        \OpenAPI\OpenAPI\Models\Operations\ComputeGlobalOperationsGetSecurity $security,
    ): \OpenAPI\OpenAPI\Models\Operations\ComputeGlobalOperationsGetResponse
    {
        $baseUrl = $this->_serverUrl;
        $url = Utils\Utils::generateUrl($baseUrl, '/projects/{project}/global/operations/{operation}', \OpenAPI\OpenAPI\Models\Operations\ComputeGlobalOperationsGetRequest::class, $request);
        
        $options = ['http_errors' => false];
        $options = array_merge_recursive($options, Utils\Utils::getQueryParams(\OpenAPI\OpenAPI\Models\Operations\ComputeGlobalOperationsGetRequest::class, $request, null));
        
        $client = Utils\Utils::configureSecurityClient($this->_defaultClient, $security);
        $httpResponse = $client->request('GET', $url, $options);
        
        $contentType = $httpResponse->getHeader('Content-Type')[0] ?? '';

        $response = new \OpenAPI\OpenAPI\Models\Operations\ComputeGlobalOperationsGetResponse();
        $response->statusCode = $httpResponse->getStatusCode();
        $response->contentType = $contentType;
        $response->rawResponse = $httpResponse;
        
        if ($httpResponse->getStatusCode() === 200) {
            if (Utils\Utils::matchContentType($contentType, 'application/json')) {
                $serializer = Utils\JSON::createSerializer();
                $response->operation = $serializer->deserialize((string)$httpResponse->getBody(), 'OpenAPI\OpenAPI\Models\Shared\Operation', 'json');
            }
        }

        return $response;
    }
	
    /**
     * Retrieves a list of Operation resources contained within the specified project.
     * 
     * @param \OpenAPI\OpenAPI\Models\Operations\ComputeGlobalOperationsListRequest $request
     * @param \OpenAPI\OpenAPI\Models\Operations\ComputeGlobalOperationsListSecurity $security
     * @return \OpenAPI\OpenAPI\Models\Operations\ComputeGlobalOperationsListResponse
     */
	public function computeGlobalOperationsList(
        \OpenAPI\OpenAPI\Models\Operations\ComputeGlobalOperationsListRequest $request,
        \OpenAPI\OpenAPI\Models\Operations\ComputeGlobalOperationsListSecurity $security,
    ): \OpenAPI\OpenAPI\Models\Operations\ComputeGlobalOperationsListResponse
    {
        $baseUrl = $this->_serverUrl;
        $url = Utils\Utils::generateUrl($baseUrl, '/projects/{project}/global/operations', \OpenAPI\OpenAPI\Models\Operations\ComputeGlobalOperationsListRequest::class, $request);
        
        $options = ['http_errors' => false];
        $options = array_merge_recursive($options, Utils\Utils::getQueryParams(\OpenAPI\OpenAPI\Models\Operations\ComputeGlobalOperationsListRequest::class, $request, null));
        
        $client = Utils\Utils::configureSecurityClient($this->_defaultClient, $security);
        $httpResponse = $client->request('GET', $url, $options);
        
        $contentType = $httpResponse->getHeader('Content-Type')[0] ?? '';

        $response = new \OpenAPI\OpenAPI\Models\Operations\ComputeGlobalOperationsListResponse();
        $response->statusCode = $httpResponse->getStatusCode();
        $response->contentType = $contentType;
        $response->rawResponse = $httpResponse;
        
        if ($httpResponse->getStatusCode() === 200) {
            if (Utils\Utils::matchContentType($contentType, 'application/json')) {
                $serializer = Utils\JSON::createSerializer();
                $response->operationList = $serializer->deserialize((string)$httpResponse->getBody(), 'OpenAPI\OpenAPI\Models\Shared\OperationList', 'json');
            }
        }

        return $response;
    }
	
    /**
     * Waits for the specified Operation resource to return as `DONE` or for the request to approach the 2 minute deadline, and retrieves the specified Operation resource. This method differs from the `GET` method in that it waits for no more than the default deadline (2 minutes) and then returns the current state of the operation, which might be `DONE` or still in progress. This method is called on a best-effort basis. Specifically: - In uncommon cases, when the server is overloaded, the request might return before the default deadline is reached, or might return after zero seconds. - If the default deadline is reached, there is no guarantee that the operation is actually done when the method returns. Be prepared to retry if the operation is not `DONE`. 
     * 
     * @param \OpenAPI\OpenAPI\Models\Operations\ComputeGlobalOperationsWaitRequest $request
     * @param \OpenAPI\OpenAPI\Models\Operations\ComputeGlobalOperationsWaitSecurity $security
     * @return \OpenAPI\OpenAPI\Models\Operations\ComputeGlobalOperationsWaitResponse
     */
	public function computeGlobalOperationsWait(
        \OpenAPI\OpenAPI\Models\Operations\ComputeGlobalOperationsWaitRequest $request,
        \OpenAPI\OpenAPI\Models\Operations\ComputeGlobalOperationsWaitSecurity $security,
    ): \OpenAPI\OpenAPI\Models\Operations\ComputeGlobalOperationsWaitResponse
    {
        $baseUrl = $this->_serverUrl;
        $url = Utils\Utils::generateUrl($baseUrl, '/projects/{project}/global/operations/{operation}/wait', \OpenAPI\OpenAPI\Models\Operations\ComputeGlobalOperationsWaitRequest::class, $request);
        
        $options = ['http_errors' => false];
        $options = array_merge_recursive($options, Utils\Utils::getQueryParams(\OpenAPI\OpenAPI\Models\Operations\ComputeGlobalOperationsWaitRequest::class, $request, null));
        
        $client = Utils\Utils::configureSecurityClient($this->_defaultClient, $security);
        $httpResponse = $client->request('POST', $url, $options);
        
        $contentType = $httpResponse->getHeader('Content-Type')[0] ?? '';

        $response = new \OpenAPI\OpenAPI\Models\Operations\ComputeGlobalOperationsWaitResponse();
        $response->statusCode = $httpResponse->getStatusCode();
        $response->contentType = $contentType;
        $response->rawResponse = $httpResponse;
        
        if ($httpResponse->getStatusCode() === 200) {
            if (Utils\Utils::matchContentType($contentType, 'application/json')) {
                $serializer = Utils\JSON::createSerializer();
                $response->operation = $serializer->deserialize((string)$httpResponse->getBody(), 'OpenAPI\OpenAPI\Models\Shared\Operation', 'json');
            }
        }

        return $response;
    }
}