<?php

/**
 * Code generated by Speakeasy (https://speakeasyapi.dev). DO NOT EDIT.
 */

declare(strict_types=1);

namespace OpenAPI\OpenAPI;

class ZoneOperations 
{

	// SDK private variables namespaced with _ to avoid conflicts with API models
	private \GuzzleHttp\ClientInterface $_defaultClient;
	private \GuzzleHttp\ClientInterface $_securityClient;
	private string $_serverUrl;
	private string $_language;
	private string $_sdkVersion;
	private string $_genVersion;	

	/**
	 * @param \GuzzleHttp\ClientInterface $defaultClient
	 * @param \GuzzleHttp\ClientInterface $securityClient
	 * @param string $serverUrl
	 * @param string $language
	 * @param string $sdkVersion
	 * @param string $genVersion
	 */
	public function __construct(\GuzzleHttp\ClientInterface $defaultClient, \GuzzleHttp\ClientInterface $securityClient, string $serverUrl, string $language, string $sdkVersion, string $genVersion)
	{
		$this->_defaultClient = $defaultClient;
		$this->_securityClient = $securityClient;
		$this->_serverUrl = $serverUrl;
		$this->_language = $language;
		$this->_sdkVersion = $sdkVersion;
		$this->_genVersion = $genVersion;
	}
	
    /**
     * Deletes the specified zone-specific Operations resource.
     * 
     * @param \OpenAPI\OpenAPI\Models\Operations\ComputeZoneOperationsDeleteRequest $request
     * @param \OpenAPI\OpenAPI\Models\Operations\ComputeZoneOperationsDeleteSecurity $security
     * @return \OpenAPI\OpenAPI\Models\Operations\ComputeZoneOperationsDeleteResponse
     */
	public function computeZoneOperationsDelete(
        \OpenAPI\OpenAPI\Models\Operations\ComputeZoneOperationsDeleteRequest $request,
        \OpenAPI\OpenAPI\Models\Operations\ComputeZoneOperationsDeleteSecurity $security,
    ): \OpenAPI\OpenAPI\Models\Operations\ComputeZoneOperationsDeleteResponse
    {
        $baseUrl = $this->_serverUrl;
        $url = Utils\Utils::generateUrl($baseUrl, '/projects/{project}/zones/{zone}/operations/{operation}', \OpenAPI\OpenAPI\Models\Operations\ComputeZoneOperationsDeleteRequest::class, $request);
        
        $options = ['http_errors' => false];
        $options = array_merge_recursive($options, Utils\Utils::getQueryParams(\OpenAPI\OpenAPI\Models\Operations\ComputeZoneOperationsDeleteRequest::class, $request, null));
        
        $client = Utils\Utils::configureSecurityClient($this->_defaultClient, $security);
        $httpResponse = $client->request('DELETE', $url, $options);
        
        $contentType = $httpResponse->getHeader('Content-Type')[0] ?? '';

        $response = new \OpenAPI\OpenAPI\Models\Operations\ComputeZoneOperationsDeleteResponse();
        $response->statusCode = $httpResponse->getStatusCode();
        $response->contentType = $contentType;
        $response->rawResponse = $httpResponse;
        
        if ($httpResponse->getStatusCode() === 200) {
        }

        return $response;
    }
	
    /**
     * Retrieves the specified zone-specific Operations resource.
     * 
     * @param \OpenAPI\OpenAPI\Models\Operations\ComputeZoneOperationsGetRequest $request
     * @param \OpenAPI\OpenAPI\Models\Operations\ComputeZoneOperationsGetSecurity $security
     * @return \OpenAPI\OpenAPI\Models\Operations\ComputeZoneOperationsGetResponse
     */
	public function computeZoneOperationsGet(
        \OpenAPI\OpenAPI\Models\Operations\ComputeZoneOperationsGetRequest $request,
        \OpenAPI\OpenAPI\Models\Operations\ComputeZoneOperationsGetSecurity $security,
    ): \OpenAPI\OpenAPI\Models\Operations\ComputeZoneOperationsGetResponse
    {
        $baseUrl = $this->_serverUrl;
        $url = Utils\Utils::generateUrl($baseUrl, '/projects/{project}/zones/{zone}/operations/{operation}', \OpenAPI\OpenAPI\Models\Operations\ComputeZoneOperationsGetRequest::class, $request);
        
        $options = ['http_errors' => false];
        $options = array_merge_recursive($options, Utils\Utils::getQueryParams(\OpenAPI\OpenAPI\Models\Operations\ComputeZoneOperationsGetRequest::class, $request, null));
        
        $client = Utils\Utils::configureSecurityClient($this->_defaultClient, $security);
        $httpResponse = $client->request('GET', $url, $options);
        
        $contentType = $httpResponse->getHeader('Content-Type')[0] ?? '';

        $response = new \OpenAPI\OpenAPI\Models\Operations\ComputeZoneOperationsGetResponse();
        $response->statusCode = $httpResponse->getStatusCode();
        $response->contentType = $contentType;
        $response->rawResponse = $httpResponse;
        
        if ($httpResponse->getStatusCode() === 200) {
            if (Utils\Utils::matchContentType($contentType, 'application/json')) {
                $serializer = Utils\JSON::createSerializer();
                $response->operation = $serializer->deserialize((string)$httpResponse->getBody(), 'OpenAPI\OpenAPI\Models\Shared\Operation', 'json');
            }
        }

        return $response;
    }
	
    /**
     * Retrieves a list of Operation resources contained within the specified zone.
     * 
     * @param \OpenAPI\OpenAPI\Models\Operations\ComputeZoneOperationsListRequest $request
     * @param \OpenAPI\OpenAPI\Models\Operations\ComputeZoneOperationsListSecurity $security
     * @return \OpenAPI\OpenAPI\Models\Operations\ComputeZoneOperationsListResponse
     */
	public function computeZoneOperationsList(
        \OpenAPI\OpenAPI\Models\Operations\ComputeZoneOperationsListRequest $request,
        \OpenAPI\OpenAPI\Models\Operations\ComputeZoneOperationsListSecurity $security,
    ): \OpenAPI\OpenAPI\Models\Operations\ComputeZoneOperationsListResponse
    {
        $baseUrl = $this->_serverUrl;
        $url = Utils\Utils::generateUrl($baseUrl, '/projects/{project}/zones/{zone}/operations', \OpenAPI\OpenAPI\Models\Operations\ComputeZoneOperationsListRequest::class, $request);
        
        $options = ['http_errors' => false];
        $options = array_merge_recursive($options, Utils\Utils::getQueryParams(\OpenAPI\OpenAPI\Models\Operations\ComputeZoneOperationsListRequest::class, $request, null));
        
        $client = Utils\Utils::configureSecurityClient($this->_defaultClient, $security);
        $httpResponse = $client->request('GET', $url, $options);
        
        $contentType = $httpResponse->getHeader('Content-Type')[0] ?? '';

        $response = new \OpenAPI\OpenAPI\Models\Operations\ComputeZoneOperationsListResponse();
        $response->statusCode = $httpResponse->getStatusCode();
        $response->contentType = $contentType;
        $response->rawResponse = $httpResponse;
        
        if ($httpResponse->getStatusCode() === 200) {
            if (Utils\Utils::matchContentType($contentType, 'application/json')) {
                $serializer = Utils\JSON::createSerializer();
                $response->operationList = $serializer->deserialize((string)$httpResponse->getBody(), 'OpenAPI\OpenAPI\Models\Shared\OperationList', 'json');
            }
        }

        return $response;
    }
	
    /**
     * Waits for the specified Operation resource to return as `DONE` or for the request to approach the 2 minute deadline, and retrieves the specified Operation resource. This method waits for no more than the 2 minutes and then returns the current state of the operation, which might be `DONE` or still in progress. This method is called on a best-effort basis. Specifically: - In uncommon cases, when the server is overloaded, the request might return before the default deadline is reached, or might return after zero seconds. - If the default deadline is reached, there is no guarantee that the operation is actually done when the method returns. Be prepared to retry if the operation is not `DONE`. 
     * 
     * @param \OpenAPI\OpenAPI\Models\Operations\ComputeZoneOperationsWaitRequest $request
     * @param \OpenAPI\OpenAPI\Models\Operations\ComputeZoneOperationsWaitSecurity $security
     * @return \OpenAPI\OpenAPI\Models\Operations\ComputeZoneOperationsWaitResponse
     */
	public function computeZoneOperationsWait(
        \OpenAPI\OpenAPI\Models\Operations\ComputeZoneOperationsWaitRequest $request,
        \OpenAPI\OpenAPI\Models\Operations\ComputeZoneOperationsWaitSecurity $security,
    ): \OpenAPI\OpenAPI\Models\Operations\ComputeZoneOperationsWaitResponse
    {
        $baseUrl = $this->_serverUrl;
        $url = Utils\Utils::generateUrl($baseUrl, '/projects/{project}/zones/{zone}/operations/{operation}/wait', \OpenAPI\OpenAPI\Models\Operations\ComputeZoneOperationsWaitRequest::class, $request);
        
        $options = ['http_errors' => false];
        $options = array_merge_recursive($options, Utils\Utils::getQueryParams(\OpenAPI\OpenAPI\Models\Operations\ComputeZoneOperationsWaitRequest::class, $request, null));
        
        $client = Utils\Utils::configureSecurityClient($this->_defaultClient, $security);
        $httpResponse = $client->request('POST', $url, $options);
        
        $contentType = $httpResponse->getHeader('Content-Type')[0] ?? '';

        $response = new \OpenAPI\OpenAPI\Models\Operations\ComputeZoneOperationsWaitResponse();
        $response->statusCode = $httpResponse->getStatusCode();
        $response->contentType = $contentType;
        $response->rawResponse = $httpResponse;
        
        if ($httpResponse->getStatusCode() === 200) {
            if (Utils\Utils::matchContentType($contentType, 'application/json')) {
                $serializer = Utils\JSON::createSerializer();
                $response->operation = $serializer->deserialize((string)$httpResponse->getBody(), 'OpenAPI\OpenAPI\Models\Shared\Operation', 'json');
            }
        }

        return $response;
    }
}