<?php

/**
 * Code generated by Speakeasy (https://speakeasyapi.dev). DO NOT EDIT.
 */

declare(strict_types=1);

namespace OpenAPI\OpenAPI;

class Operations 
{

	// SDK private variables namespaced with _ to avoid conflicts with API models
	private \GuzzleHttp\ClientInterface $_defaultClient;
	private \GuzzleHttp\ClientInterface $_securityClient;
	private string $_serverUrl;
	private string $_language;
	private string $_sdkVersion;
	private string $_genVersion;	

	/**
	 * @param \GuzzleHttp\ClientInterface $defaultClient
	 * @param \GuzzleHttp\ClientInterface $securityClient
	 * @param string $serverUrl
	 * @param string $language
	 * @param string $sdkVersion
	 * @param string $genVersion
	 */
	public function __construct(\GuzzleHttp\ClientInterface $defaultClient, \GuzzleHttp\ClientInterface $securityClient, string $serverUrl, string $language, string $sdkVersion, string $genVersion)
	{
		$this->_defaultClient = $defaultClient;
		$this->_securityClient = $securityClient;
		$this->_serverUrl = $serverUrl;
		$this->_language = $language;
		$this->_sdkVersion = $sdkVersion;
		$this->_genVersion = $genVersion;
	}
	
    /**
     * Flight Status at Arrival Airport
     * 
     * Status of all arrivals at a given airport up to 4 hours from the provided date time.
     * 
     * @param \OpenAPI\OpenAPI\Models\Operations\OperationsFlightstatusArrivalsByAirportCodeAndFromDateTimeGetRequest $request
     * @param \OpenAPI\OpenAPI\Models\Operations\OperationsFlightstatusArrivalsByAirportCodeAndFromDateTimeGetSecurity $security
     * @return \OpenAPI\OpenAPI\Models\Operations\OperationsFlightstatusArrivalsByAirportCodeAndFromDateTimeGetResponse
     */
	public function operationsFlightstatusArrivalsByAirportCodeAndFromDateTimeGet(
        \OpenAPI\OpenAPI\Models\Operations\OperationsFlightstatusArrivalsByAirportCodeAndFromDateTimeGetRequest $request,
        \OpenAPI\OpenAPI\Models\Operations\OperationsFlightstatusArrivalsByAirportCodeAndFromDateTimeGetSecurity $security,
    ): \OpenAPI\OpenAPI\Models\Operations\OperationsFlightstatusArrivalsByAirportCodeAndFromDateTimeGetResponse
    {
        $baseUrl = $this->_serverUrl;
        $url = Utils\Utils::generateUrl($baseUrl, '/operations/flightstatus/arrivals/{airportCode}/{fromDateTime}', \OpenAPI\OpenAPI\Models\Operations\OperationsFlightstatusArrivalsByAirportCodeAndFromDateTimeGetRequest::class, $request);
        
        $options = ['http_errors' => false];
        $options = array_merge_recursive($options, Utils\Utils::getQueryParams(\OpenAPI\OpenAPI\Models\Operations\OperationsFlightstatusArrivalsByAirportCodeAndFromDateTimeGetRequest::class, $request, null));
        $options = array_merge_recursive($options, Utils\Utils::getHeaders($request));
        
        $client = Utils\Utils::configureSecurityClient($this->_defaultClient, $security);
        $httpResponse = $client->request('GET', $url, $options);
        
        $contentType = $httpResponse->getHeader('Content-Type')[0] ?? '';

        $response = new \OpenAPI\OpenAPI\Models\Operations\OperationsFlightstatusArrivalsByAirportCodeAndFromDateTimeGetResponse();
        $response->statusCode = $httpResponse->getStatusCode();
        $response->contentType = $contentType;
        $response->rawResponse = $httpResponse;
        
        if ($httpResponse->getStatusCode() === 200) {
            if (Utils\Utils::matchContentType($contentType, 'application/json')) {
                $serializer = Utils\JSON::createSerializer();
                $response->operationsFlightstatusArrivalsByAirportCodeAndFromDateTimeGet200ApplicationJSONObject = $serializer->deserialize((string)$httpResponse->getBody(), 'array<string, mixed>', 'json');
            }
        }

        return $response;
    }
	
    /**
     * Flight Status
     * 
     * Status of a particular flight (boarding, delayed, etc.).
     * 
     * @param \OpenAPI\OpenAPI\Models\Operations\OperationsFlightstatusByFlightNumberAndDateGetRequest $request
     * @param \OpenAPI\OpenAPI\Models\Operations\OperationsFlightstatusByFlightNumberAndDateGetSecurity $security
     * @return \OpenAPI\OpenAPI\Models\Operations\OperationsFlightstatusByFlightNumberAndDateGetResponse
     */
	public function operationsFlightstatusByFlightNumberAndDateGet(
        \OpenAPI\OpenAPI\Models\Operations\OperationsFlightstatusByFlightNumberAndDateGetRequest $request,
        \OpenAPI\OpenAPI\Models\Operations\OperationsFlightstatusByFlightNumberAndDateGetSecurity $security,
    ): \OpenAPI\OpenAPI\Models\Operations\OperationsFlightstatusByFlightNumberAndDateGetResponse
    {
        $baseUrl = $this->_serverUrl;
        $url = Utils\Utils::generateUrl($baseUrl, '/operations/flightstatus/{flightNumber}/{date}', \OpenAPI\OpenAPI\Models\Operations\OperationsFlightstatusByFlightNumberAndDateGetRequest::class, $request);
        
        $options = ['http_errors' => false];
        $options = array_merge_recursive($options, Utils\Utils::getQueryParams(\OpenAPI\OpenAPI\Models\Operations\OperationsFlightstatusByFlightNumberAndDateGetRequest::class, $request, null));
        $options = array_merge_recursive($options, Utils\Utils::getHeaders($request));
        
        $client = Utils\Utils::configureSecurityClient($this->_defaultClient, $security);
        $httpResponse = $client->request('GET', $url, $options);
        
        $contentType = $httpResponse->getHeader('Content-Type')[0] ?? '';

        $response = new \OpenAPI\OpenAPI\Models\Operations\OperationsFlightstatusByFlightNumberAndDateGetResponse();
        $response->statusCode = $httpResponse->getStatusCode();
        $response->contentType = $contentType;
        $response->rawResponse = $httpResponse;
        
        if ($httpResponse->getStatusCode() === 200) {
            if (Utils\Utils::matchContentType($contentType, 'application/json')) {
                $serializer = Utils\JSON::createSerializer();
                $response->operationsFlightstatusByFlightNumberAndDateGet200ApplicationJSONObject = $serializer->deserialize((string)$httpResponse->getBody(), 'array<string, mixed>', 'json');
            }
        }

        return $response;
    }
	
    /**
     * Flight Status at Departure Airport
     * 
     * Status of all departures from a given airport up to 4 hours from the provided date time.
     * 
     * @param \OpenAPI\OpenAPI\Models\Operations\OperationsFlightstatusDeparturesByAirportCodeAndFromDateTimeGetRequest $request
     * @param \OpenAPI\OpenAPI\Models\Operations\OperationsFlightstatusDeparturesByAirportCodeAndFromDateTimeGetSecurity $security
     * @return \OpenAPI\OpenAPI\Models\Operations\OperationsFlightstatusDeparturesByAirportCodeAndFromDateTimeGetResponse
     */
	public function operationsFlightstatusDeparturesByAirportCodeAndFromDateTimeGet(
        \OpenAPI\OpenAPI\Models\Operations\OperationsFlightstatusDeparturesByAirportCodeAndFromDateTimeGetRequest $request,
        \OpenAPI\OpenAPI\Models\Operations\OperationsFlightstatusDeparturesByAirportCodeAndFromDateTimeGetSecurity $security,
    ): \OpenAPI\OpenAPI\Models\Operations\OperationsFlightstatusDeparturesByAirportCodeAndFromDateTimeGetResponse
    {
        $baseUrl = $this->_serverUrl;
        $url = Utils\Utils::generateUrl($baseUrl, '/operations/flightstatus/departures/{airportCode}/{fromDateTime}', \OpenAPI\OpenAPI\Models\Operations\OperationsFlightstatusDeparturesByAirportCodeAndFromDateTimeGetRequest::class, $request);
        
        $options = ['http_errors' => false];
        $options = array_merge_recursive($options, Utils\Utils::getQueryParams(\OpenAPI\OpenAPI\Models\Operations\OperationsFlightstatusDeparturesByAirportCodeAndFromDateTimeGetRequest::class, $request, null));
        $options = array_merge_recursive($options, Utils\Utils::getHeaders($request));
        
        $client = Utils\Utils::configureSecurityClient($this->_defaultClient, $security);
        $httpResponse = $client->request('GET', $url, $options);
        
        $contentType = $httpResponse->getHeader('Content-Type')[0] ?? '';

        $response = new \OpenAPI\OpenAPI\Models\Operations\OperationsFlightstatusDeparturesByAirportCodeAndFromDateTimeGetResponse();
        $response->statusCode = $httpResponse->getStatusCode();
        $response->contentType = $contentType;
        $response->rawResponse = $httpResponse;
        
        if ($httpResponse->getStatusCode() === 200) {
            if (Utils\Utils::matchContentType($contentType, 'application/json')) {
                $serializer = Utils\JSON::createSerializer();
                $response->operationsFlightstatusDeparturesByAirportCodeAndFromDateTimeGet200ApplicationJSONObject = $serializer->deserialize((string)$httpResponse->getBody(), 'array<string, mixed>', 'json');
            }
        }

        return $response;
    }
	
    /**
     * Flight Status by Route
     * 
     * Status of flights between a given origin and destination on a given date.
     * 
     * @param \OpenAPI\OpenAPI\Models\Operations\OperationsFlightstatusRouteDateByOriginAndDestinationGetRequest $request
     * @param \OpenAPI\OpenAPI\Models\Operations\OperationsFlightstatusRouteDateByOriginAndDestinationGetSecurity $security
     * @return \OpenAPI\OpenAPI\Models\Operations\OperationsFlightstatusRouteDateByOriginAndDestinationGetResponse
     */
	public function operationsFlightstatusRouteDateByOriginAndDestinationGet(
        \OpenAPI\OpenAPI\Models\Operations\OperationsFlightstatusRouteDateByOriginAndDestinationGetRequest $request,
        \OpenAPI\OpenAPI\Models\Operations\OperationsFlightstatusRouteDateByOriginAndDestinationGetSecurity $security,
    ): \OpenAPI\OpenAPI\Models\Operations\OperationsFlightstatusRouteDateByOriginAndDestinationGetResponse
    {
        $baseUrl = $this->_serverUrl;
        $url = Utils\Utils::generateUrl($baseUrl, '/operations/flightstatus/route/{origin}/{destination}/{date}', \OpenAPI\OpenAPI\Models\Operations\OperationsFlightstatusRouteDateByOriginAndDestinationGetRequest::class, $request);
        
        $options = ['http_errors' => false];
        $options = array_merge_recursive($options, Utils\Utils::getQueryParams(\OpenAPI\OpenAPI\Models\Operations\OperationsFlightstatusRouteDateByOriginAndDestinationGetRequest::class, $request, null));
        $options = array_merge_recursive($options, Utils\Utils::getHeaders($request));
        
        $client = Utils\Utils::configureSecurityClient($this->_defaultClient, $security);
        $httpResponse = $client->request('GET', $url, $options);
        
        $contentType = $httpResponse->getHeader('Content-Type')[0] ?? '';

        $response = new \OpenAPI\OpenAPI\Models\Operations\OperationsFlightstatusRouteDateByOriginAndDestinationGetResponse();
        $response->statusCode = $httpResponse->getStatusCode();
        $response->contentType = $contentType;
        $response->rawResponse = $httpResponse;
        
        if ($httpResponse->getStatusCode() === 200) {
            if (Utils\Utils::matchContentType($contentType, 'application/json')) {
                $serializer = Utils\JSON::createSerializer();
                $response->operationsFlightstatusRouteDateByOriginAndDestinationGet200ApplicationJSONObject = $serializer->deserialize((string)$httpResponse->getBody(), 'array<string, mixed>', 'json');
            }
        }

        return $response;
    }
	
    /**
     * Flight Schedules
     * 
     * Scheduled flights between given airports on a given date.
     * 
     * @param \OpenAPI\OpenAPI\Models\Operations\OperationsSchedulesFromDateTimeByOriginAndDestinationGetRequest $request
     * @param \OpenAPI\OpenAPI\Models\Operations\OperationsSchedulesFromDateTimeByOriginAndDestinationGetSecurity $security
     * @return \OpenAPI\OpenAPI\Models\Operations\OperationsSchedulesFromDateTimeByOriginAndDestinationGetResponse
     */
	public function operationsSchedulesFromDateTimeByOriginAndDestinationGet(
        \OpenAPI\OpenAPI\Models\Operations\OperationsSchedulesFromDateTimeByOriginAndDestinationGetRequest $request,
        \OpenAPI\OpenAPI\Models\Operations\OperationsSchedulesFromDateTimeByOriginAndDestinationGetSecurity $security,
    ): \OpenAPI\OpenAPI\Models\Operations\OperationsSchedulesFromDateTimeByOriginAndDestinationGetResponse
    {
        $baseUrl = $this->_serverUrl;
        $url = Utils\Utils::generateUrl($baseUrl, '/operations/schedules/{origin}/{destination}/{fromDateTime}', \OpenAPI\OpenAPI\Models\Operations\OperationsSchedulesFromDateTimeByOriginAndDestinationGetRequest::class, $request);
        
        $options = ['http_errors' => false];
        $options = array_merge_recursive($options, Utils\Utils::getQueryParams(\OpenAPI\OpenAPI\Models\Operations\OperationsSchedulesFromDateTimeByOriginAndDestinationGetRequest::class, $request, null));
        $options = array_merge_recursive($options, Utils\Utils::getHeaders($request));
        
        $client = Utils\Utils::configureSecurityClient($this->_defaultClient, $security);
        $httpResponse = $client->request('GET', $url, $options);
        
        $contentType = $httpResponse->getHeader('Content-Type')[0] ?? '';

        $response = new \OpenAPI\OpenAPI\Models\Operations\OperationsSchedulesFromDateTimeByOriginAndDestinationGetResponse();
        $response->statusCode = $httpResponse->getStatusCode();
        $response->contentType = $contentType;
        $response->rawResponse = $httpResponse;
        
        if ($httpResponse->getStatusCode() === 200) {
            if (Utils\Utils::matchContentType($contentType, 'application/json')) {
                $serializer = Utils\JSON::createSerializer();
                $response->operationsSchedulesFromDateTimeByOriginAndDestinationGet200ApplicationJSONObject = $serializer->deserialize((string)$httpResponse->getBody(), 'array<string, mixed>', 'json');
            }
        }

        return $response;
    }
}