<?php

/**
 * Code generated by Speakeasy (https://speakeasyapi.dev). DO NOT EDIT.
 */

declare(strict_types=1);

namespace OpenAPI\OpenAPI;

class APICredentialsCompanyLevel 
{

	// SDK private variables namespaced with _ to avoid conflicts with API models
	private \GuzzleHttp\ClientInterface $_defaultClient;
	private \GuzzleHttp\ClientInterface $_securityClient;
	private string $_serverUrl;
	private string $_language;
	private string $_sdkVersion;
	private string $_genVersion;	

	/**
	 * @param \GuzzleHttp\ClientInterface $defaultClient
	 * @param \GuzzleHttp\ClientInterface $securityClient
	 * @param string $serverUrl
	 * @param string $language
	 * @param string $sdkVersion
	 * @param string $genVersion
	 */
	public function __construct(\GuzzleHttp\ClientInterface $defaultClient, \GuzzleHttp\ClientInterface $securityClient, string $serverUrl, string $language, string $sdkVersion, string $genVersion)
	{
		$this->_defaultClient = $defaultClient;
		$this->_securityClient = $securityClient;
		$this->_serverUrl = $serverUrl;
		$this->_language = $language;
		$this->_sdkVersion = $sdkVersion;
		$this->_genVersion = $genVersion;
	}
	
    /**
     * Get a list of API credentials
     * 
     * Returns the list of [API credentials](https://docs.adyen.com/development-resources/api-credentials) for the company account. The list is grouped into pages as defined by the query parameters.
     * 
     * To make this request, your API credential must have the following [roles](https://docs.adyen.com/development-resources/api-credentials#api-permissions):
     * * Management API—API credentials read and write
     * 
     * @param \OpenAPI\OpenAPI\Models\Operations\GetCompaniesCompanyIdApiCredentialsRequest $request
     * @param \OpenAPI\OpenAPI\Models\Operations\GetCompaniesCompanyIdApiCredentialsSecurity $security
     * @return \OpenAPI\OpenAPI\Models\Operations\GetCompaniesCompanyIdApiCredentialsResponse
     */
	public function getCompaniesCompanyIdApiCredentials(
        \OpenAPI\OpenAPI\Models\Operations\GetCompaniesCompanyIdApiCredentialsRequest $request,
        \OpenAPI\OpenAPI\Models\Operations\GetCompaniesCompanyIdApiCredentialsSecurity $security,
    ): \OpenAPI\OpenAPI\Models\Operations\GetCompaniesCompanyIdApiCredentialsResponse
    {
        $baseUrl = $this->_serverUrl;
        $url = Utils\Utils::generateUrl($baseUrl, '/companies/{companyId}/apiCredentials', \OpenAPI\OpenAPI\Models\Operations\GetCompaniesCompanyIdApiCredentialsRequest::class, $request);
        
        $options = ['http_errors' => false];
        $options = array_merge_recursive($options, Utils\Utils::getQueryParams(\OpenAPI\OpenAPI\Models\Operations\GetCompaniesCompanyIdApiCredentialsRequest::class, $request, null));
        
        $client = Utils\Utils::configureSecurityClient($this->_defaultClient, $security);
        $httpResponse = $client->request('GET', $url, $options);
        
        $contentType = $httpResponse->getHeader('Content-Type')[0] ?? '';

        $response = new \OpenAPI\OpenAPI\Models\Operations\GetCompaniesCompanyIdApiCredentialsResponse();
        $response->statusCode = $httpResponse->getStatusCode();
        $response->contentType = $contentType;
        $response->rawResponse = $httpResponse;
        
        if ($httpResponse->getStatusCode() === 200) {
            if (Utils\Utils::matchContentType($contentType, 'application/json')) {
                $serializer = Utils\JSON::createSerializer();
                $response->listCompanyApiCredentialsResponse = $serializer->deserialize((string)$httpResponse->getBody(), 'OpenAPI\OpenAPI\Models\Shared\ListCompanyApiCredentialsResponse', 'json');
            }
        }
        else if ($httpResponse->getStatusCode() === 400 or $httpResponse->getStatusCode() === 401 or $httpResponse->getStatusCode() === 403 or $httpResponse->getStatusCode() === 422 or $httpResponse->getStatusCode() === 500) {
            if (Utils\Utils::matchContentType($contentType, 'application/json')) {
                $serializer = Utils\JSON::createSerializer();
                $response->restServiceError = $serializer->deserialize((string)$httpResponse->getBody(), 'OpenAPI\OpenAPI\Models\Shared\RestServiceError', 'json');
            }
        }

        return $response;
    }
	
    /**
     * Get an API credential
     * 
     * Returns the [API credential](https://docs.adyen.com/development-resources/api-credentials) identified in the path.
     * 
     * To make this request, your API credential must have the following [roles](https://docs.adyen.com/development-resources/api-credentials#api-permissions):
     * * Management API—API credentials read and write
     * 
     * @param \OpenAPI\OpenAPI\Models\Operations\GetCompaniesCompanyIdApiCredentialsApiCredentialIdRequest $request
     * @param \OpenAPI\OpenAPI\Models\Operations\GetCompaniesCompanyIdApiCredentialsApiCredentialIdSecurity $security
     * @return \OpenAPI\OpenAPI\Models\Operations\GetCompaniesCompanyIdApiCredentialsApiCredentialIdResponse
     */
	public function getCompaniesCompanyIdApiCredentialsApiCredentialId(
        \OpenAPI\OpenAPI\Models\Operations\GetCompaniesCompanyIdApiCredentialsApiCredentialIdRequest $request,
        \OpenAPI\OpenAPI\Models\Operations\GetCompaniesCompanyIdApiCredentialsApiCredentialIdSecurity $security,
    ): \OpenAPI\OpenAPI\Models\Operations\GetCompaniesCompanyIdApiCredentialsApiCredentialIdResponse
    {
        $baseUrl = $this->_serverUrl;
        $url = Utils\Utils::generateUrl($baseUrl, '/companies/{companyId}/apiCredentials/{apiCredentialId}', \OpenAPI\OpenAPI\Models\Operations\GetCompaniesCompanyIdApiCredentialsApiCredentialIdRequest::class, $request);
        
        $options = ['http_errors' => false];
        
        $client = Utils\Utils::configureSecurityClient($this->_defaultClient, $security);
        $httpResponse = $client->request('GET', $url, $options);
        
        $contentType = $httpResponse->getHeader('Content-Type')[0] ?? '';

        $response = new \OpenAPI\OpenAPI\Models\Operations\GetCompaniesCompanyIdApiCredentialsApiCredentialIdResponse();
        $response->statusCode = $httpResponse->getStatusCode();
        $response->contentType = $contentType;
        $response->rawResponse = $httpResponse;
        
        if ($httpResponse->getStatusCode() === 200) {
            if (Utils\Utils::matchContentType($contentType, 'application/json')) {
                $serializer = Utils\JSON::createSerializer();
                $response->companyApiCredential = $serializer->deserialize((string)$httpResponse->getBody(), 'OpenAPI\OpenAPI\Models\Shared\CompanyApiCredential', 'json');
            }
        }
        else if ($httpResponse->getStatusCode() === 400 or $httpResponse->getStatusCode() === 401 or $httpResponse->getStatusCode() === 403 or $httpResponse->getStatusCode() === 422 or $httpResponse->getStatusCode() === 500) {
            if (Utils\Utils::matchContentType($contentType, 'application/json')) {
                $serializer = Utils\JSON::createSerializer();
                $response->restServiceError = $serializer->deserialize((string)$httpResponse->getBody(), 'OpenAPI\OpenAPI\Models\Shared\RestServiceError', 'json');
            }
        }

        return $response;
    }
	
    /**
     * Update an API credential.
     * 
     * Changes the API credential's roles, merchant account access, or allowed origins. The request has the new values for the fields you want to change. The response contains the full updated API credential, including the new values from the request. 
     * 
     * To make this request, your API credential must have the following [roles](https://docs.adyen.com/development-resources/api-credentials#api-permissions):
     * * Management API—API credentials read and write
     * 
     * @param \OpenAPI\OpenAPI\Models\Operations\PatchCompaniesCompanyIdApiCredentialsApiCredentialIdRequest $request
     * @param \OpenAPI\OpenAPI\Models\Operations\PatchCompaniesCompanyIdApiCredentialsApiCredentialIdSecurity $security
     * @return \OpenAPI\OpenAPI\Models\Operations\PatchCompaniesCompanyIdApiCredentialsApiCredentialIdResponse
     */
	public function patchCompaniesCompanyIdApiCredentialsApiCredentialId(
        \OpenAPI\OpenAPI\Models\Operations\PatchCompaniesCompanyIdApiCredentialsApiCredentialIdRequest $request,
        \OpenAPI\OpenAPI\Models\Operations\PatchCompaniesCompanyIdApiCredentialsApiCredentialIdSecurity $security,
    ): \OpenAPI\OpenAPI\Models\Operations\PatchCompaniesCompanyIdApiCredentialsApiCredentialIdResponse
    {
        $baseUrl = $this->_serverUrl;
        $url = Utils\Utils::generateUrl($baseUrl, '/companies/{companyId}/apiCredentials/{apiCredentialId}', \OpenAPI\OpenAPI\Models\Operations\PatchCompaniesCompanyIdApiCredentialsApiCredentialIdRequest::class, $request);
        
        $options = ['http_errors' => false];
        $body = Utils\Utils::serializeRequestBody($request, "updateCompanyApiCredentialRequest", "json");
        $options = array_merge_recursive($options, $body);
        
        $client = Utils\Utils::configureSecurityClient($this->_defaultClient, $security);
        $httpResponse = $client->request('PATCH', $url, $options);
        
        $contentType = $httpResponse->getHeader('Content-Type')[0] ?? '';

        $response = new \OpenAPI\OpenAPI\Models\Operations\PatchCompaniesCompanyIdApiCredentialsApiCredentialIdResponse();
        $response->statusCode = $httpResponse->getStatusCode();
        $response->contentType = $contentType;
        $response->rawResponse = $httpResponse;
        
        if ($httpResponse->getStatusCode() === 200) {
            if (Utils\Utils::matchContentType($contentType, 'application/json')) {
                $serializer = Utils\JSON::createSerializer();
                $response->companyApiCredential = $serializer->deserialize((string)$httpResponse->getBody(), 'OpenAPI\OpenAPI\Models\Shared\CompanyApiCredential', 'json');
            }
        }
        else if ($httpResponse->getStatusCode() === 400 or $httpResponse->getStatusCode() === 401 or $httpResponse->getStatusCode() === 403 or $httpResponse->getStatusCode() === 422 or $httpResponse->getStatusCode() === 500) {
            if (Utils\Utils::matchContentType($contentType, 'application/json')) {
                $serializer = Utils\JSON::createSerializer();
                $response->restServiceError = $serializer->deserialize((string)$httpResponse->getBody(), 'OpenAPI\OpenAPI\Models\Shared\RestServiceError', 'json');
            }
        }

        return $response;
    }
	
    /**
     * Create an API credential.
     * 
     * Creates an [API credential](https://docs.adyen.com/development-resources/api-credentials) for the company account identified in the path. In the request, you can specify which merchant accounts the new API credential will have access to, as well as its roles and allowed origins.
     * 
     * The response includes several types of authentication details:
     * * [API key](https://docs.adyen.com/development-resources/api-authentication#api-key-authentication): used for API request authentication.
     * * [Client key](https://docs.adyen.com/development-resources/client-side-authentication#how-it-works): public key used for client-side authentication.
     * * [Username and password](https://docs.adyen.com/development-resources/api-authentication#using-basic-authentication): used for basic authentication.
     * 
     * > Make sure you store the API key securely in your system. You won't be able to retrieve it later.
     * 
     * If your API key is lost or compromised, you need to [generate a new API key](https://docs.adyen.com/api-explorer/#/ManagementService/v1/post/companies/{companyId}/apiCredentials/{apiCredentialId}/generateApiKey).
     * 
     * To make this request, your API credential must have the following [roles](https://docs.adyen.com/development-resources/api-credentials#api-permissions):
     * * Management API—API credentials read and write
     * 
     * @param \OpenAPI\OpenAPI\Models\Operations\PostCompaniesCompanyIdApiCredentialsRequest $request
     * @param \OpenAPI\OpenAPI\Models\Operations\PostCompaniesCompanyIdApiCredentialsSecurity $security
     * @return \OpenAPI\OpenAPI\Models\Operations\PostCompaniesCompanyIdApiCredentialsResponse
     */
	public function postCompaniesCompanyIdApiCredentials(
        \OpenAPI\OpenAPI\Models\Operations\PostCompaniesCompanyIdApiCredentialsRequest $request,
        \OpenAPI\OpenAPI\Models\Operations\PostCompaniesCompanyIdApiCredentialsSecurity $security,
    ): \OpenAPI\OpenAPI\Models\Operations\PostCompaniesCompanyIdApiCredentialsResponse
    {
        $baseUrl = $this->_serverUrl;
        $url = Utils\Utils::generateUrl($baseUrl, '/companies/{companyId}/apiCredentials', \OpenAPI\OpenAPI\Models\Operations\PostCompaniesCompanyIdApiCredentialsRequest::class, $request);
        
        $options = ['http_errors' => false];
        $body = Utils\Utils::serializeRequestBody($request, "createCompanyApiCredentialRequest", "json");
        $options = array_merge_recursive($options, $body);
        
        $client = Utils\Utils::configureSecurityClient($this->_defaultClient, $security);
        $httpResponse = $client->request('POST', $url, $options);
        
        $contentType = $httpResponse->getHeader('Content-Type')[0] ?? '';

        $response = new \OpenAPI\OpenAPI\Models\Operations\PostCompaniesCompanyIdApiCredentialsResponse();
        $response->statusCode = $httpResponse->getStatusCode();
        $response->contentType = $contentType;
        $response->rawResponse = $httpResponse;
        
        if ($httpResponse->getStatusCode() === 200) {
            if (Utils\Utils::matchContentType($contentType, 'application/json')) {
                $serializer = Utils\JSON::createSerializer();
                $response->createCompanyApiCredentialResponse = $serializer->deserialize((string)$httpResponse->getBody(), 'OpenAPI\OpenAPI\Models\Shared\CreateCompanyApiCredentialResponse', 'json');
            }
        }
        else if ($httpResponse->getStatusCode() === 400 or $httpResponse->getStatusCode() === 401 or $httpResponse->getStatusCode() === 403 or $httpResponse->getStatusCode() === 422 or $httpResponse->getStatusCode() === 500) {
            if (Utils\Utils::matchContentType($contentType, 'application/json')) {
                $serializer = Utils\JSON::createSerializer();
                $response->restServiceError = $serializer->deserialize((string)$httpResponse->getBody(), 'OpenAPI\OpenAPI\Models\Shared\RestServiceError', 'json');
            }
        }

        return $response;
    }
}