<?php

/**
 * Code generated by Speakeasy (https://speakeasyapi.dev). DO NOT EDIT.
 */

declare(strict_types=1);

namespace OpenAPI\OpenAPI;

class BillingSubPartnerAPI 
{

	// SDK private variables namespaced with _ to avoid conflicts with API models
	private \GuzzleHttp\ClientInterface $_defaultClient;
	private \GuzzleHttp\ClientInterface $_securityClient;
	private string $_serverUrl;
	private string $_language;
	private string $_sdkVersion;
	private string $_genVersion;	

	/**
	 * @param \GuzzleHttp\ClientInterface $defaultClient
	 * @param \GuzzleHttp\ClientInterface $securityClient
	 * @param string $serverUrl
	 * @param string $language
	 * @param string $sdkVersion
	 * @param string $genVersion
	 */
	public function __construct(\GuzzleHttp\ClientInterface $defaultClient, \GuzzleHttp\ClientInterface $securityClient, string $serverUrl, string $language, string $sdkVersion, string $genVersion)
	{
		$this->_defaultClient = $defaultClient;
		$this->_securityClient = $securityClient;
		$this->_serverUrl = $serverUrl;
		$this->_language = $language;
		$this->_sdkVersion = $sdkVersion;
		$this->_genVersion = $genVersion;
	}
	
    /**
     * Get all transfers
     * 
     * Returns the entire list of transfers created by your sub-partners.
     * 
     * @param \OpenAPI\OpenAPI\Models\Operations\GetAllTransfersRequest $request
     * @return \OpenAPI\OpenAPI\Models\Operations\GetAllTransfersResponse
     */
	public function getAllTransfers(
        \OpenAPI\OpenAPI\Models\Operations\GetAllTransfersRequest $request,
    ): \OpenAPI\OpenAPI\Models\Operations\GetAllTransfersResponse
    {
        $baseUrl = $this->_serverUrl;
        $url = Utils\Utils::generateUrl($baseUrl, '/v1/sub-partner/transfers');
        
        $options = ['http_errors' => false];
        $options = array_merge_recursive($options, Utils\Utils::getQueryParams(\OpenAPI\OpenAPI\Models\Operations\GetAllTransfersRequest::class, $request, null));
        
        $httpResponse = $this->_defaultClient->request('GET', $url, $options);
        
        $contentType = $httpResponse->getHeader('Content-Type')[0] ?? '';

        $response = new \OpenAPI\OpenAPI\Models\Operations\GetAllTransfersResponse();
        $response->statusCode = $httpResponse->getStatusCode();
        $response->contentType = $contentType;
        $response->rawResponse = $httpResponse;
        
        if ($httpResponse->getStatusCode() === 200) {
            if (Utils\Utils::matchContentType($contentType, 'application/json')) {
                $serializer = Utils\JSON::createSerializer();
                $response->getAllTransfers200ApplicationJSONObject = $serializer->deserialize((string)$httpResponse->getBody(), 'OpenAPI\OpenAPI\Models\Operations\GetAllTransfers200ApplicationJSON', 'json');
            }
        }

        return $response;
    }
	
    /**
     * Get sub-partner balance
     * 
     * This request can be made only from a whitelisted IP.  
     * If IP whitelisting is disabled, this request can be made by any user that has an API key.
     * 
     * @param \OpenAPI\OpenAPI\Models\Operations\GetSubPartnerBalanceRequest $request
     * @return \OpenAPI\OpenAPI\Models\Operations\GetSubPartnerBalanceResponse
     */
	public function getSubPartnerBalance(
        \OpenAPI\OpenAPI\Models\Operations\GetSubPartnerBalanceRequest $request,
    ): \OpenAPI\OpenAPI\Models\Operations\GetSubPartnerBalanceResponse
    {
        $baseUrl = $this->_serverUrl;
        $url = Utils\Utils::generateUrl($baseUrl, '/v1/sub-partner/balance/{id}', \OpenAPI\OpenAPI\Models\Operations\GetSubPartnerBalanceRequest::class, $request);
        
        $options = ['http_errors' => false];
        $options = array_merge_recursive($options, Utils\Utils::getHeaders($request));
        
        $httpResponse = $this->_defaultClient->request('GET', $url, $options);
        
        $contentType = $httpResponse->getHeader('Content-Type')[0] ?? '';

        $response = new \OpenAPI\OpenAPI\Models\Operations\GetSubPartnerBalanceResponse();
        $response->statusCode = $httpResponse->getStatusCode();
        $response->contentType = $contentType;
        $response->rawResponse = $httpResponse;
        
        if ($httpResponse->getStatusCode() === 200) {
            if (Utils\Utils::matchContentType($contentType, 'application/json')) {
                $serializer = Utils\JSON::createSerializer();
                $response->getSubPartnerBalance200ApplicationJSONObject = $serializer->deserialize((string)$httpResponse->getBody(), 'OpenAPI\OpenAPI\Models\Operations\GetSubPartnerBalance200ApplicationJSON', 'json');
            }
        }

        return $response;
    }
	
    /**
     * Get sub-partners
     * 
     * This method returns the entire list of your sub-partners.
     * 
     * @param \OpenAPI\OpenAPI\Models\Operations\GetSubPartnersRequest $request
     * @return \OpenAPI\OpenAPI\Models\Operations\GetSubPartnersResponse
     */
	public function getSubPartners(
        \OpenAPI\OpenAPI\Models\Operations\GetSubPartnersRequest $request,
    ): \OpenAPI\OpenAPI\Models\Operations\GetSubPartnersResponse
    {
        $baseUrl = $this->_serverUrl;
        $url = Utils\Utils::generateUrl($baseUrl, '/v1/sub-partner');
        
        $options = ['http_errors' => false];
        $options = array_merge_recursive($options, Utils\Utils::getQueryParams(\OpenAPI\OpenAPI\Models\Operations\GetSubPartnersRequest::class, $request, null));
        
        $httpResponse = $this->_defaultClient->request('GET', $url, $options);
        
        $contentType = $httpResponse->getHeader('Content-Type')[0] ?? '';

        $response = new \OpenAPI\OpenAPI\Models\Operations\GetSubPartnersResponse();
        $response->statusCode = $httpResponse->getStatusCode();
        $response->contentType = $contentType;
        $response->rawResponse = $httpResponse;
        
        if ($httpResponse->getStatusCode() === 200) {
        }

        return $response;
    }
	
    /**
     * Get transfer
     * 
     * Get the actual information about the transfer. You need to provide the transfer ID in the request.
     * 
     * @param \OpenAPI\OpenAPI\Models\Operations\GetTransferRequest $request
     * @return \OpenAPI\OpenAPI\Models\Operations\GetTransferResponse
     */
	public function getTransfer(
        \OpenAPI\OpenAPI\Models\Operations\GetTransferRequest $request,
    ): \OpenAPI\OpenAPI\Models\Operations\GetTransferResponse
    {
        $baseUrl = $this->_serverUrl;
        $url = Utils\Utils::generateUrl($baseUrl, '/v1/sub-partner/transfer/{id}', \OpenAPI\OpenAPI\Models\Operations\GetTransferRequest::class, $request);
        
        $options = ['http_errors' => false];
        
        $httpResponse = $this->_defaultClient->request('GET', $url, $options);
        
        $contentType = $httpResponse->getHeader('Content-Type')[0] ?? '';

        $response = new \OpenAPI\OpenAPI\Models\Operations\GetTransferResponse();
        $response->statusCode = $httpResponse->getStatusCode();
        $response->contentType = $contentType;
        $response->rawResponse = $httpResponse;
        
        if ($httpResponse->getStatusCode() === 200) {
            if (Utils\Utils::matchContentType($contentType, 'application/json')) {
                $serializer = Utils\JSON::createSerializer();
                $response->getTransfer200ApplicationJSONObject = $serializer->deserialize((string)$httpResponse->getBody(), 'OpenAPI\OpenAPI\Models\Operations\GetTransfer200ApplicationJSON', 'json');
            }
        }

        return $response;
    }
}